@charset "utf-8";

.container{padding-bottom:180px;}
.container.sub_container{padding-bottom:0}


.container .heading_wrap{position:relative;height: 360px;background-repeat: no-repeat;background-position: 50% 0%;}
.container .heading_wrap .heading_area{display: flex;max-width: 1920px;height: 360px;margin: 0 auto;justify-content: center;align-items: center;flex-direction: column;}
.container .heading_wrap h2.tit{color:#fff;text-align: center;font-size: 56px;font-weight: 500;line-height:56px;max-width: 1920px;font-family: 'Gotham';}
.container .heading_wrap h2.tit em{display:block;font-size:24px;line-height:32px;}
.container .heading_wrap p{color:#fff;font-size:20px;font-weight:500;line-height:29px;text-align:center;margin-top:12px;}

.container .contactus .heading_wrap{background-image:url('../images/bg_contactus.png');}
.container .career .heading_wrap{background-image:url('../images/bg_career.png');}
.container .rss .heading_wrap{background-image:url('../images/bg_rss.png');}

.content .cont_inner{padding-top:60px;}

.tit_wrap{position:relative;margin-bottom: 40px;}
.tit_area{display:flex;position:relative; flex-direction:row;}
.tit_wrap .tit{overflow:hidden;font-size:36px;font-weight:700;line-height:52px;color:var(--point);}
.tit_wrap .tit.en {font-size:48px; font-weight:500; font-family: 'Gotham';}
.tit_wrap .tit.en span{color:#999}
.tit_wrap h3.tit{font-size:28px;line-height:41px;}
.tit_wrap p{font-size:18px;line-height:26px;margin-top:24px;padding-bottom:20px;}

.bg_sky{background-color:#F5F5FD;}
.bg_black{background-color:#111;}

.point{color:var(--point);}

body.is_pc  img.pc {display:block}
body.is_pc  img.mo {display:none}
body.is_mobile  img.mo {display:block}
body.is_mobile  img.pc {display:none}

/*business*/
.container.sub_container .heading_wrap{height:auto;padding: 105px 0 79px;}
.container.sub_container .heading_wrap .heading_area{height: auto;}
.sub_container .tab_menu.type03 > ul{justify-content: center;}
.top_visual{position:relative; max-width:1920px;max-height:624px; width:100%; margin:0 auto; height:800px; }
.top_visual img {position:absolute; top:0; left:0; display:block; height:100%;width: 100%; object-fit:cover; }
.top_visual .txt_box{position: absolute;top: 50%;left: 50%;transform: translate(-50% ,-50%);color: #fff;max-width: 680px;text-align: center;z-index:1;}
.top_visual .txt_box .txt{font-family: 'Gotham';font-size: 36px;font-weight: 600;line-height: 48px;}
.top_visual::after{content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(25, 25, 25, .2);overflow: hidden;}
.elle .top_visual .txt_box .txt{font-family:'Elle Gabor Std';}
.cosmopolitan .top_visual .txt_box .txt{font-family:'News Gothic Extra Condensed';}
.esquire .top_visual .txt_box .txt{font-family: 'TT Norms';}
.studio .top_visual .txt_box .txt{font-family: 'Noto Sans KR';}



[class*="section"]{padding:120px 0;max-width:1920px;margin:0 auto;}
[class*="section"] .cont_inner{padding-top:0;}
.section1 .tit_wrap{margin-bottom:24px;}
.cont_area{display:flex;gap:246px;}
.cont_area.type2 {flex-wrap: wrap;justify-content: space-between;gap:0;}
.cont_area+.cont_area{border-top:1px solid #DBDBDB;    margin-top: 120px;padding-top: 120px;}
.cont_area.type2 .txt_wrap{margin-top:108px;width: 55%;}
.sns_list{width:52%;}
.txt_wrap{width:100%;}
.txt_wrap strong{font-size: 24px;font-weight: 700;line-height: 35px;}
.txt_wrap p{margin-top:16px;font-size: 18px;font-weight: 500;line-height: 26px;color:#666;}
.section2{padding-bottom:180px;}
.section3 {padding-bottom:180px;}
.section3 .tit_wrap .tit{color:#fff;}
[class*="section"].table{overflow:hidden;}

.studio .section2{padding-bottom:120px;}
.section2 .sec_list ul{display:flex;flex-wrap:wrap;column-gap:40px;}
.section2 .sec_list ul li{width:calc(33% - 24px);border-bottom:1px solid #DBDBDB;margin-bottom:48px;padding-bottom:48px;}
.section2 .sec_list ul li:nth-last-child(-n+3){border-bottom:0;margin-bottom:0;padding-bottom:0;}
.section2 .sec_list ul li i{display: block;background-repeat: no-repeat;background-position: center;background-size: 48px 48px;height: 48px; width: 48px;}
.section2 .sec_list ul li h4{margin-top:20px;font-size:22px;line-height:32px;color:var(--point);font-weight:700;}
.section2 .sec_list ul li h4 span{font-weight:500;display:block;font-family: 'Gotham';line-height:28px;letter-spacing: 0;}
.section2 .sec_list ul li p{font-size:18px;line-height:26px;margin-top:12px;letter-spacing: -0.015em;}

.section2 .sec_list ul li i.icon1{background-image: url('../images/ico_insta.png');}
.section2 .sec_list ul li i.icon2{background-image: url('../images/ico_ad.png');}
.section2 .sec_list ul li i.icon3{background-image: url('../images/ico_imc.png');}
.section2 .sec_list ul li i.icon4{background-image: url('../images/ico_festival.png');}
.section2 .sec_list ul li i.icon5{background-image: url('../images/ico_plan.png');}
.section2 .sec_list ul li i.icon6{background-image: url('../images/ico_mag.png');}

.cont_wrap .sec_cont{display:flex;flex-wrap:wrap;gap:24px;}
.cont_wrap .sec_cont:nth-child(even){flex-direction:row-reverse}
.cont_wrap .sec_cont+.sec_cont{margin-top:80px;}
.sec_cont .txt_area{width:39%}
.sec_cont .txt_area strong{font-family:'Gotham';font-size: 28px;font-weight: 500;line-height: 32px;}
.sec_cont .txt_area p{font-size:18px;line-height:26px;margin-top:16px;color:#666}
.sec_cont .img_area{overflow: hidden;position: relative;width: 59%;height: 0;padding-top: 20%;}
.sec_cont .img_area img{display: block; position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}

.table{display: table;table-layout: fixed;width: 100%;}
.table_cell{display: table-cell;vertical-align: middle;width: 100%;height: 100%;}
.row_first{width: 40%;}
.row_last {padding-left:40%}
.row_last .txt{color:#fff;margin-top:48px;}
.row_last .txt h4{font-size:36px;line-height:52px;}
.row_last .txt strong{display:inline-block;position:relative;font-family:'Gotham';font-size:60px;line-height:64px;font-weight:500;}
.row_last .txt strong:after{content:'';position:absolute;bottom:-6px;left:0;background-color: rgba(255, 255, 255, .5);width:100%;height:24px;}
.row_last .txt em{display:block;font-size:40px;line-height:48px;font-family:'Gotham';margin-top:12px;}
.row_last .txt p{font-size:18px;line-height:26px;margin-top:16px;}
.row_last .img img{width: 57vw;max-width: none;}
.row_last .txt .txt_cont{margin-top:40px;}
.row_last .txt .txt_cont dl+dl{margin-top:32px;}
.row_last .txt .txt_cont dl dt{font-size:22px;line-height:35px;}
.row_last .txt .txt_cont dl dd{margin-top:8px;font-size:18px;line-height:26px;}

.section_art{padding-top:180px;padding-bottom:0;}

.section4{overflow: hidden;}
.section4 .list+.list{margin-top:100px;}
.slide_magazine{position:relative;}
.slide_magazine .item .img{overflow: hidden;position: relative;width:100%;height: 0;padding-top:133.335%;}
.slide_magazine .item .img img{display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}
.slide_magazine .item .txt{margin-top:16px;}
.slide_magazine .item .txt p{font-size:18px;line-height:26px;}

.section5{padding:60px 0;}
.section5 .cont_sec{padding:0;}
.section5 .cont_sec:first-child{padding:0;}
[class*="section"] .cont_sec .txt p{color:#666}
.section5 .btn_area{margin-top:40px;gap:24px;flex-wrap:wrap;    justify-content: flex-start;}
.section5 .btn_area .btn{width:calc(25% - 18px);background-color: transparent;justify-content: flex-start;}
.section5 .btn_area{position: relative;margin-top:40px;gap:24px;flex-wrap:wrap;}
.section5 .btn_area .btn.ico_down:after{content: '';position: absolute;top: 50%;right:20px;width: 16px;height: 16px;background: url('../images/ico_download.png')0/100%;transform: translateY(-50%);}

.section_contact{position: relative;max-width: 1920px;max-height: 398px;width: 100%;margin: 0 auto;height: 800px;}
.section_contact:after {content: '';display: block; width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(17, 17, 17, .6);overflow: hidden;}
.section_contact img{    position: absolute;top: 0;left: 0;display: block;height: 100%;object-fit: cover;width:100%;}
.section_contact .txt_box{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
.section_contact .cont_inner{display:flex;flex-wrap:wrap;justify-content: space-between;padding-top:60px;padding-bottom:60px;}
.section_contact .tit_wrap .tit{color:#fff;}
.section_contact .cont_wrap{margin-top:128px;width: 57.5%;z-index:1;}
.section_contact .cont_wrap p{font-size:18px;font-weight:500;color:#fff;line-height:26px;}
.section_contact .btn_area{margin-top:40px;gap:24px; justify-content: flex-start;}
.section_contact .btn_area .btn{flex:1;background-color: transparent;color: #fff;}
.section_contact .btn_area .btn.ico_plus span{position: relative;padding-right: 20px;}
.section_contact .btn_area .btn.ico_plus span:after{content: '';position: absolute;top: 50%;right: 0;width: 16px;height: 16px;background: url('../images/ico_plus_w.png')0/100%;transform: translateY(-50%);}
.section_contact .btn_area.half .btn{flex:none;width:50%;}

.partner_list ul{display: flex;flex-wrap: wrap;column-gap: 24px;row-gap:48px;justify-content: space-between;}
.partner_list ul li{width: calc(50% - 12px);margin-left: 0;border:1px solid #DBDBDB} 
.partner_list ul li .box{position:relative;}
.partner_list ul li .box a{display: block;position: relative;width: 100%;height: 100%;}
.partner_list ul li .box a:hover .img img{transform: scale(1.1);}
.partner_list ul li .img{overflow: hidden;position: relative;width: 100%;height: 0;padding-top:62.8%;}
.partner_list ul li .img img{display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transition: all .3s linear;}
.partner_list ul li .txt_info{padding: 24px;display:flex;align-items:center;justify-content:space-between;}
.partner_list ul li .txt_info p{font-size:20px;line-height:29px;}
.partner_list ul li .txt_info p.more{font-size:14px;line-height:20px;padding-right:20px;background: transparent url('../images/ico_plus_g.png') no-repeat right center / 16px}

.partner_link{margin-top:60px;border-top:2px solid #111;}
.partner_link ul{display:flex;align-items:center;flex-wrap:wrap;}
.partner_link ul li{width: 20%;text-align: center;padding:40px 23px}

.studio .section4 .btn_area{margin-top:40px;}
.studio .section4 .btn_area .btn.ico_plus span{position: relative;padding-right: 20px;}
.studio .section4 .btn_area .btn.ico_plus span:after{content: '';position: absolute;top: 50%;right: 0;width: 16px;height: 16px;background: url('../images/ico_plus_g.png')0/100%;transform: translateY(-50%);}


/* .txt_wrap h5{font-weight:500;font-size: 24px;line-height:35px;}
.txt_wrap h5 strong{font-size:28px;line-height:32px;display: block;} */
.txt_wrap h4{font-weight:500;font-size:28px;line-height:32px;font-family: 'Gotham';}
.txt_wrap h4 span{display:block;font-size:24px;line-height:35px;font-family: 'Noto Sans KR';margin-bottom:8px}
.txt_wrap h5{font-family: 'Noto Sans KR';font-size: 24px;font-weight: 500;line-height: 35px;letter-spacing: -0.01em;text-align: left;}
.txt_wrap p+h5{margin-top:60px;}

.yeet .cont_area.type2 .txt_wrap{margin-top:75px}
.sec_yeet{padding:180px 0; overflow: hidden;}
.content .sec_yeet .cont_inner{padding-top:0;}
.sec_yeet .cont_box{display:flex;align-items:flex-start;justify-content:space-between;column-gap: 330px;}
.sec_yeet .cont_box .box_area i{display: block;background-repeat: no-repeat;background-position: center;background-size: 180px 180px;height: 180px; width: 180px;}
.sec_yeet .cont_box .box_area i.circle1{background-image: url('../images/temp/img_yeet_circle1.png');}
.sec_yeet .cont_box .box_area i.circle2{background-image: url('../images/temp/img_yeet_circle2.png');}
.sec_yeet .cont_box .box_area i.circle3{background-image: url('../images/temp/img_yeet_circle3.png');}

.sec_yeet .list .cont_inner{position: relative;}
.sec_yeet .sns_list {width:auto;margin-top:24px; position: absolute;top: 180px;left:106px;}
.sec_yeet .list+.list{margin-top:180px;}
.sec_yeet .cont_box .txt_wrap .txt_p p+p{margin-top:32px;}
.txt_wrap dl{margin-top:40px;}
.txt_wrap dl dt{font-size:20px;line-height:28px;font-family: 'Gotham';}
.txt_wrap dl dd{margin-top:12px;font-size:18px;line-height:26px;font-family: 'Noto Sans KR';color:#666;}
.txt_wrap dl dd+dt{margin-top:24px;}
.txt_wrap dl dd a{text-decoration:underline;}
.sec_yeet .list_sub_img{padding-top: 60px;overflow:hidden;}
.sec_yeet .list_sub_img .swiper-slide{width: 276px; padding: 0 10px; text-align: center;}
.sec_yeet .list_sub_img .swiper-slide a{display: block;overflow: hidden;position: relative;width: 100%;height: 0;padding-top: 143.75%;}
.sec_yeet .list_sub_img .swiper-slide a img{display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}

/*Contact us - 문의하기*/
.tit_wrap02{position: relative;margin-bottom:46px;}
.tit_wrap02 p.stit .ess {margin-right:10px;}
.stit {display:block; font-size:18px; line-height:68px; font-weight:500;border-top:2px solid #111; border-bottom: 1px solid #DBDBDB;}

.input_type02 {display:flex; flex-direction: column;}
.input_type02.line > li{border-bottom:1px solid #DBDBDB; padding:32px 17% 32px 0}
.input_type02.line > li:first-child{border-top:0; padding-top:0;padding-right:6%;}
.input_type02.line > li:nth-child(2){margin-top:14px;}
.input_type02 li .radio_list li {padding:0; width:auto; border-bottom:0;margin-bottom:14px;}
.input_type02 li .radio_list li:last-child {margin-right:0}
.input_type02 li dl { display:flex; align-items: flex-start;}
.input_type02 li dl dt { width:17%; color:#333; vertical-align:middle; flex-shrink:0;  padding-top:14px; min-width:204px;}
.input_type02 li dl dt.non_inp { padding-top:0}
.input_type02 li dl dd { flex-grow:1;position:relative;}

.agree_area{margin-top:40px;}
.agree_area .chk_agree{font-size:16px;font-weight:500;color:#111}
.agree_area .chk_agree a{font-weight:700;color:var(--point);}

/*career - recruitment */
.top_sort_wrap + .body_cont01{margin-top:24px;}

.board_st01 .board_list{position: relative;display: flex;}
.board_st01 .status{width:12%}
.board_st01 .status .point{color:var(--point);}
.board_st01 .b_badge{display: inline-block;padding: 2px 8px;font-size:14px;font-weight:500;line-height:1.4;}
.board_st01 .b_badge.end{color:#666;background-color:#F7F7F7;}
.board_st01 .b_badge.ing{color:#fff;background-color:var(--point);}
.board_st01 dl{position: relative;display: table;table-layout: fixed;width: 100%;}
.board_st01 dl dt , .board_st01 dl dd {display:table-cell}
.board_st01 .b_cate{font-size:16px;font-weight:700;line-height: 1.4;box-sizing: border-box;white-space: nowrap;width:20%;}
.board_st01 .b_cate.point{color:var(--point);}
.board_st01 .b_tit{font-size: 18px;font-weight: 500;line-height: 1.4;padding: 0 2%;}
.board_st01 .b_tit a{display:block; white-space:nowrap; text-overflow: ellipsis; overflow:hidden }
.board_st01 .b_date{width:23%;white-space: nowrap;box-sizing: border-box;text-align: right;color: #666;font-weight:400;}

.board_st01.view_cont{margin-top:24px;}
.board_st01.view_cont .board_detail{border-top: 1px solid #DBDBDB;margin-top: 28px;padding: 40px 11.167%;margin-left: 0;}
.board_st01.view_cont .board_detail .view{background: #fff;padding: 0;line-height: 1.8;color:#111;font-weight:400;}
.board_st01.view_cont .board_detail .btn_area{margin-bottom:52px;}
.board_st01.view_cont .b_tit{word-break:break-all;}

.career{overflow: hidden;}
.career .top_sort_wrap{margin-top:40px;}
.career .top_sort_wrap .btn{min-width:99px}
.wrap_help .btn_ico{position: relative;display: flex;align-items: center;gap:4px;line-height: 1;}
.wrap_help .btn_ico::after{content:'';width: 16px;height: 16px; top:1px; background: transparent url(../images/ico_tooltip.svg) no-repeat right top / 100% auto;}
.wrap_help .btn_ico span{color:var(--point);font-weight:500;}

.help_txt li{padding:16px 0;}
.help_txt li:first-child{padding-top:0;}
.help_txt li:last-child{padding-bottom:0;}
.help_txt li:not(:last-child){border-bottom:1px solid #DBDBDB;}
.help_txt li strong{font-size:18px;line-height:26px;}
.help_txt li p{line-height: 23px;margin-top:8px;}

/*career - FAQ*/
[data-accordion-content] { max-height: 0; overflow: hidden; transition: max-height .1s }
.board_st01{border-top: 2px solid #111;}
.board_st01 li{padding:28px 0;border-bottom: 1px solid #DBDBDB;}
.board_st01.faq_cont li{padding-bottom:0;}
.board_st01.faq_cont .board_list{position:relative;display:block;}
.board_st01 .board_list .b_btn{display: block;position: relative;padding-left:20px;}
.board_st01 .board_list .b_btn:before{content:'Q.';position:absolute;top:0;left:0;color:var(--point);line-height:1.2;font-size:18px;font-weight:500;}
.board_st01 .board_list .b_btn::after{content: '';position: absolute;top:0;right: 0;width:24px;height:24px;background:url('../images/ic_arrow_down_24.png')right center no-repeat;background-size: 24px auto;}
.board_st01 .board_list .b_btn.is-expanded::after{background-image:url('../images/ic_arrow_up_24.png');}
.board_st01.faq_cont .board_list .b_tit{font-size: 18px;font-weight: 500;line-height: 1.4;color:var(--point);padding:0;}
.board_st01.faq_cont .board_detail{margin-top: 28px;background:#F7F7F7;}
.board_st01 .board_detail div.view{font-size: 16px;font-weight: 500;color:#666;line-height: 28px;background-color: #F7F7F7;}
.board_st01.faq_cont .board_detail .view{position:relative;padding:32px 28px 32px 45px;border-top: 1px solid #DBDBDB;line-height: 1.8;}
.board_st01.faq_cont .board_detail .view::before{content:'A.';position:absolute;top:32px;left:28px;line-height:1.8;}


/*HLL life*/
.life_slide{position:relative;padding:60px 0 120px;}
.life_slide .swiper{overflow: hidden;}
.life_slide .swiper .swiper-slide{display:flex;align-items:center;gap:60px;}
.life_slide .swiper .swiper-slide div{flex:1}
.life_slide .swiper .swiper-slide .img{overflow: hidden;position: relative;width: 100%;height: 0;padding-top: 29.584%;}
.life_slide .swiper .swiper-slide .img img{display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;}
.life_slide .swiper .swiper-slide .txt strong{display:block;margin-bottom:16px;font-size:28px;line-height:41px;}
.life_slide .swiper .swiper-slide .txt p{font-size:18px;font-weight:400;line-height:26px;color:#666;}
.life_slide .swiper-button-next,.swiper-button-prev { position: absolute; top:50%; transform: translateY(-50%); width:40px; height:40px; background: transparent url('../images/ic_arrow_right_40.svg') center center no-repeat; background-size:100% 100%; margin-top:-20px; cursor:pointer}
.life_slide .swiper-button-next {right:-80px}
.life_slide .swiper-button-prev {transform: translateY(-50%) rotate(180deg);left:-80px}
.life_slide .swiper-button-disabled { opacity:0.4; cursor:default;}

.life_list{display:flex;flex-wrap:wrap;column-gap:40px;}
.life_list li{width:calc(33.333% - 27px);padding:48px 0;border-bottom:1px solid #DBDBDB;}
.life_list li:first-child,.life_list li:nth-child(2),.life_list li:nth-child(3){padding-top: 40px;}
.life_list li:nth-last-child(-n+3) {border-bottom:0;}
.life_list li i{display: block;background-repeat: no-repeat;background-position: center;background-size: 48px 48px;height: 48px;width: 48px;}
.life_list li .tit_txt{position: relative;margin-top:20px;color:var(--point);font-size:22px;}
.life_list li .tit_txt span{display: inline-block;line-height:28px;font-family: 'Gotham';}
.life_list li .tit_txt strong{position: relative;display: inline-block;font-weight:700;line-height:32px;padding-left:24px;font-family: 'Noto Sans KR';}
.life_list li .tit_txt strong::before{content: '';display: inline-block;position: absolute;left:11.5px;top:calc(50% - 6px);width:1px;height:16px;background-color:var(--point);}
.life_list li p{font-size:18px;font-weight:500;color:#666;line-height:26px;margin-top:12px;}

.life_list li i.icon1{background-image: url('../images/ico_life01.png');}
.life_list li i.icon2{background-image: url('../images/ico_life02.png');}
.life_list li i.icon3{background-image: url('../images/ico_life03.png');}
.life_list li i.icon4{background-image: url('../images/ico_life04.png');}
.life_list li i.icon5{background-image: url('../images/ico_life05.png');}
.life_list li i.icon6{background-image: url('../images/ico_life06.png');}
.life_list li i.icon7{background-image: url('../images/ico_life07.png');}
.life_list li i.icon8{background-image: url('../images/ico_life08.png');}
.life_list li i.icon9{background-image: url('../images/ico_life09.png');}
.life_list li i.icon10{background-image: url('../images/ico_life10.png');}
.life_list li i.icon11{background-image: url('../images/ico_life11.png');}

/*process*/
.container.process{padding-bottom:0}

.step_wrap{overflow: hidden;padding:60px 0 120px;}
.step_wrap ul{display:flex;}
.step_wrap ul li{position: relative;flex:1;text-align:center;/*height: 0;padding-bottom: 20%;*/}
.step_wrap ul li:not(:last-child){margin-right:90px;}
.step_wrap ul li:not(:last-child):after{content: '';display:inline-block;background:url('../images/ico_step_right.png') no-repeat;background-size: cover;width:48px;height:48px;position: absolute;right: -65px;top: calc(50% - 24px);}
.step_wrap ul li i{display: block;margin: 0 auto;background-repeat: no-repeat;background-position: center;background-size: 48px 48px;height: 48px;width: 48px;margin-bottom:30px;}
.step_wrap ul li strong{color:var(--point);font-size:20px;display:block;}
.step_wrap ul li .st1{background-image: url('../images/ico_step1.png');}
.step_wrap ul li .st2{background-image: url('../images/ico_step2.png');}
.step_wrap ul li .st3{background-image: url('../images/ico_step3.png');}
.step_wrap ul li .st4{background-image: url('../images/ico_step4.png');}


.circle{border:1px solid var(--point);border-radius:50%;display: flex;justify-content: center;align-items: center;width:100%;}
.circle:before {content: "";display: block;padding-top: 100%;}

.process_wrap{background-color:#F5F5FD;padding:60px 0 180px;}
.process_wrap ul{background-color:#fff;padding:12px 60px;}
.process_wrap ul li{border-bottom:1px solid #DBDBDB;padding:48px 0;}
.process_wrap ul li:last-child{border-bottom:0;}
.process_wrap ul li .point{color:var(--point);font-size:24px;line-height:35px;}
.process_wrap ul li p{font-size:18px;font-weight:500;line-height:26px;color:#666;margin-top:16px;}
.info_txt{margin-top:40px;}
.info_txt p{position: relative;padding-left: 10px;font-size:14px;font-weight:400;line-height:20px;color:#666;}
.info_txt p::before{content: '';display: block;position: absolute;left: 0;top:10px;width:3px;height:3px;border-radius: 50%;background: #ccc;}
.info_txt p+p{margin-top:8px;}


/*RSS*/
.container.rss{padding-bottom:0}
.tit_wrap .tit{font-size:48px;line-height:52px;}
.cont_sec{display:flex;flex-wrap:wrap;justify-content: space-between;/*column-gap: 145px;*/padding:120px 0;}
.cont_sec:first-child{padding-top:60px;}
.cont_sec+.cont_sec{border-top:1px solid #DBDBDB;}
.cont_sec .txt{margin-top:72px;width:57.5%;}
.cont_sec .txt p{font-size:16px;font-weight:500;line-height:26px;letter-spacing: -0.01em;}
.sec_area{padding:180px 0;}
.sec_area.bg_sky {padding:60px 0;}

.subscrip_wrap ul{border-top:1px solid #111 }
.subscrip_wrap ul li{padding: 28px 0;border-bottom: 1px solid #DBDBDB;}
.subscrip_wrap dl{position: relative;display:table;table-layout: fixed;width: 100%;}
.subscrip_wrap dl dt, .subscrip_wrap dl dd{display:table-cell;}
.subscrip_wrap .s_sort{width:15%;font-size: 16px;font-weight: 700;line-height: 1.4;box-sizing: border-box;white-space: nowrap;}
.subscrip_wrap .s_link{font-size: 18px;font-weight: 500;line-height: 1.4;padding: 0 2%;}
.subscrip_wrap .s_share{width: 10%;white-space: nowrap;box-sizing: border-box;text-align: right;color: #666;}
.subscrip_wrap .btn{background-color:#FF7C21;color:#fff;font-size: 12px;width:44px;min-width: 44px;height: 20px;padding: 0 4px;}
.ico_share span{padding-left:12px;background: url('../images/ico_share.png') left center no-repeat; background-size: 8px 8px;}


.step_wrap.rss{padding:0;}
.step_wrap.rss ul li .st1{background-image: url('../images/ico_step_rss1.png');}
.step_wrap.rss ul li .st2{background-image: url('../images/ico_step_rss2.png');}
.step_wrap.rss ul li .st3{background-image: url('../images/ico_step_rss3.png');}
.step_wrap.rss ul li .st4{background-image: url('../images/ico_step_rss4.png');}
.sec_area .cont_inner{padding-top:0;}
.sec_area .cont_sec{padding:0;}
.sec_area .cont_sec .txt{margin-top:120px;}
.sec_area .btn_area{justify-content:flex-start;margin-top:40px;}
.rss .sec_area .btn_area .btn{width:333px;background-color:transparent;justify-content: flex-start;}
.rss .sec_area .btn_area .btn.ico_plus{position:relative;}
.rss .sec_area .btn_area .btn.ico_plus:after{content:'';position:absolute;top:calc(50% - 8px);right:20px;width: 16px;height: 16px;background: transparent url('../images/ico_plus_b.svg') no-repeat center / 16px auto;}


/************************* Media Query *************************/
@media (max-width:1200px){
    .sec_cont .img_area{width:100%;}
    .sec_cont .txt_area{width:100%;}
}

@media (max-width:1180px){
    .step_wrap ul li i{width:40px;height:40px;background-size:40px 40px;margin-bottom: 18px;}
    .step_wrap ul li strong{font-size:18px;}
}

@media (max-width:1024px){
    .step_wrap ul li i{width:36px;height:36px;background-size:36px 36px;margin-bottom: 14px;}
    .step_wrap ul li strong{font-size:14px;}  
}

@media (max-width: 899px){
    .board_st01 li{position:relative;padding:20px 0;}
    .board_st01 dl dt, .board_st01 dl dd{display: flex;flex-direction: column;font-size: 14px;}
    .board_st01 .b_cate, .board_st01 .b_tit, .board_st01 .b_date{width:100%;padding:0;}
    .board_st01 .b_cate{font-size:12px;}
    .board_st01 .b_tit{margin-top:8px;font-size:16px;}
    .board_st01 .b_date{flex-direction: row;padding-left: 0px;margin-top: 16px;padding-right: 0;}

    .board_st01 .board_list .b_btn:before{font-size:14px;}
    .board_st01.faq_cont .board_list .b_tit{font-size:14px;margin-top:0;}

    .board_st01.view_cont .board_list{display:block;position:relative;}
    .board_st01 .status{width:auto;position:absolute;bottom:0;right:0;}
    .board_st01 .status span{font-size:12px;font-weight:500;}
    
    .step_wrap{padding:0 0 40px;}
    .step_wrap ul{flex-wrap: wrap;}
    .step_wrap ul li{flex:none;width:calc(50% - 20px);}
    .step_wrap ul li:nth-child(odd){margin-right:40px;}
    .step_wrap ul li:nth-child(even){margin-right:0;}
    .step_wrap ul li:not(:last-child):after{width:28px;height:28px;right:-35px;top: calc(50% - 14px);}
    .step_wrap ul li:nth-child(1),.step_wrap ul li:nth-child(2){margin-bottom:39px;}    
    .step_wrap ul li:nth-child(3){order:4;margin-right:0;}
    .step_wrap ul li:nth-child(4){order:3;margin-right:40px;}
    .step_wrap ul li:nth-child(2)::after{top:auto;right:calc(50% - 14px);bottom:-34px;transform: rotate(90deg);}
    .step_wrap ul li:nth-child(3)::after{transform: rotate(180deg);left: -35px;}

    .step_wrap ul li i{width:32px;height:32px;background-size:32px 32px;margin-bottom:6px}
    .step_wrap ul li strong{font-size:14px;line-height:20px;}

    .subscrip_wrap .s_sort{width:20%;}

    .cont_area{gap:0}

    [class*="section"]{padding:100px 0; overflow: hidden;}

    .sec_cont .img_area{padding-top: 34.93%;}
    .sec_cont .txt_area strong{font-size: 20px;line-height: 28px;}
    .sec_cont .txt_area p{font-size:16px;line-height:23px;}
    
    .cont_area.type2 .txt_wrap{margin-top:0;width:100%;}

    .section2 .sec_list ul li{width:29%;}
    .section2 .sec_list ul li h4{font-size:18px;line-height:26px;}
    .section2 .sec_list ul li h4 span{line-height:24px;}
    .section2 .sec_list ul li p{font-size:16px;line-height:23px}

    .sec_yeet .cont_box{column-gap: 100px;}

}

@media (max-width: 856px){
    .section6 .cont_inner{flex-direction:column;}
    .section6 .cont_wrap{margin-top:0;width:100%;}

    .section_contact .cont_inner{flex-direction:row;}
    .section_contact .cont_wrap{width:100%;margin-top:0}
}

@media screen and (max-width: 768px) {
    .no_list{min-height: 140px;}
    .no_list p{font-size:14px;}

    .container{padding-bottom:80px;}

    .content .cont_inner{padding-top:40px;}

    .heading_wrap{padding: 0 20px;}
    .container .heading_wrap{height:180px;background-size:cover}
    .container .contactus .heading_wrap{background-image:url('../images/bg_contactus_mo.png');}
    .container .career .heading_wrap{background-image:url('../images/bg_career_mo.png');}
    .container .rss .heading_wrap{background-image:url('../images/bg_rss_mo.png');}
    .container .heading_wrap .heading_area{display: flex;max-width: 1920px;height: 180px;margin: 0 auto;justify-content: center;align-items: center;}
    .container .heading_wrap h2.tit{font-size:32px;line-height:32px;}
    .container .heading_wrap h2.tit em{font-size:14px;line-height: 20px;margin-bottom:4px;}
    .container .heading_wrap p{font-size:14px;line-height:20px;margin-top:8px;}
    .tit_wrap{margin-bottom:32px;}
    .tit_wrap .tit{font-size: 22px;font-weight: 700;line-height: 32px;}
    .tit_wrap h3.tit{font-size:20px;line-height:29px;;}
    .stit{font-size:14px;line-height:60px;}
    
    .tit_wrap02{margin-bottom:24px;}

    .input_type02.line > li{padding: 24px 0;margin-top: 0;}
    .input_type02.line > li:first-child{padding-right:0;}
    .input_type02.line > li:nth-child(2){margin-top: 0;}
    .input_type02 li dl{flex-direction: column;align-items:flex-start;}
    .input_type02 li dl dt{width: 100%;margin-bottom: 8px;padding-top: 0;}
    .input_type02 li dl dt.non_inp{margin-bottom:19px;}
    .input_type02 li dd{width:100%;}
    .input_type02 li dd .inp{width:100%;}

	.inquiry_in.input_type02 li .radio_list li{width:50%;margin-bottom:0;}
    .inquiry_in .flex{gap:8px;}
    .inquiry_in .btn{min-width:99px;padding: 0 16px;}

    .agree_area{margin-top:32px;}
    .btn_area{margin-top:40px;}
    .btn_area button{width:100%;}
    
    .tab_menu.type03{width:100%;}
    .career .top_sort_wrap{margin-top:32px;}
    .wrap_help .btn_ico span{color:transparent;font-size: 8px;}

    .board_st01.view_cont{margin-top:32px;}
    .board_st01.view_cont li{padding: 20px 0;}
    .board_st01.view_cont .b_cate{width:auto;}
    .board_st01.view_cont .b_tit{padding: 0;font-size: 16px;line-height: 1.4;}
    .board_st01.view_cont .board_detail{padding:20px 0;margin-top:20px;}
    
    .board_st01.faq_cont .board_detail{margin-top:20px;}
    .board_st01.faq_cont .board_detail .view{padding:20px 16px 20px 30px;font-size:14px;line-height:20px;}
    .board_st01.faq_cont .board_detail .view::before{top: 20px;left:16px;line-height:20px;}

    .board_st01 .board_list .b_btn::after{width:16px;height:16px;background-size:12px auto;}
    .board_st01.view_cont .board_detail .btn_area{margin-bottom:0;}

    .help_txt li strong{font-size:16px;line-height:23px;}
    .help_txt li p{font-size:14px;line-height:20px;}
    .popup_bottom{display:none;}

    /*HLL life*/
    .life_slide{padding:0 0 60px;}
    .life_slide .swiper .swiper-slide{flex-direction:column-reverse;gap:16px;}
    .life_slide .swiper .swiper-slide div{flex:none}
    .life_slide .swiper .swiper-slide .img{padding-top: 62.39%;}
    .life_slide .swiper .swiper-slide .txt strong{font-size:20px;line-height:29px;margin-bottom:12px;}
    .life_slide .swiper .swiper-slide .txt p{line-height:23px;font-size:16px;}
    .life_slide .swiper-button-prev{left:8px;}
    .life_slide .swiper-button-next{right:8px;}
    .life_slide .swiper-button-next, .swiper-button-prev{background-image:url('../images/ic_arrow_right_24.svg');top:33vw;    width: 24px;height: 24px;}
    .life_list li{width:100%;}
    .life_list li:first-child{padding-top:8px;}
    .life_list li:last-child{padding-bottom:0;}
    .life_list li:not(:last-child){border-bottom:1px solid #dbdbdb}
    .life_list li i{background-size:32px 32px;height: 32px;width: 32px;}
    .life_list li p{font-size:16px;line-height:23px;}
    .life_list li .tit_txt{font-size:18px}

    /*process*/
    .process_wrap{padding:0 0 80px;}
    .process_wrap ul{padding:0 20px}
    .process_wrap ul li:first-child{padding-top:40px;}
    .process_wrap ul li .point{font-size:20px;line-height:29px;}
    .process_wrap ul li p{font-size:16px;line-height:23px;margin-top:12px;}
    .info_txt{margin-top:32px;}
    .life_list li .tit_txt span{line-height:24px;}
    .life_list li .tit_txt strong{line-height:26px;}

    /*rss*/
    .cont_sec{padding:40px 0;}
    .cont_sec:first-child{padding-top:0;}
    .cont_sec+.cont_sec{border-top:0;}
    .cont_sec .txt{margin-top:0;width:100%;}
    .cont_sec .tit_wrap{margin-bottom:16px;}
    .cont_sec .tit_wrap .tit{font-size:24px;}
    .container.rss .tit_wrap .tit{font-size:28px;line-height:32px;;}

    .subscrip_wrap dl dt, .subscrip_wrap dl dd{display:flex;flex-direction:column;}
    .subscrip_wrap .s_sort, .subscrip_wrap .s_link, .subscrip_wrap .s_share{padding:0;}
    .subscrip_wrap ul li{padding:20px 0;} 
    .subscrip_wrap .s_sort{font-size:12px;line-height: 1.2;}
    .subscrip_wrap .s_link{margin-top:8px;font-size:14px;}
    .subscrip_wrap .s_share{margin-top:16px;}

    .sec_area{padding:80px 0;}
    .sec_area.bg_sky { padding:48px 0}
    .sec_area .tit_wrap .tit{font-size:24px;}
    .sec_area .cont_inner{padding-top:0;}
    .sec_area .cont_sec .txt{margin-top:0;}
    .rss .sec_area .btn_area .btn{width:100%;}

    /*business*/
    .container.sub_container .heading_wrap{padding:100px 0 40px;}
    .top_visual .txt_box .txt{font-size:24px;font-weight:500;line-height:32px;}
    [class*="section"] .cont_inner{padding-top:0;}
    [class*="section"] .tit_wrap .tit.en{font-size:32px;line-height:36px;}
    .tit_wrap p{font-size: 16px;line-height: 23px;}

    .cont_area{flex-direction:column-reverse;}
    .cont_area.type2{flex-direction:row}
    .sns_list{margin-top:40px;width:100%;}
    .sns_list ul li{width:calc(20% - 6px);}
    .btn_sns:before{margin:0;}
    .section1{padding-bottom:60px}
    .cont_area.type2{margin-top:0;padding-top:100px;border-top:0;}
    .txt_wrap strong{font-size:20px;line-height:29px;}
    .txt_wrap p{line-height:23px;font-size:16px;}
    .cont_wrap .sec_cont{flex-direction:column;}
    .cont_wrap .sec_cont+.sec_cont{margin-top:40px;}

    .row_first{width:auto;}
    .row_last{padding-left:0;}
    .row_last .img img{width: 100vw;margin: 0 -20px;}
    .row_last .txt{margin-top:24px;}
    .row_last .txt h4{font-size:24px;line-height:35px;}
    .row_last .txt strong{font-size:36px;line-height:48px;}
    .row_last .txt strong:after{height:16px;bottom:6px}
    .row_last .txt em{font-size:28px;line-height:32px;margin-top:4px}
    .row_last .txt p{font-size:16x;line-height:23px;}
    .row_last .txt .txt_cont dl dt{font-size:18px;line-height:26px;}
    .row_last .txt .txt_cont dl dd{font-size:16px;line-height:23px;margin-top:12px;}

    .slide_magazine .item .txt p{font-size:16px;line-height:23px}

    .section_art{padding-bottom:0;}

    .section5{padding:48px 0;}
    .section5 .btn_area{gap:16px;}
    .section5 .btn_area .btn{width:100%;}


    .section_contact .cont_inner{padding-top:48px;padding-bottom: 48px;}
    .section_contact .cont_wrap p{line-height:23px;font-size:16px;}
    .section_contact .btn_area{flex-direction:column;gap:16px;}   
    .section_contact .btn_area .btn{flex:none;}

    .studio .section2{padding:60px 0;}
    .section2 .sec_list ul li i{width:32px;height:32px;background-size:32px 32px;}
    .section2 .sec_list ul li{width:100%;}
    .section2 .sec_list ul li:not(:last-child){border-bottom: 1px solid #DBDBDB;margin-bottom:48px;padding-bottom:48px;}



    .studio .section4{padding:80px 0;}
    .studio .section4 .tit_wrap p{padding-bottom: 0;}
    .partner_list ul {row-gap: 24px;}
    .partner_list ul li{width:100%;}
    .partner_list ul li .txt_info{padding:20px;}
    .partner_list ul li .txt_info p{font-size:16px;line-height:23px;}

    .partner_link ul{column-gap:7px;}
    .partner_link ul li{width:31%;padding:22px 10px}

    .txt_wrap h4{font-size:20px;line-height:28px;}
    .txt_wrap h4 span{font-size:18px;line-height:26px;margin-bottom:4px;}

    .yeet .section1{padding-bottom:100px;}
    .yeet .cont_area.type2{padding-top:0}
    .yeet .cont_area.type2 .txt_wrap{margin-top:0;}

    .sec_yeet{padding:80px 0 100px;}
    .sec_yeet .list+.list{margin-top:60px;}
    .sec_yeet .sns_list{position:static;margin-top:40px;}
    .sec_yeet .cont_box{flex-direction: column;row-gap:24px;}
    .sec_yeet .cont_box .box_area i{width:118px;height:118px;background-size:118px 118px}
    .sec_yeet .cont_box .txt_wrap .txt_p p+p{margin-top:16px;}
    .txt_wrap dl dt{font-size:16px;line-height:24px;}
    .txt_wrap dl dd{font-size: 16px;line-height: 23px;}
    .sec_yeet .list_sub_img{padding-top: 4cqb;}
    .sec_yeet .list_sub_img .swiper-slide{width: 157px; padding: 0 6px;}
    
    .section_contact .btn_area.half{margin-top:100px}
    .section_contact .btn_area.half .btn{width:100%;}
    
}

@media screen and (max-width: 359px) {
    .step_wrap ul li i{width:28px;height:28px;background-size:28px 28px;}
    .step_wrap ul li strong{font-size:12px;line-height:18px;}
}

@media screen and (max-width: 319px) {
    .step_wrap ul li i{width:26px;height:26px;background-size:26px 26px;margin-bottom:4px;}
    .step_wrap ul li strong{font-size:10px;line-height:14px;}
}