.main_header{position: fixed;top: 0;left: 0;right: 0;}

.main_container .section{position: relative;}
.main_container .ms_inner{position: relative;height: 100vh;padding-top: 72px;}
.main_container .intro_video{position: absolute;bottom: 0;left: 50%;min-width: 100%;min-height:100%;transform: translateX(-50%);}
.main_container .intro_first{position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 2;background: #fff;transition: 0.5s;}
.main_container .intro_first.active{background: none;}
.main_container .intro_first.hide{opacity: 0;z-index: 0;}
.main_container .intro_first path{fill:black;transition: 0.5s;}
.main_container .intro_first.active path{fill:#fff;}
.main_container .intro_first .if_inner{display: flex;flex-direction: column;justify-content: space-between;height: 100%;padding-top: 180px;}
.main_container .intro_first .if_top{position: relative;}
.main_container .intro_first .if_slogan{display: flex;}
.main_container .hll_logo{display: flex;}
.main_container .intro_second{display: flex;align-items: center;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 1;opacity: 0;transition: 0.5s;}
.main_container .intro_second.active{opacity: 1;z-index: 2;}
.main_container .is_inner .is_title{color: #fff;font-weight: 500;font-size: ;}
.main_container .is_inner .is_bottom{margin-top: 100px;padding-left: 306px;}
.main_container .is_inner .is_txt{color: #fff;font-weight: 500;font-size: 18px;}
.main_container .is_inner .main_more_wrap{margin-top: 60px;}
.main_container .btn_more{display: inline-flex;align-items: center;height: 52px;padding: 0 24px;border-width: 1px;border-style: solid;}
.main_container .btn_more .more_txt{position: relative;padding-right: 28px;font-weight: 500;font-size: 16px;}
.main_container .btn_more .more_txt:after{content:'';position: absolute;top: 50%;right: 0;width: 20px;height: 20px;background: url(../images/main/ico-more.png)0/100%;transform: translateY(-50%);}
.main_container .is_inner .btn_more{margin-top: 60px;border-color: rgba(255, 255, 255, 0.6);}
.main_container .is_inner .btn_more .more_txt{color: #fff;} 