@charset "utf-8";

/* font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean);

@font-face{
	font-family: Didot;
	font-style: normal;
	font-weight: 400;
	src: url(../font/Didot-HTF-M24-Medium.woff2) format("woff2"), url(../font/Didot-HTF-M24-Medium.woff) format("woff"), url(../font/Didot-HTF-M24-Medium.otf) format("opentype");
	unicode-range: U+000-5ff,U+06??
}
@font-face{
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	src: url(../font/Gotham-Medium.woff2) format("woff2"), url(../font/Gotham-Medium.woff) format("woff");
	unicode-range: U+000-5ff,U+06??
}
@font-face {
	font-family: Gotham Book;
	font-style: normal;
	font-weight: 400;
	src: url(../font/Gotham-Book.woff) format("woff");
}
@font-face {
	font-family: Gotham-Light;
	font-style: normal;
	font-weight: 200;
	src: url(../font/Gotham-Light.woff) format("woff");
}

/* reset */
html, body{width:100%;height:100%;font-size:10px;}
body{font-family:'Noto Sans KR', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;font-weight:500;color:#111;letter-spacing:-0.01em;line-height:1.4;-webkit-text-size-adjust:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;/*font-family:inherit;*/}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul, li{list-style:none}
table{width:100%;border-collapse:collapse;border-spacing:0;}
img{max-width:100%;border:0;}
i, em, address{font-style:normal;}
strong, b{font-weight:700;}
sup{font-size:10px;line-height:1;}
form, fieldset{display:block;border:0;}
iframe{border:0;}
caption, legend{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
input, textarea{opacity:1;-webkit-text-fill-color:inherit;}
input, textarea, select{margin:0;padding:0;font-family:inherit;font-size:16px;font-weight:400;color:#111;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:normal;-webkit-appearance:none;appearance:none;outline:none;}
textarea, select{outline:none;}
select::-ms-expand{display:none;}
select:disabled{pointer-events:none;}

button{overflow:visible;display:inline-block;margin:0;padding:0;border:0;background:none;font-family:inherit;font-size:16px;font-weight:400;color:#111;line-height:inherit;vertical-align:top;text-decoration:none;cursor:pointer;touch-action:manipulation;}
button::-moz-focus-inner{padding:0;border:0;}
button span,
button:after{position:relative;}

/* link */
a{display:inline-block;color:inherit;text-decoration:none;word-break:break-all;cursor:pointer;}
a:link,
a:visited,
a:active,
a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

/* common */
:root{
	--vh:100vh;
	--point : #b30010;
}
.ellipsis{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;}
.ellipsis2{overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;}
.blind{overflow:hidden;position:absolute;left:-9999em;width:0;height:0;margin:0;padding:0;text-indent:-9999em;}
.underline{text-decoration:underline;}
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.clear{clear:both;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.mo_br{display:none;}

.non-oby { overscroll-behavior-y: none }


/* button */
button[disabled], a.disabled{cursor:default;pointer-events:none;}
.btn{display:inline-flex;position:relative;align-items:center;justify-content:center;width:auto;min-width:136px;height:52px;padding:0 28px;font-size:14px;font-weight:500;border:1px solid transparent;text-align:center;}

/* button : bgcolor */
.bctype1{background-color:#111;border-color:#111;color:#fff;}
.bctype2{background-color:#fff;border-color:#111;color:#111;}
.bctype3{background-color:#fff;border-color:#fff;color:#111;}

/* button : txt color */
.ctype1{color:#999;}

/* txt button + icon */
.btn_txt{display:inline-flex;position:relative;padding:10px;font-size:16px;font-weight:500;line-height:23px;align-items:center;}
.has_plus:after{content:'';display:inline-block;width:14px;height:14px;margin:1px 0 0 8px;background:url('../images/ico_plus.svg') no-repeat center center / 100% auto;}
.has_arr1:after{content:'';display:inline-block;width:16px;height:16px;transform:rotate(90deg);margin:1px 0 0 8px;background:url('../images/ico_arrow04.svg') no-repeat center center / 100% auto;}
.has_toggle1{font-weight:400;}
.has_toggle1:after{content:'';display:inline-block;width:16px;height:16px;margin:1px 0 0 4px;background:url('../images/ico_arrow05.svg') no-repeat center center / 100% auto;}
.has_toggle1.on:after{transform:rotate(-180deg);}

/* icon button */
.btn_ico{display:inline-flex;}
.btn_ico.scrap{width:38px;height:38px;background:url('../images/ico_scrap.svg') no-repeat center center / 26px auto;}
.btn_ico.scrap.on{background-image:url('../images/ico_scrap_on.svg');}
.btn_ico.share{width:38px;height:38px;background:url('../images/ico_share.svg') no-repeat center center / 24px auto;}
.btn_ico.zoom{width:48px;height:48px;background:#fff url('../images/ico_zoom.svg') no-repeat center center / 100% auto;border-radius:50%;}
.btn_ico.search{width:38px;height:38px;background:url('../images/ico_search.svg') no-repeat center center / 24px auto;}
.btn_ico.del{width:38px;height:38px;background:url('../images/ico_close.svg') no-repeat center center / 14px auto;}

/* sns button */
.btn_sns{display:inline-flex;flex-direction:column;position:relative;}
.btn_sns .tit{display:block;margin-top:10px;font-size:14px;color:#4d4d4d;text-align:center;line-height:20px;}
.btn_sns:before{content:'';display:block;width:48px;height:48px;margin:0 auto;background-position:center center;background-size:100% auto;background-repeat:no-repeat;}
.btn_sns.talk:before{background-image:url('../images/ico_round_talk.svg');}
.btn_sns.talk:hover:before{background-image:url('../images/ico_round_talk_on.svg');}
.btn_sns.kakao:before{background-image:url('../images/ico_round_kakao.svg');}
.btn_sns.kakao:hover:before{background-image:url('../images/ico_round_kakao_on.svg');}
.btn_sns.instagram:before{background-image:url('../images/ico_round_instagram.svg');}
.btn_sns.instagram:hover:before{background-image:url('../images/ico_round_instagram_on.svg');}
.btn_sns.youtube:before{background-image:url('../images/ico_round_youtube.svg');}
.btn_sns.youtube:hover:before{background-image:url('../images/ico_round_youtube_on.svg');}
.btn_sns.twitter:before{background-image:url('../images/ico_round_twitter.svg');}
.btn_sns.twitter:hover:before{background-image:url('../images/ico_round_twitter_on.svg');}
.btn_sns.facebook:before{background-image:url('../images/ico_round_facebook.svg');}
.btn_sns.facebook:hover:before{background-image:url('../images/ico_round_facebook_on.svg');}
.btn_sns.copy:before{background-image:url('../images/ico_round_copy.svg');}
.btn_sns.copy:hover:before{background-image:url('../images/ico_round_copy_on.svg');}

/************************* Form *************************/
input[readonly],
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled{background-color:#f6f6f6;opacity:1;color:#999;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus{border-color:#111;}
input[type="file"]::-webkit-file-upload-button{cursor:pointer;}

input[readonly]{color:#111;}
input[disabled],
input[disabled] + label{cursor:default;pointer-events:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="search"]:focus::placeholder{color:transparent;}
input[type="text"]:focus::-ms-input-placeholder,
input[type="password"]:focus::-ms-input-placeholder,
input[type="search"]:focus::-ms-input-placeholder{color:transparent;}/* [pc] Edge */
input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal{display:none;}/* [pc] Edge */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}/* [pc] 크롬에서 x 버튼 삭제 */

::-webkit-input-placeholder{color:#999;font-size:16px;font-weight:500;}
::-moz-placeholder{color:#999;font-size:16px;font-weight:500;}
:-ms-input-placeholder{color:#999;font-size:16px;font-weight:500;}
:-moz-placeholder{color:#999;font-size:16px;font-weight:500;}

/* input */
.inputbox{position:relative;}
.inputbox .inp{display:block;width:100%;height:48px;padding:0 20px;;background-color:#fff;border:1px solid #dbdbdb;border-radius:0;color:#111;font-size:16px;}
.inputbox .inp[readonly]{background-color:#f6f6f6;cursor:default;-webkit-tap-highlight-color:transparent;}
.inputbox .inp[readonly]:focus{border-color:#e9e9e9;}

/* 구글광고배너 */
.ad_google{padding:20px 0;text-align:center;font-size:16px;}

/* layout */
.wrap{position:relative;width:100%;height:100%;margin-left:auto;margin-right:auto;font-size:16px;}
.lockbody{overflow: hidden;}

/* header 공통스타일 */
.header{position:sticky;top:0;background-color:#fff;z-index:100;transition:top 0.3s;}
.header .logo a{display:block;font-size:0;}
.header .logo img{width:100%;}
.header .btn_menu{display:block;position:relative;z-index:1;width:38px;height:38px;margin-left:-4px;}
.header .btn_menu:after{content:'';display:block;width:100%;height:100%;text-align:center;background:url('../images/ico_menu.svg') center center no-repeat;background-size:28px auto;}
.header .btn_search{display:block;position:relative;z-index:1;width:38px;height:38px;}
.header .btn_search:after{content:'';display:block;width:100%;height:100%;text-align:center;background:url('../images/ico_search.svg') center center no-repeat;background-size:28px auto;}
.header .btn_search.on:after{background-image:url('../images/ico_close_28.svg');background-size:24px auto;}

.header .header_bottom .logo { opacity: 0; transition: opacity .3s }
.is_pc .header_top.is-pinned + .header_bottom .logo { display: block; opacity: 1 }

.header_top{height:106px;padding:40px 0 16px;text-align:center;}
.header_top .cont_inner{display:flex;align-items:center;}
.header_top .logo{flex:1;order:2;padding:0 20px;}
.header_top .logo a{display:block;width:195px;height:50px;margin:0 auto;}
.header_top .btn_menu{display:none;}
.header_top .btn_search{display:none;margin-left:auto;order:3;margin-right:-8px;}

.header_bottom{height:72px;padding:16px 0;}
.header_bottom .cont_inner{display:flex;align-items:center;}
.header_bottom .logo{width:109px;height:28px;margin-right:24px;}
.header_bottom .btn_menu{margin-right:18px;}
.header_bottom .btn_search{margin-left:18px;}
.header_navi{position:absolute;left:50%;transform:translateX(-50%);width:700px;text-align:center;}
.header_navi ul{font-size:0;}
.header_navi ul li{position:relative;display:inline-block;}
.header_navi ul li + li{padding-left:32px;}
.header_navi ul li a{display:block;padding:8px 0;font-family:Gotham, 'Noto Sans KR';font-size:16px;font-weight:500;color:#111;line-height:24px;letter-spacing:0;}
.header_util{display:flex;margin-left:auto;margin-right:-5px;}
.header_util .aside{display:flex;column-gap:24px}
.header_util .aside a{display:inline-block;padding:10px 0;;font-family:Gotham, 'Noto Sans KR';font-size:14px;color:#666;line-height:20px;}
.header_util .aside a:first-child{margin-left:0;}

/* pc header gnb 구분선 */
.is_pc .header_navi ul li.line{padding-right:32px;}
.is_pc .header_navi ul li.line:after{content:'';display:inline-block;position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:#dbdbdb;}

/* header 서브 */
.header.sub{border-bottom:1px solid #dbdbdb;}
.is_pc .header.sub .header_top{display:none;}

/* header 상세(기사상세,이벤트상세) */
.header.view{position:sticky;top:0;border-bottom:1px solid #dbdbdb;}
.header.view .header_wrap{position:relative;height:72px;overflow:hidden;}
.header.view .header_top{display:none;}
.header.view .header_bottom{width:100%;height:100%;background:#fff;transition:all ease 350ms;}
.header.view .header_bottom .logo{display:block;}
.header.view.active{position:sticky;top:0;}
.header.view.active .header_bottom{transform:translate3d(0, -72px, 0);}
.header.view.active .floating_bar{transform:translate3d(0, 0, 0);}

/* header 상세 상단 플로팅바 */
.floating_bar{position:absolute;top:0;width:100%;height:72px;background:#fff;transform:translate3d(0, 72px, 0);transition:all ease 350ms;}
.floating_bar .cont_inner{height:100%;}
.floating_bar .detail_info{display:flex;align-items:center;position:relative;height:100%;}
.floating_bar .detail_info .sharebox{display:flex;align-items:center;column-gap:15px;margin-left:auto;margin-right:-8px;}
.floating_bar .detail_info .txtbox{overflow:hidden;flex:1;margin-right:44px;}
.floating_bar .detail_info .txtbox .tit{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;font-weight:400;line-height:21px;color:#111;}

/* breadcrumb */
.breadcrumb{font-size:0;white-space:nowrap;}
.breadcrumb > a{display:inline-block;position:relative;margin-right:8px;padding-right:20px;font-size:14px;font-weight:400;line-height:20px;color:#666;}
.breadcrumb > a:after{content:'';display:block;position:absolute;top:50%;right:0;width:12px;height:12px;margin-top:-6px;background:url('../images/ico_arrow_right_12.svg') no-repeat center center / 12px auto;}

/* 상세(기사상세,이벤트상세) 프로그래스바 */
.progress_bar{position:absolute;bottom:-2px;left:0;height:2px;background-color:#111;z-index:2;transition:width .4s ease-out;overflow:hidden;}

/* 전체메뉴 */
.allmenu_wrap{display:none;position:fixed;left:0;top:0;right:0;bottom:0;z-index:100;}
.allmenu_wrap .allmenu_dimmed{display:block;content:'';position:absolute;left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,0.5)}
.allmenu_area{overflow:auto;width:480px;height:100%;background-color:#fff;position: relative}
.allmenu_inner{width:280px;margin:0 auto;padding-bottom:100px;}
.allmenu_wrap .top_area{margin-bottom:28px;padding:17px 0;}
.allmenu_wrap .btn_menu_close{width:38px;height:38px;margin-left:-8px;background:url('../images/ico_close_28.svg') no-repeat center center / 28px auto;}
.allmenu_util{display:flex;flex-wrap:wrap;margin-bottom:32px;}
.allmenu_util a{display:block;margin-left:24px;font-family:Gotham;font-size:16px;line-height:1;color:#666;}
.allmenu_util a:first-child{margin-left:0;}
.allmenu_single{margin-bottom:50px;padding-bottom:50px;border-bottom:1px solid #dbdbdb;}
.allmenu_single li{margin-top:16px;}
.allmenu_single li:first-of-type{margin-top:0;}
.allmenu_single li a{display:block;font-family:Gotham, 'Noto Sans KR';font-size:28px;line-height:41px;}
.allmenu_list .depth1 > li{position:relative;margin-top:40px;}
.allmenu_list .depth1 > li:first-of-type{margin-top:0;}
.allmenu_list .depth1 > li > a{display:block;position:relative;font-family:Gotham, 'Noto Sans KR';font-size:28px;line-height:41px;}
.allmenu_list .depth1 > li.has_menu:before{content:'';display:block;position:absolute;right:0;top:8px;width:24px;height:24px;background:url('../images/ico_plus_24.svg') no-repeat center center / 100% auto;}
.allmenu_list .depth1 > li.has_menu.open:before{background-image:url('../images/ico_minus_24.svg');}
.allmenu_list .depth2{display:none;margin-top:12px;}
.allmenu_list .open .depth2{display:block;}
.allmenu_list .depth2 > li{margin-top:12px;}
.allmenu_list .depth2 > li:first-of-type{margin-top:0;}
.allmenu_list .depth2 > li > a{display:block;font-size:18px;color:#666;line-height:26px;}
.allmenu_wrap .etc_link{margin-top:60px;}
.allmenu_wrap .etc_link li{margin-top:16px;}
.allmenu_wrap .etc_link li:first-child{margin-top:0;}
.allmenu_wrap .etc_link li a{font-size:18px;line-height:26px;}
.allmenu_wrap .sns_list{margin-top:60px;}
.allmenu_wrap .sns_list ul{column-gap:29px;}

/* 검색 레이어 */
.inputbox.search .inp{height:60px;padding-right:100px;}
.inputbox.search .btn_ico.search{position:absolute;right:18px;top:50%;transform:translateY(-50%);}
.inputbox.search .btn_ico.del{position:absolute;right:56px;top:50%;transform:translateY(-50%);}

.search_layer{display:none;position:absolute;left:0;top:72px;width:100%;background-color:#fff;box-shadow:0 5px 5px 0px rgba(0, 0, 0, 0.05);border-top:1px solid #dbdbdb;z-index:50;}
.search_layer.open{display:block;}
.search_layer .cont_inner{max-width:872px;padding:80px 40px;}
.header.main .search_layer{top:177px;}

.search_keyword{margin-top:40px;}
.search_keyword .search_tit{margin-bottom:20px;font-size:18px;font-weight:500;line-height:26px;}

.word_list{display:flex;flex-wrap:wrap;column-gap:8px;row-gap:12px;overflow:hidden;}
.word_list li{display:inline-block;vertical-align:top;}
.word_list li a{display:block;min-height:36px;padding:6px 16px;background-color:#fff;border:1px solid #dbdbdb;font-size:14px;font-weight:400;line-height:20px;}

/* container */
.sample_banner{position:relative;z-index:60;background-color:#dbdbdb;padding:30px;text-align:center;}
.cont_inner{max-width:1280px;margin:0 auto;padding:0 40px;}

/* footer */
.footer{position:relative;padding-bottom:65px;background-color:#fff;}
.footer_top{padding:23px 0;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.footer_top .cont_inner{display:flex;flex-wrap:wrap;justify-content:space-between;}
.footer_link ul{display:flex;flex-wrap:wrap;column-gap:32px;row-gap:8px;}
.footer_link li a{display:block;font-size:16px;font-weight:500;color:#666;line-height:1.5;}
.footer_link li.impt a{color:#111;font-weight:700;}
.footer_sns ul{display:flex;column-gap:24px;}
.footer_sns li a{display:flex;width:24px;height:24px;align-items:center;justify-content:center;}
.footer_bottom{padding:40px 0 60px;}
.footer_bottom .cont_inner{display:flex;}
.footer_logo{width:195px;height:50px;}
.footer_logo img{width:100%;}
.footer_info{margin-left:112px;}
.footer_info .addr_wrap em{display:block;margin-bottom:16px;font-size:20px;font-weight:500;color:#111;line-height:29px;}
.footer_info .addr_txt{font-size:0;}
.footer_info .addr_txt span{display:inline-block;position:relative;margin-bottom:6px;font-size:14px;font-weight:500;color:#666;line-height:1.5;}
.footer_info .addr_txt .addr,
.footer_info .addr_txt .num{margin-right:17px;}
.footer_info .addr_txt .addr:after,
.footer_info .addr_txt .num:after{content:'';display:inline-block;position:absolute;right:-9px;top:5px;width:1px;height:11px;background-color:#dbdbdb;}
.footer_info .addr_txt .email{display:block;}
.footer_info .copyright{margin-top:20px;font-size:14px;font-weight:500;color:#666;line-height:1.5;}
.family_wrap{position:absolute;left:0;bottom:0;width:100%;background-color:#fff;border-top:1px solid #dbdbdb;text-align:center;}
.family_wrap .btn_familysite{height:64px;font-family:Gotham;font-size:16px;color:#666;text-align:center;}
.family_wrap .btn_familysite span{display:inline-block;position:relative;padding-right:26px;}
.family_wrap .btn_familysite span:after{content:'';display:block;position:absolute;right:0;top:50%;width:16px;height:16px;background:url('../images/ico_arrow01.svg') no-repeat center center / 100% auto;transform:translateY(-50%);}
.family_wrap.open .btn_familysite span:after{transform:translateY(-50%) rotate(-180deg);}
.familysite{display:none;padding:75px 0;background-color:#f5f5f5;border-top:1px solid #dbdbdb;text-align:left;}

/* swiper */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}
.swiper-container-vertical>.swiper-wrapper{flex-direction:column}
.swiper-wrapper{position:relative;width:100%;height:100%;display:flex;transition-property:transform;box-sizing:content-box}
.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}
.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}
.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}
.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);}
.swiper-slide-invisible-blank{visibility:hidden}
.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}
.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}
/* .swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000} */
.swiper-container .swiper-notification{visibility:hidden;font-size:0;line-height:0;position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}
.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}
.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}
.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}
.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}
.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}
.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}
.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}
.swiper-button-prev,.swiper-button-next{position:absolute;top:0;z-index:2}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}
.swiper-button-lock{display:none}
.swiper-pagination .swiper-pagination-bullet:only-child.swiper-pagination-bullet-active,.swiper-pagination.swiper-pagination-lock{display:none}
.swiper-pagination-progressbar{background:rgba(0,0,0,0.25);position:absolute}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#000;position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}
.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}
.swiper-container-vertical>.swiper-pagination-progressbar,.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:4px;height:100%;left:0;top:0}
.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,0.1);opacity:1!important}
.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}
.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,0.5);border-radius:10px;left:0;top:0}
.swiper-scrollbar-cursor-drag{cursor:move}
.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}
.swiper-zoom-container>img,.swiper-zoom-container>svg,.swiper-zoom-container>canvas{max-width:100%;max-height:100%;object-fit:contain}
.swiper-slide-zoomed{cursor:move}
[data-slide]{position:relative}
.slide_list{position:relative}
.slide_list .swiper-container-initialized,[data-slide] .swiper-container-initialized,[data-slide] .product_wrap_outer{overflow:hidden}

/* popup 공통 */
[data-popup].open{display:block;}
[data-alert].open{display:block;}
[data-layer].open{display:block;}

.popup_inner{display:flex;flex-direction:column;position:absolute;left:0;width:100%;height:100%;background-color:#fff;z-index:200;}
.popup_inner .popup_head{position:relative;min-height:60px;padding:28px 60px 16px;}
.popup_inner .popup_head .tit{font-size:18px;font-weight:500;line-height:26px;text-align:center;}
.popup_cont{overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;padding:16px 28px 28px;font-size:18px;line-height:26px;}
.popup_close{position:absolute;right:16px;top:16px;}
.popup_close .btn_close{display:block;width:40px;height:40px;}
.popup_close .btn_close:after{content:'';display:block;width:100%;height:100%;background:url('../images/ico_close.svg') no-repeat center center / 16px auto;}

/* full popup */
.popup_full{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);z-index:100;}
.popup_full .popup_inner{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:450px;min-height:200px;height:auto;max-height:80vh;background-color:#fff;overflow:hidden;z-index:210;}

.popup_sns .popup_inner{width:588px;}
.popup_sns .popup_cont{flex:1;padding-top:0;text-align:center;}
.popup_sns .popup_tit{margin-bottom:40px;font-size:18px;line-height:26px;color:#111;}
.popup_sns .txt{margin-bottom:40px;font-size:18px;line-height:26px;text-align:center;}

/* layer popup */
.popup_layer{display:none;position:absolute;right:0;top:0;width:100%;background-color:#fff;border:1px solid #dbdbdb;z-index:200;}
.popup_layer .popup_inner{position:relative;left:0;top:0;transform:none;background-color:#fff;overflow:hidden;z-index:210;}

.pop_share{max-width:320px;width:calc(100% - 40px);top:76px;right:50%;margin-right:-600px;}
.pop_share .popup_cont{padding:16px 28px 28px;}
.sns_list ul{column-gap:20px;}

/* alert */
[data-alert] {background-color:rgba(0,0,0,0);transition-duration:.2s;z-index:-9999;}
[data-alert].show {display:block;z-index:220;}
[data-alert].show.isAnimate {background-color:rgba(0,0,0,0.7);transition-property:background-color;transition-duration:.2s}
[data-alert] [data-alert-inner] {transform:translate(-50%,-50%) scale(0.85);opacity:0;transition:.2s ease-in-out}
[data-alert].show.isAnimate [data-alert-inner] {transform:translate(-50%,-50%) scale(1);opacity:1}
.popup_alert {display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);z-index:220;}
.popup_alert_inner {position:absolute;top:50%;left:50%;width:335px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);
background:#fff;overflow:hidden;z-index:230;}
.popup_alert_cont {position:relative;max-height:65vh;padding:60px 28px 0;-webkit-overflow-scrolling:touch;overflow:hidden;overflow-y:auto;font-size:18px;text-align:center;line-height:26px;}
.popup_alert_button{display:flex;justify-content:center;column-gap:12px;padding:32px 28px 28px;background-color:#fff}
.popup_alert_button .btn {flex:1;}


/* 팝업 : 팔로우하기 */
.popup_sns .popup_inner{width:588px;}
.popup_sns .popup_cont{padding-bottom:56px;}
.popup_sns .stxt{margin-bottom:32px;font-size:18px;line-height:26px;text-align:center;}
.sns_list ul{display:flex;flex-wrap:wrap;column-gap:18px;justify-content:center;}
.sns_list.follow ul{column-gap:40px;}
.sns_list.follow .btn_sns:before{width:60px;height:60px;}


/************************* Media Query *************************/
@media (max-width:1280px){
	.pop_share{right:40px;margin-right:0;}
}
@media (max-width:1200px){
	.footer_top .cont_inner{flex-direction:column;}
	.footer_sns{margin-top:20px;}
}
@media (max-width:1199px){
	.header_navi{position:relative;left:0;transform:none;width:auto;text-align:left;}
	.header_util .aside{display:none;}
}
@media (max-width:1023px){
	.header_navi ul li + li{padding-left:24px;}
	.header_navi ul li a{padding:9px 0;font-size:15px;line-height:22px;}
	.is_pc .header_navi ul li.line{padding-right:0;}
	.is_pc .header_navi ul li.line:after{display:none;}
}
@media (max-width:899px){
	.header_navi{display:none;}
}
@media (max-width:768px){
	.pc_br{display:none;}
	.mo_br{display:block;}
	.cont_inner{padding:0 20px;}

	.btn_txt{font-size:14px;line-height:20px;}
	.has_plus:after{margin-left:4px;background-size:12px auto;}
	.has_arr01:after{margin-left:4px;background-size:12px auto;}
	.btn_ico.zoom{width:36px;height:36px;}

	.header .btn_menu{margin-left:-6px;}
	.header .btn_menu:after{background-size:24px auto;}
	.header .btn_search:after{background-size:24px auto;}
	.btn_ico.scrap{background-size:24px auto;}
	.btn_ico.share{background-size:24px auto;}

	.header_top{height:48px;padding:0;}
	.header_top .cont_inner{height:100%;}
	.header_top .logo a{width:109px;height:28px;}
	.header_top .btn_menu,
	.header_top .btn_search{display:block;}

	.header_bottom{display:block;height:49px;padding:0;}
	.header_bottom .cont_inner{display:block;padding:0;}
	.header_bottom .logo{display:none;}
	.header_bottom .btn_menu,
	.header_bottom .btn_search{display:none;}
	.header_util{display:none;}
	.header_navi{display:block;position:relative;padding:0 20px;}
	.header_navi:after{content:'';display:block;position:absolute;right:0;bottom:0;width:25px;height:100%;background:linear-gradient(-90deg, #fff 36.11%, rgba(255, 255, 255, 0) 100%);pointer-events:none;}
	.header_navi ul{overflow-x:auto;white-space:nowrap;margin:0 -20px;padding:0 20px;}
	.header_navi ul::-webkit-scrollbar{display:none;}
	.header_navi ul li a{padding:14px 0;font-size:14px;line-height:20px;}

	.header.sub .header_bottom,
	.header.view .header_bottom{display:none;}

	.header.view .header_wrap{height:48px;}
	.header.view .header_top{display:block;width:100%;height:100%;background:#fff;transition:all ease 350ms;}
	.header.view .header_top .logo a{width:86px;height:22px;}
	.header.view.active .header_top{transform:translate3d(0, -50px, 0);}
	.header.view.active .header_bottom{display:none;}

	.floating_bar{height:100%;transform:translate3d(0, 48px, 0);}
	.floating_bar .detail_info .sharebox{column-gap:5px;margin-right:-6px;}
	.floating_bar .detail_info .txtbox{margin-right:14px;}
	.floating_bar .detail_info .txtbox .tit{font-size:12px;line-height:18px;}
	.breadcrumb{display:none;}

	.allmenu_area{width:100%;}
	.allmenu_inner{width:100%;padding:0 48px 60px;}
	.allmenu_wrap .top_area{margin:0 -48px 40px;padding:5px 20px 4px;border-bottom:1px solid #dbdbdb;}
	.allmenu_wrap .btn_menu_close{margin-left:-6px;background-size:24px auto;}
	.allmenu_util a{font-size:14px;}
	.allmenu_single{margin-bottom:36px;padding-bottom:36px}
	.allmenu_single li a{font-size:24px;line-height:35px;}
	.allmenu_list .depth1 > li{margin-top:24px;}
	.allmenu_list .depth1 > li > a{font-size:24px;line-height:35px;}
	.allmenu_list .depth1 > li.has_menu:before{top:9px;width:16px;height:16px;}
	.allmenu_list .depth2{margin:12px 0 28px;}
	.allmenu_list .depth2 > li{margin-top:16px;}
	.allmenu_list .depth2 > li > a{font-size:16px;line-height:24px;}
	.allmenu_wrap .etc_link li a{font-size:16px;line-height:23px;}
	.allmenu_wrap .sns_list{margin-top:40px;}

	.inputbox .inp{padding:0 16px;}
	.btn_ico.search{background-size:18px auto;}
	.inputbox.search .inp{height:48px;padding-right:72px;}
	.inputbox.search .btn_ico.search{right:10px;width:30px;}
	.inputbox.search .btn_ico.del{right:40px;width:30px;}

	.search_layer{top:48px;}
	.header.main .search_layer{top:94px;}
	.search_layer .cont_inner{padding:40px 20px;}
	.search_keyword{margin-top:32px;}
	.search_keyword .search_tit{font-size:16px;line-height:23px;}
	.word_list{row-gap:8px;}

	.footer{padding-bottom:52px;}
	.footer_top{padding:19px 0;}
	.footer_link ul{column-gap:17px;row-gap:8px;}
	.footer_link li{position:relative;}
	.footer_link li:after{content:'';position:absolute;right:-9px;top:4px;display:block;width:1px;height:11px;background-color:#dbdbdb;}
	.footer_link li:last-child:after{display:none;}
	.footer_link li a{font-size:12px;font-weight:400;}
	.footer_bottom{padding:40px 0;}
	.footer_bottom .cont_inner{flex-direction:column;}
	.footer_logo{width:125px;height:32px;}
	.footer_sns ul{column-gap:20px;}
	.footer_sns li a{width:20px;height:20px;}
	.footer_info{margin-top:32px;margin-left:0;}
	.footer_info .addr_wrap em{margin-bottom:12px;font-size:12px;}
	.footer_info .addr_txt span{font-size:12px;font-weight:400;}
	.footer_info .addr_txt .addr,
	.footer_info .addr_txt .report,
	.footer_info .addr_txt .num{margin-right:0;}
	.footer_info .addr_txt .addr,
	.footer_info .addr_txt .report{display:block;}
	.footer_info .addr_txt .addr:after,
	.footer_info .addr_txt .num:after{display:none;}
	.footer_info .addr_txt .ceo{margin-right:17px;}
	.footer_info .addr_txt .ceo:after{content:'';display:inline-block;position:absolute;right:-9px;top:5px;width:1px;height:11px;background-color:#dbdbdb;}
	.footer_info .copyright{margin-top:12px;font-size:12px;font-weight:400;}
	.family_wrap .btn_familysite{display:block;width:100%;height:52px;font-size:14px;}
	.family_wrap .btn_familysite span{padding-right:16px;line-height:1.5;}
	.family_wrap .btn_familysite span:after{width:12px;height:12px;}
	.familysite{padding:40px 0;}
	.familysite .family{width:100%;text-align:center;}
	.familysite .family li{margin-top:30px;}
	.familysite .global{display:none;}

	.pc_thumb_list{display:none;}
	.mo_thumb_list{display:block;}

	.popup_full .popup_inner{width:calc(100% - 40px);}
	.popup_close{right:12px;top:12px;}

	.popup_sns .popup_cont{padding:0 24px 48px;}
	.sns_list .btn_sns:before{width:48px;height:48px;}
	.sns_list.follow ul{max-width:220px;margin:0 auto;column-gap:32px;row-gap:24px;}
	.sns_list.follow .btn_sns:before{width:48px;height:48px;}

	.pop_share{right:20px;top:52px;}
	.popup_inner .popup_head{min-height:56px;padding:24px 50px 16px;}
	.popup_inner .popup_head .tit{font-size:16px;line-height:23px;}
	.pop_share .popup_cont{padding:16px 24px 24px;}
	.popup_sns .stxt{font-size:16px;line-height:23px;}

	.popup_alert_inner{width:calc(100% - 40px);max-width:335px;}
	.popup_alert_cont{padding:56px 24px 0;font-size:16px;line-height:23px;}
	.popup_alert_button{padding:32px 24px 24px;}

	.btn_sns .tit{font-size:12px;line-height:17px;}
}
@media (max-width:320px){
	.allmenu_inner{padding:0 24px 60px;}
}
