@charset "utf-8";

/* 메인 배너 모듈 */
.key_visual{margin-bottom:100px;}
.kv_swiper{position:relative;overflow:hidden;max-width:1280px;width:100%;height:712px;margin:0 auto;padding:0 40px;}
.kv_swiper .itembox{position:relative;}
.kv_swiper .itembox,
.kv_swiper .itembox a,
.kv_swiper .imgbox{display:block;position:relative;overflow:hidden;width:100%;height:100%;}
.kv_swiper .imgbox:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:50%;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);}
.kv_swiper .imgbox img{display:block;width:100%;height:100%;object-fit:cover;}
.kv_swiper .txtbox{position:absolute;bottom:90px;left:50%;transform:translateX(-50%);width:100%;padding:0 40px;opacity:0;transition:all ease 2s 0s;}
.kv_swiper .txtbox .tit{margin-bottom:8px;font-size:36px;font-weight:700;line-height:52px;color:#fff;text-align:center;}
.kv_swiper .txtbox .txt{font-size:16px;font-weight:400;line-height:23px;color:#fff;text-align:center;}
.kv_swiper .swiper-slide-active .imgbox img{animation-name:zoom;animation-duration:5s;animation-fill-mode:forwards;}
.kv_swiper .swiper-slide-active .txtbox{opacity:1;transition-delay:1s;}
.kv_swiper .swiper-pagination{position:absolute;bottom:48px;left:50%;transform:translateX(-50%);font-size:0;}
.kv_swiper .swiper-pagination-bullet{display:inline-block;position:relative;overflow:hidden;width:40px;height:2px;margin:0 4px;border-radius:0;background-color:rgba(255,255,255,0.2);}
.kv_swiper .swiper-pagination-bullet:before{content:'';display:block;position:absolute;top:0;right:0;bottom:0;left:0;}
.kv_swiper .swiper-pagination-bullet-active:before{background-color:#fff;animation:slideProgress 5s cubic-bezier(.6,0,.6,1) forwards;}
.kv_swiper .swiper-button-prev,
.kv_swiper .swiper-button-next{position:absolute;top:50%;transform:translateY(-50%);width:22px;height:44px;font-size:0;cursor:pointer;background:url('../images/ico_arrow02.svg') no-repeat 0 0 / 22px auto;opacity:0.2;}
.kv_swiper .swiper-button-prev:hover,
.kv_swiper .swiper-button-next:hover{opacity:1;}
.kv_swiper .swiper-button-prev{left:56px;transform:translateY(-50%) rotate(-180deg);}
.kv_swiper .swiper-button-next{right:56px;}
.kv_swiper.only .txtbox{opacity:1;transition:none;}
.kv_swiper.only .swiper-button-prev,
.kv_swiper.only .swiper-button-next{display:none;}

.kv_full .itembox{position:relative;}
.kv_full .itembox a{display:block;}
.kv_full .imgbox{overflow:hidden;position:relative;width:100%;height:100vh;}
.kv_full .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.kv_full .txtbox{position:absolute;left:0;right:0;top:0;bottom:0;text-align:center;padding-top:26.8%;}
.kv_full .txtbox .area{position:sticky;top:50vh;transform:translateY(-50%);}
.kv_full .txtbox .tit{font-size:36px;font-weight:700;line-height:52px;color:#fff;}
.kv_full .txtbox .txt{margin-top:8px;font-size:16px;font-weight:400;line-height:24px;color:#fff;}

/* article */
.atcbox a{display:block;width:100%;height:100%;}
.atcbox .imgbox{overflow:hidden;position:relative;width:100%;height:0;padding-top:100%;}
.atcbox .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;transition:all .3s linear;}
.atcbox a:hover .imgbox img{transform:scale(1.1);}
.atcbox .cate{display:block;position:relative;margin-bottom:6px;font-family:Gotham;font-size:11px;line-height:1;letter-spacing:0;color:#b30010;}
.atcbox .txtbox{margin-top:16px;}
.atcbox .txtbox .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;position:relative;overflow:hidden;color:#111;word-break:break-all;}

/* title */
.tit_wrap .tit{font-size:28px;font-weight:500;line-height:41px;color:#111;}

/* 카테고리별 기사 모듈 */
.cate_atc_wrap{margin-bottom:180px;}
.cate_atc_list.pc{display:flex;}
.cate_atc_list.pc .big_thumb{width:51%;padding-right:24px;}
.cate_atc_list.pc .big_thumb .atcbox{position:sticky;top:24px;}
.cate_atc_list.pc .big_thumb .imgbox{padding-top:133.334%;}
.cate_atc_list.pc .big_thumb .txtbox{margin-top:24px;}
.cate_atc_list.pc .big_thumb .txtbox .tit{height:76px;margin-top:8px;font-size:26px;line-height:39px;}
.cate_atc_list.pc .sm_thumb{width:49%;}
.cate_atc_list.pc .sm_thumb ul{font-size:0;margin-bottom:-50px;}
.cate_atc_list.pc .sm_thumb.type2 li{display:inline-block;width:50%;margin-bottom:50px;vertical-align:top;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(odd){padding-right:12px;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(even){padding-left:12px;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(3),
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(5){margin-top:-15.94%;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(2) .imgbox,
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(5) .imgbox{padding-top:133.334%;}
.cate_atc_list.pc .sm_thumb.type2 .txtbox .tit{height:52px;font-size:18px;line-height:26px;}
.cate_atc_list.pc .sm_thumb.type1 li{display:inline-block;width:100%;margin-bottom:50px;vertical-align:top;}
.cate_atc_list.pc .sm_thumb.type1 li .imgbox{padding-top:62.585%;}
.cate_atc_list.pc .sm_thumb.type1 .txtbox .tit{height:52px;font-size:18px;line-height:26px;}

.cate_atc_list.mo{display:none;}
.cate_atc_list.mo .itembox .cate{font-size:10px;}
.cate_atc_list.mo .big_thumb{margin-bottom:24px;}
.cate_atc_list.mo .big_thumb .imgbox{padding-top:133.334%;}
.cate_atc_list.mo .big_thumb .txtbox{margin-top:18px;}
.cate_atc_list.mo .big_thumb .txtbox .tit{height:52px;font-size:18px;line-height:26px;}
.cate_atc_list.mo .sm_thumb{overflow:hidden;margin:0 -20px;padding:0 20px;}
.cate_atc_list.mo .sm_thumb .swiper-slide{display:flex;flex-wrap:wrap;justify-content:space-between;row-gap:24px;}
.cate_atc_list.mo .sm_thumb .swiper-slide .atcbox{width:calc(50% - 6px);}
.cate_atc_list.mo .sm_thumb .txtbox .tit{height:40px;font-size:14px;line-height:20px;}
.cate_atc_list.mo .sm_thumb .control{margin-top:32px;text-align:center;}
.cate_atc_list.mo .sm_thumb .swiper-pagination{font-size:0;}
.cate_atc_list.mo .sm_thumb .swiper-pagination .swiper-pagination-bullet{display:inline-block;position:relative;width:24px;height:2px;margin:0 4px;cursor:pointer;background-color:#dbdbdb;}
.cate_atc_list.mo .sm_thumb .swiper-pagination .swiper-pagination-bullet-active{background-color:#111;}

/* 가로스크롤 모듈 (바자 아트) */
.scroll_atc_wrap{overflow-x:hidden;margin-bottom:180px;padding:100px 0;background-color:#f7f7f7;}
.scroll_atc_wrap .tit_wrap{position:relative;margin-bottom:40px;}
.scroll_atc_wrap .tit_wrap .tit{margin-bottom:10px;padding-right:80px;}
.scroll_atc_wrap .hashtag{font-size:16px;line-height:23px;color:#666;}
.scroll_atc_wrap .btn_more{position:absolute;right:0;top:10px;font-size:16px;color:#111;line-height:23px;}
.scroll_atc_wrap .btn_more span{position:relative;padding-right:22px;}
.scroll_atc_wrap .btn_more span:after{content:'';display:block;position:absolute;right:0;top:50%;transform:translateY(-50%);width:14px;height:14px;margin-top:1px;background:url('../images/ico_plus.svg') no-repeat center center / 100% auto;}

.scroll_atc_list{overflow:visible;position:relative;margin-left:auto;margin-right:auto;padding:0;}
.scroll_atc_list li .imgbox{padding-top:62.5%;}
.scroll_atc_list li .txtbox{margin-top:12px;}
.scroll_atc_list li .txtbox .tit{height:52px;font-size:18px;line-height:26px;}
.scroll_atc_list .swiper-pagination{display:flex;width:100%;height:2px;margin-top:60px;background-color:#dbdbdb;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet{flex:1;position:relative;cursor:pointer;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet-active{background-color:#111;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet:only-child.swiper-pagination-bullet-active,.swiper-pagination.swiper-pagination-lock{display:none}
.scroll_atc_list .swiper-scrollbar{height:2px;margin-top:60px;background-color:#dbdbdb;}
.scroll_atc_list .swiper-scrollbar .swiper-scrollbar-drag{background-color:#111;}

/* 팔로우 배너 */
.follow_wrap{margin-bottom:180px;}
.follow_box{display:flex;align-items:center;justify-content:space-between;padding:24px 100px;background:linear-gradient(270deg, #ededed 0%, #f7f7f7 51.56%, #ededed 100%);text-align:center;}
.follow_box .logo img{display:block;}
.follow_box .txt{flex:1;margin:0 20px;font-size:18px;line-height:1.5;}
.follow_box .txt strong{font-weight:400;}
.follow_box .txt strong em{font-weight:500;}
.follow_box .btn_follow{display:inline-block;width:143px;height:48px;padding:0 24px;font-size:16px;font-weight:500;text-align:center;line-height:48px;background-color:#fff;}
.follow_box .btn_follow span{position:relative;padding-right:24px;letter-spacing:-0.0325em;}
.follow_box .btn_follow span:after{content:'';display:inline-block;position:absolute;right:0;top:50%;transform:translateY(-50%);width:14px;height:14px;margin:1px 0 0 8px;background:url('../images/ico_plus.svg') no-repeat 0 0 / 100% auto;}

/* keyframes */
@keyframes slideProgress {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0);}
}
@keyframes zoom {
	0% {transform: scale(1);}
	100% {transform: scale(1.1);}
}

/************************* Media Query *************************/
@media (max-width:1080px){
}

@media (max-width:1024px){
	.follow_box{padding:24px 50px;}
}

@media (max-width:768px){
	.pc_br{display:none;}
	.mo_br{display:block;}

	.key_visual .cont_inner{padding:0;}
	.kv_swiper{height:160%;padding:0;}
	.kv_swiper .txtbox{padding:0 6.4%;}
	.kv_swiper .txtbox .tit{font-size:24px;line-height:36px;}
	.kv_swiper .txtbox .txt{font-size:14px;line-height:22px;}
	.kv_swiper .swiper-button-prev,
	.kv_swiper .swiper-button-next{display:none;}
	.kv_swiper .swiper-pagination-bullet{width:24px;}

	.kv_full .txtbox{padding:0 10.666%;}
	.kv_full .txtbox .tit{font-size:24px;line-height:36px;}
	.kv_full .txtbox .txt{font-size:14px;line-height:22px;}

	.atcbox .cate{font-size:10px;}
	.atcbox .txtbox{margin-top:14px;}

	.tit_wrap .tit{font-size:22px;line-height:32px;}

	.cate_atc_wrap{margin-bottom:80px;}
	.cate_atc_list.pc{display:none;}
	.cate_atc_list.mo{display:block;}

	.scroll_atc_wrap{margin-bottom:80px;padding:60px 0;}
	.scroll_atc_wrap .tit_wrap{margin-bottom:32px;}
	.scroll_atc_wrap .tit_wrap .tit{margin-bottom:6px;padding-right:32px;}
	.scroll_atc_wrap .hashtag{font-size:14px;line-height:20px;}
	.scroll_atc_wrap .btn_more{top:0;right:-5px;width:30px;height:30px;}
	.scroll_atc_wrap .btn_more span{display:block;width:100%;height:100%;padding:0;font-size:0;}
	.scroll_atc_wrap .btn_more span:after{width:100%;height:100%;margin-top:0;background-size:20px auto;}
	.scroll_atc_list li .imgbox{height:0;padding-top:62.672%;}
	.scroll_atc_list li .txtbox .tit{height:40px;font-size:14px;line-height:20px;}
	.scroll_atc_list .swiper-scrollbar{display:none;}

	.follow_wrap{margin-bottom:80px;}
	.follow_box{flex-direction:column;align-items:stretch;padding:48px 40px 40px;background:#f6f6f6;}
	.follow_box .logo{order:2;width:102px;margin:20px auto 0;}
	.follow_box .txt{margin:0;}
	.follow_box .txt span{display:block;margin-bottom:2px;font-size:14px;font-weight:400;}
	.follow_box .txt strong{display:block;font-size:20px;font-weight:500;}
	.follow_box .btnbox{order:3;margin-top:32px;}
	.follow_box .btn_follow{width:100%;font-size:14px;}
	.follow_box .btn_follow span{padding-right:16px;}
	.follow_box .btn_follow span:after{width:12px;height:12px;}
}