@charset "utf-8";

/* 메인 슬라이드형 배너 모듈 */
.kv_slide_wrap{margin-bottom:100px;}
.kv_swiper{position:relative;overflow:hidden;}
.kv_swiper .itembox{position:relative;}
.kv_swiper .itembox a{display:block;width:100%;height:100%;}
.kv_swiper .imgbox{overflow:hidden;position:relative;width:100%;height:0;padding-top:712px;}
.kv_swiper .imgbox:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:50%;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);}
.kv_swiper .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.kv_swiper .imgbox img.pc{display:block;}
.kv_swiper .imgbox img.mo{display:none;}
.kv_swiper .txtbox{position:absolute;bottom:90px;left:50%;transform:translateX(-50%);width:100%;padding:0 17%;}
.kv_swiper .txtbox .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;font-size:36px;font-weight:700;line-height:52px;color:#fff;text-align:center;}
.kv_swiper .txtbox .txt{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;margin-top:8px;font-size:16px;font-weight:400;line-height:23px;color:#fff;text-align:center;}
.kv_swiper .swiper-pagination{position:absolute;bottom:48px;left:50%;transform:translateX(-50%);font-size:0;}
.kv_swiper .swiper-pagination-bullet{display:inline-block;position:relative;overflow:hidden;width:40px;height:2px;margin:0 4px;border-radius:0;background-color:rgba(255,255,255,0.2);}
.kv_swiper .swiper-pagination-bullet:before{content:'';display:block;position:absolute;top:0;right:0;bottom:0;left:0;}
.kv_swiper .swiper-pagination-bullet-active:before{background-color:#fff;animation:slideProgress 5s linear forwards;}
.kv_swiper .btn_prev,
.kv_swiper .btn_next{position:absolute;top:50%;transform:translateY(-50%);width:60px;height:60px;font-size:0;cursor:pointer;background:url('../images/ico_arrow02.svg') no-repeat center center / 100% auto;z-index:2;opacity:.6;}
.kv_swiper .btn_prev:hover,
.kv_swiper .btn_next:hover{opacity:1;}
.kv_swiper .btn_prev{left:48px;transform:translateY(-50%) rotate(-180deg);}
.kv_swiper .btn_next{right:48px;}
.is_pc .kv_swiper .txtbox .tit,
.is_pc .kv_swiper .txtbox .txt{opacity:0;}
.is_pc .kv_swiper .swiper-slide-active .txtbox .tit{opacity:1;animation:fadeIn 2s .2s both;}
.is_pc .kv_swiper .swiper-slide-active .txtbox .txt{opacity:1;animation:fadeIn 2s .5s both;}
.is_pc .kv_swiper .swiper-wrapper{transition-timing-function: ease-out;}
.is_pc .kv_swiper .swiper-slide .imgbox img {transform: scale(1.0);transition:5s ease-in-out 0s;}
.is_pc .kv_swiper .swiper-slide-active .imgbox img{transform: scale(1.1);}
.is_pc .kv_swiper.only .txtbox .tit,
.is_pc .kv_swiper.only .txtbox .txt{opacity:unset;animation:none;}
.is_pc .kv_swiper.only .swiper-slide .imgbox img {transform: scale(1.0);transition:none;}
.is_pc .kv_swiper.only .swiper-slide-active .imgbox img{transform: scale(1.0);}
.kv_swiper.only .btn_prev,
.kv_swiper.only .btn_next{display:none;}

/* 메인 풀이미지형 배너 모듈 */
.kv_full{max-width:1920px;width:100%;margin:0 auto 100px;background:#dbdbdb;}
.kv_full .itembox{position:relative;}
.kv_full .itembox a{display:block;}
.kv_full .imgbox{overflow:hidden;position:relative;width:100%;}
.kv_full .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.kv_full .imgbox img.pc{display:block;}
.kv_full .imgbox img.mo{display:none;}
.kv_full .txtbox{position:absolute;left:0;right:0;top:0;bottom:0;max-width:872px;margin:0 auto;padding:40% 40px 10px;text-align:center;}
.kv_full .txtbox .area{position:sticky;top:50vh;transform:translateY(-50%);}
.kv_full .txtbox .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;font-size:36px;font-weight:700;line-height:52px;color:#fff;}
.kv_full .txtbox .txt{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;margin-top:8px;font-size:16px;font-weight:400;line-height:24px;color:#fff;}

/* 메인 영상형 배너 모듈 */
.kv_video{position:relative;max-width:1920px;width:100%;margin:0 auto 100px;overflow:hidden;}
.kv_video .itembox{position:relative;padding-top:56.25%;}
.kv_video .itembox iframe{position:absolute;top:0;left:50%;width:100%;height:100%;transform:translateX(-50%);}
.kv_video .itembox iframe.pc{display:block;}
.kv_video .itembox iframe.mo{display:none;}
.kv_video .itembox .link{display:block;position:absolute;left:0;top:0;bottom:0;right:0;}

/* article 공통 */
.atcbox{position:relative;}
.atcbox a{display:block;position:relative;width:100%;height:100%;}
.atcbox .imgbox{overflow:hidden;position:relative;width:100%;height:0;padding-top:100%;}
.atcbox .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;transition:all .3s linear;}
.atcbox a:hover .imgbox img{transform:scale(1.1);}
.atcbox .cate{display:block;position:relative;margin-bottom:6px;font-family:Gotham;font-size:11px;line-height:1;color:var(--point);}
.atcbox .txtbox{margin-top:16px;}
.atcbox .txtbox .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;position:relative;height:52px;font-size:18px;font-weight:500;line-height:26px;color:#111;word-break:break-all;letter-spacing:-0.01em;}

/* A모듈, F모듈 공통 */
.cate_atc_wrap{margin-bottom:var(--module-gap);}
.cate_atc_list.mo{display:none;}
.cate_atc_list.pc{display:flex;}
.cate_atc_list.pc .big_thumb{width:51%;padding-right:24px;}
.cate_atc_list.pc .big_thumb .atcbox{position:sticky;top:96px;}
.cate_atc_list.pc .big_thumb .imgbox{padding-top:133.334%;}
.cate_atc_list.pc .big_thumb .txtbox{margin-top:24px;}
.cate_atc_list.pc .big_thumb .cate{margin-bottom:8px;}
.cate_atc_list.pc .big_thumb .txtbox .tit{height:76px;font-size:26px;line-height:38px;}
.cate_atc_list.pc .sm_thumb{width:49%;}
.cate_atc_list.pc .sm_thumb ul{font-size:0;margin-bottom:-50px;}
/* A모듈(썸네일2개씩) */
.cate_atc_list.pc .sm_thumb.type2 li{display:inline-block;width:50%;margin-bottom:50px;vertical-align:top;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(odd){padding-right:12px;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(even){padding-left:12px;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(3),
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(5){margin-top:-15.94%;}
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(2) .imgbox,
.cate_atc_list.pc .sm_thumb.type2 li:nth-child(5) .imgbox{padding-top:133.334%;}
/* F모듈(썸네일1개씩) */
.cate_atc_list.pc .sm_thumb.type1 li{display:inline-block;width:100%;margin-bottom:50px;vertical-align:top;}
.cate_atc_list.pc .sm_thumb.type1 li .imgbox{padding-top:62.586%;}

/* B모듈 */
.scroll_atc_wrap{overflow-x:hidden;margin-bottom:var(--module-gap);padding:100px 0;background-color:#f7f7f7;}
.scroll_atc_wrap .tit_wrap{margin-bottom:40px;}
.scroll_atc_wrap .tit_wrap .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;color:#111;word-break:break-all;}
.scroll_atc_wrap .hashtag{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;position:relative;overflow:hidden;margin-top:12px;word-break:break-all;font-size:16px;line-height:23px;color:#666;}
.scroll_atc_list{overflow:visible;position:relative;margin-left:auto;margin-right:auto;padding:0;}
.scroll_atc_list li{width:384px;margin-right:24px;}
.scroll_atc_list li .imgbox{padding-top:62.5%;}
.scroll_atc_list li .txtbox{margin-top:12px;}
.scroll_atc_list .swiper-pagination{display:flex;width:100%;height:2px;margin-top:60px;background-color:#dbdbdb;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet{flex:1;position:relative;cursor:pointer;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet-active{background-color:#111;}
.scroll_atc_list .swiper-pagination .swiper-pagination-bullet:only-child.swiper-pagination-bullet-active,.swiper-pagination.swiper-pagination-lock{display:none}
.scroll_atc_list .swiper-scrollbar{height:2px;margin-top:60px;background-color:#dbdbdb;}
.scroll_atc_list .swiper-scrollbar .swiper-scrollbar-drag{background-color:#111;}

/* C모듈 */
.issue_atc_wrap{overflow:hidden;margin-bottom:var(--module-gap);}
.issue_atc_list{margin:0 -12px;}
.issue_atc_list .swiper-slide{width:25%;padding:0 12px;}
.issue_atc_list .atcbox{position:relative;width:100%;height:100%;}
.issue_atc_list .atcbox .imgbox{padding-top:133.334%;}

/* E모듈 */
.center_atc_wrap{margin-bottom:var(--module-gap);}
.center_atc_list .atcbox .imgbox{padding-top:133.333%;}
.center_atc_list ul{display:grid;grid-template-columns:calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);grid-gap:50px 24px;}
.center_atc_list li:nth-child(2){grid-column-start:span 2;grid-row-end:span 2;height:auto;}
.center_atc_list li:nth-child(2) .atcbox .imgbox:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:50%;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.6) 100%);}
.center_atc_list li:nth-child(2) .atcbox .txtbox{position:absolute;left:0;right:0;bottom:0;margin-top:0;padding:0 32px 32px;}
.center_atc_list li:nth-child(2) .atcbox .cate{color:#fff;}
.center_atc_list li:nth-child(2) .atcbox .txtbox .tit{height:auto;max-height:76px;font-size:26px;line-height:38px;color:#fff;}
.center_atc_list .atcbox .imgbox img.pc{display:block;}
.center_atc_list .atcbox .imgbox img.mo{display:none;}

/* G모듈 */
.top3_atc_wrap{margin-bottom:var(--module-gap);}
.top3_atc_wrap .tit_wrap{margin-bottom:20px;}
.top3_atc_list{margin:0 -12px;}
.top3_atc_list li{width:33.333%;padding:0 12px;}
.top3_atc_list li .num{margin-bottom:10px;font-family:Didot;font-size:56px;line-height:72px;color:#111;}
.top3_atc_list li:first-of-type{margin-left:0;}
.top3_atc_list li .imgbox{padding-top:133.334%;}
.top3_atc_list li .imgbox img.pc{display:block;}
.top3_atc_list li .imgbox img.mo{display:none;}

/* I모듈 */
.rect_atc_wrap{margin-bottom:var(--module-gap);}
.rect_atc_list ul{column-gap:24px;}
.rect_atc_list li{width:calc(50% - 12px);}
.rect_atc_area{display:flex;flex-wrap:wrap;column-gap:24px;row-gap:50px;}
.rect_atc_area .atcbox:first-child{width:100%;}
.rect_atc_area .atcbox:first-child .imgbox{padding-top:62.585%;}
.rect_atc_area .atcbox{width:calc(50% - 12px);}
.rect_atc_area .atcbox .imgbox{padding-top:133.333%;}
.rect_atc_area .atcbox .imgbox img.pc{display:block;}
.rect_atc_area .atcbox .imgbox img.mo{display:none;}

/* K모듈 */
.zigzag_atc_wrap{margin-bottom:var(--module-gap);}
.zigzag_atc_list .atcbox_set{display:flex;margin:0 -12px;}
.zigzag_atc_list .atcbox_set .atcbox{width:25%;padding:0 12px;}
.zigzag_atc_list .atcbox_set .atcbox:nth-child(even){margin-top:25px;}
.zigzag_atc_list .atcbox .txtbox{margin-top:12px;}
.zigzag_atc_list ul{flex-direction:column;gap:50px 0;}

/* M모듈 */
.mix_atc_wrap{margin-bottom:var(--module-gap);}
.mix_atc_wrap .cont_inner{position:relative;}
.mix_atc_wrap .tit_wrap{margin-bottom:60px;}
.mix_atc_wrap .tit_wrap .tit{flex-shrink:0;}
.mix_atc_wrap .tit_area{flex-wrap:wrap;justify-content:space-between;gap:0 50px;}
.mix_atc_wrap .tit_wrap .side{flex-shrink:inherit;margin:18px 0 0;}
.mix_atc_wrap .tab_cate ul{display:flex;flex-wrap:wrap;gap:12px 24px;}
.mix_atc_wrap .tab_cate li{display:inline-block;position:relative;vertical-align:top;}
.mix_atc_wrap .tab_cate li:last-child{margin-right:0;}
.mix_atc_wrap .tab_cate li a{display:block;position:relative;padding-bottom:6px;font-family:Gotham;font-size:16px;line-height:15px;letter-spacing:0;color:#999;}
.mix_atc_wrap .tab_cate li.on a{color:#111;border-bottom:2px solid #111;}
.mix_atc_list ul{display:flex;flex-wrap:wrap;gap:50px 24px;}
.mix_atc_list li:nth-child(1),
.mix_atc_list li:nth-child(2){width:calc(50% - 12px);}
.mix_atc_list li:nth-child(3),
.mix_atc_list li:nth-child(4),
.mix_atc_list li:nth-child(5){width:calc(33.333% - 16px);}
.mix_atc_list li a{display:block;width:100%;height:100%;}
.mix_atc_list li:nth-child(1) .imgbox,
.mix_atc_list li:nth-child(2) .imgbox{padding-top:62.586%;}

/* N모듈 */
.even_atc_wrap{margin-bottom:var(--module-gap);}
.even_atc_list ul{display:flex;flex-wrap:wrap;gap:50px 24px;}
.even_atc_list li{width:calc(50% - 12px)}
.even_atc_list .atcbox .imgbox{padding-top:62.5851%;}

/* 서브메인 > 기타모듈 (금주의 인기 기사) */
.article_slide_pc {height: auto; background: #F7F7F7; padding-top: 100px; margin-bottom:var(--module-gap);}
.article_slide_pc .tit_wrap{margin-bottom: 40px;}
.article_slide_pc .date{margin-top: 12px; color: #666; font-weight: 500; font-size: 16px; line-height: 1; font-family:Gotham;}
.article_slide_pc .article_slide{overflow:hidden;position:relative;margin-left:auto;margin-right:auto;padding:0;}
.article_slide_pc .article_slide li{width:23.5%;margin-right:24px;}
.article_slide_pc .article_slide li .txtbox{margin-top:12px;}
.article_slide_pc .article_slide_pagination{display:flex;position: static;width:100%;height:2px;margin-top:60px;background-color:#dbdbdb;}
.article_slide_pc .article_slide_pagination .swiper-pagination-progressbar-fill{flex:1;position:relative;cursor:pointer;}

.article_slide_pc .cont_inner {position: relative; padding-bottom: 100px;}
.article_slide_pc .p_btn{display: flex; position: absolute; top: 6px; right: 40px;}
.article_slide_pc .p_btn button{width: 24px; height: 24px; margin-left: 32px; cursor: pointer; background-size: 100%;}
.article_slide_pc .p_btn .article_slide_next{background-image: url(../images/progress_next.png);}
.article_slide_pc .p_btn .article_slide_prev{background-image: url(../images/progress_prev.png);}
.article_slide_pc .p_btn .article_slide_next:hover{background-image: url(../images/progress_next_on.png);}
.article_slide_pc .p_btn .article_slide_prev:hover{background-image: url(../images/progress_prev_on.png);}

.article_slide_mo {height: 0; overflow: hidden;}

/* 리스트 > 기타모듈 */
.colslide_atc_wrap{margin-bottom:var(--module-gap);}
.colslide_atc_list .atcbox_set{display:flex;margin:0 -12px;}
.colslide_atc_list .atcbox_set .atcbox{width:25%;padding:0 12px;}
.colslide_atc_list .atcbox .txtbox{margin-top:12px;}
.colslide_atc_list ul{flex-direction:column;gap:50px 0;}

/* 기사상세 > 이 기사도 흥미로우실 거예요 */
.set_atc_wrap{margin-bottom:var(--module-gap);}
.set_atc_list ul{column-gap:24px;}
.set_atc_list li{width:calc(50% - 12px);}
.set_atc_area{display:flex;flex-wrap:wrap;column-gap:24px;row-gap:50px;}
.set_atc_area .atcbox:first-child{width:100%;}
.set_atc_area .atcbox:first-child .imgbox{padding-top:62.585%;}
.set_atc_area .atcbox{width:calc(50% - 12px);}

/* 팔로우 배너 */
.follow_wrap{margin-bottom:var(--module-gap);}
.follow_box{display:flex;align-items:center;justify-content:space-between;padding:24px 100px;background:linear-gradient(270deg, #ededed 0%, #f7f7f7 51.56%, #ededed 100%);text-align:center;}
.follow_box .logo img{display:block;}
.follow_box .txt{flex:1;margin:0 20px;font-size:18px;font-weight:400;line-height:27px;}
.follow_box .txt strong{font-weight:400;}
.follow_box .txt strong em{font-weight:500;}
.follow_box .btnbox .btn{min-width:133px;border:0;}

/* 바자화보 */
.pic_atc_wrap{margin-bottom:180px;}
.pic_atc_list .atcbox .txtbox{position:absolute;left:0;right:0;bottom:0;margin-top:0;padding:0 32px 32px;}
.pic_atc_list .atcbox .txtbox:before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:160px;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.6) 100%);}
.pic_atc_list .atcbox .txtbox .tit{color:#fff;}
/* 바자화보 목록 */
.pic_atc_list .grid{font-size:0;margin:-12px;}
.pic_atc_list .grid:after{content:'';display:block;clear:both;}
.pic_atc_list .grid li{display:inline-block;vertical-align:top;width:50%;padding:12px;float:left;}
.pic_atc_list .grid li:nth-child(3n+1) .atcbox .imgbox{padding-top:133.333%;}
.pic_atc_list .grid li:nth-child(6n-2){float:right;}
.pic_atc_list .grid .atcbox .imgbox{padding-top:62.585%;}
.pic_atc_list .grid .atcbox .txtbox .tit{height:auto;max-height:52px;}
/* 검색결과 > 바자화보 목록 */
.pic_atc_list ul:not(.grid){display:flex;flex-wrap:wrap;gap:50px 0;margin:0 -12px;}
.pic_atc_list ul:not(.grid) li{width:33.333%;padding:0 12px;}
.pic_atc_list ul:not(.grid) .atcbox .imgbox{padding-top:62.5%;}
.pic_atc_list ul:not(.grid) .atcbox .txtbox{padding:0 24px 24px;}
.pic_atc_list ul:not(.grid) .atcbox .txtbox:before{height:120px;}

/* 댓글 모듈 */
.comment_wrap{width:100%;max-width:792px;margin:80px auto 0;padding-top:80px;border-top:1px solid #dbdbdb;}
.comment_wrap .tit_wrap{margin-bottom:24px;}
.comment_wrap .tit_wrap .tit{font-size:16px;line-height:23px;}
.comment_wrap .tit_wrap .tit .num{font-family:Gotham;font-weight:500;color:var(--point);line-height:22px;}
.comment_wrap .btn_more_wrap{margin-top:80px;}
.comment_write_area ~ .comment_list_area{margin-top:40px;}
.comment_write{position:relative;padding:19px 8px 19px 0;background-color:#fff;border:1px solid #dbdbdb;}
.comment_write:focus-within {border-color:#111;}
.comment_write textarea{display:block;overflow:hidden;overflow-y:auto;position:relative;width:100%;height:60px;padding:0 11px 0 19px;background-color:transparent;border:none;font-size:14px;font-weight:400;line-height:20px;color:#111;word-break:break-all;-webkit-appearance:none;-moz-appearance:none;appearance:none;resize:none;}
.comment_write textarea::placeholder{color:#999;font-size:14px;font-weight:400;}
.comment_write .comment_bottom{overflow-y:hidden;display:flex;align-items:flex-end;justify-content:space-between;margin:24px 11px 0 20px;}
.comment_write .comment_bottom .comment_btn{display:flex;gap:12px;}
.comment_write .comment_bottom .limit{font-size:14px;line-height:20px;color:#999;}
.comment_write .comment_bottom .limit .count{color:#111;}

.comment_list > ul > li{padding:24px 0;border-bottom:1px solid #dbdbdb;}
.comment_list > ul > li:first-of-type{padding-top:0;}
.comment_item{position:relative;display:flex;flex-direction:row;}
.comment_thumb .profile_img{display:block;overflow:hidden;width:40px;height:40px;margin-right:16px;border-radius:50%;background:url('../images/img_profile.png') no-repeat center center / 40px auto;}
.comment_thumb .profile_img img{display:block;width:100%;height:100%;object-fit:cover;}
.comment_cont{min-width:0;flex:1;display:flex;flex-direction:column;}
.comment_info{position:relative;display:flex;flex-direction:row;margin-bottom:8px;line-height:20px;}
.comment_info .user_info{display:flex;flex-direction:row;align-items:center;min-width:0;}
.comment_info .user_info > span{display:block;position:relative;font-size:14px;}
.comment_info .user_info > span ~ span{margin-left:8px;padding-left:8px;}
.comment_info .user_info > span ~ span:before{content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:12px;margin-top:1px;background-color:#dbdbdb;}
.comment_info .user_info .name{display:block;overflow:hidden;min-width:0;text-overflow:ellipsis;white-space:nowrap;}
.comment_info .user_info .date{display:block;white-space:nowrap;font-weight:400;color:#999;}
.comment_info .more_drop{margin-left:auto;}
.comment_box .btn_box{display:none;margin-top:4px;}
.comment_txt .comment_txt_inner{overflow:auto;}
.comment_txt.hide{position:relative;overflow:hidden;max-height:60px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.comment_txt .txt{font-size:14px;font-weight:400;line-height:20px;}
.comment_txt~ .comment_img{margin-top:16px;}
.comment_img img{display:block;max-width:384px;}/* 2024-03-26 수정 */
.comment_modify{display:none;}

.comment_util_box{margin-top:12px;}
.comment_util_box .btn_s{border-color:#ccc;color:#666;}
.comment_wrap .reply_area{position:relative;padding-left:88px;}
.comment_wrap .reply_area .comment_item:before{content:'';display:block;overflow:hidden;position:absolute;left:-32px;top:0;width:15px;height:15px;font-size:0;line-height:0;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}

.photo_upload{display:flex;flex-wrap:wrap;gap:12px;margin-top:12px;}
.photo_upload .btn_addfile{display:block;position:relative;width:80px;height:80px;background-color:#fff;border:1px dashed #dbdbdb;font-size:14px;line-height:20px;color:#111;}
.photo_upload .btn_addfile:before{content:'';display:block;width:24px;height:24px;margin:0 auto 4px;background:url("../images/ico_camera_24.svg") no-repeat center center;}
.photo_upload .btn_addfile:disabled{background-color:#f7f7f7;color:#999;}
.photo_upload .btn_addfile:disabled:before{background:url("../images/ico_camera_24_gray.svg");}
.photo_upload .thumb{display:block;position:relative;overflow:hidden;width:80px;height:80px;}
.photo_upload .thumb img{display:block;width:100%;height:100%;object-fit:cover;}
.photo_upload .thumb:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:40px;background:linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0) 100%);}
.photo_upload .thumb .btn_del{display:inline-block;position:absolute;right:0;top:0;width:24px;height:24px;background:url("../images/ico_close_16_white.svg") no-repeat top 2px right 2px;}

.more_drop{position:relative;}
.more_drop .layer_box{display:none;position:absolute;right:0;top:26px;z-index:2;background-color:#fff;border:1px solid #ccc;}
.more_drop.on .layer_box{display: block;}
.more_drop .layer_list{padding:4px 0;}
.more_drop .layer_list .btnm{display:inline-flex;align-items:center;width:100%;padding:8px 15px;font-size:14px;font-weight:400;color:#999;}
.more_drop .btnm.modify:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;background:url("../images/ico_modify_16.svg") no-repeat center center;}
.more_drop .btnm.del:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;;background:url("../images/ico_del_16.svg") no-repeat center center;}
.more_drop .btnm.cancel:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;;background:url("../images/ico_close_16_gray.svg") no-repeat center center;}

/* 투표 & 퀴즈 모듈 */
.pick_wrap{margin:40px auto;padding:60px;border:1px solid #dbdbdb;letter-spacing:-0.01em;}
.pick_wrap .pick_head{display:flex;flex-wrap:wrap;justify-content:center;align-items:baseline;margin-bottom:12px;}
.pick_wrap .pick_head span{display:inline-block;position:relative;font-size:14px;font-weight:500;line-height:20px;color:#111;}
.pick_wrap .pick_head .date{font-family:Gotham;color:#666;letter-spacing:0;line-height:1;}
.pick_wrap .pick_head .cate ~ .date{margin-left:12px;padding-left:12px;}
.pick_wrap .pick_head .cate ~ .date:before{content:'';display:inline-block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:#dbdbdb;}
.pick_wrap .pick_head .total{margin-left:8px;font-size:14px;line-height:1;}
.pick_wrap .pick_head .total .count{font-family:Gotham;font-weight:500;letter-spacing:0;}
.pick_wrap .pick_tit{max-width:588px;margin:0 auto 40px;}
.pick_wrap .pick_tit .tit{display:block;font-size:18px;font-weight:500;line-height:26px;text-align:center;}
.pick_wrap .pick_count{display:none;margin-bottom:12px;}
.pick_wrap .pick_count .total{font-size:14px;line-height:20px;color:#666;}
.pick_wrap .pick_count .total .count{font-family:Gotham;font-weight:500;line-height:1;}
.pick_wrap .btn_group{display:flex;justify-content:center;margin-top:40px;}
.is_pc .pick_wrap .btn_group .btn{min-width:180px;}
.pick_wrap .btn_group .btn ~ .btn{margin-left:16px;}

.pick_list.type1{display:flex;flex-wrap:wrap;gap:16px;}
.pick_list.type1 .pick_item{width:calc(50% - 8px);}
.pick_list.type1 .pick_radio{display:block;position:relative;width:100%;height:100%;}
.pick_list.type1 .pick_radio input[type="radio"]{display:none;}
.pick_list.type1 .pick_radio label{display:flex;position:relative;width:100%;height:100%;min-height:98px;padding:13px 56px 14px 20px;background-color:#f7f7f7;border:1px solid transparent;font-size:16px;font-weight:400;line-height:23px;color:#999;text-align:left;vertical-align:top;word-break:break-all;cursor:pointer;}
.pick_list.type1 .pick_radio label:before{content:'';display:inline-block;position:absolute;right:20px;top:14px;width:20px;height:20px;background:url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;}
.pick_list.type1 .pick_radio label .txt{word-break:break-all;}
.pick_list.type1 .pick_radio input[type="radio"]:checked + label{background-color:#fff;border-color:#111;color:#111;box-shadow:1px 2px 6px 0px rgba(0, 0, 0, 0.12);}
.pick_list.type1 .pick_radio input[type="radio"]:checked + label:before{background-image:url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23111111'/%3E%3Ccircle cx='10' cy='10' r='3' fill='white'/%3E%3C/svg%3E%0A");}
.pick_list.type1 .pick_radio input[type="radio"]:disabled + label:before{display:none;}

.pick_list.type2{display:flex;flex-wrap:wrap;gap:24px 16px;}
.pick_list.type2 .pick_item{width:calc(33.333% - 11px);}
.pick_list.type2 .pick_radio{display:block;position:relative;width:100%;height:100%;}
.pick_list.type2 .pick_radio input[type="radio"]{display:none;}
.pick_list.type2 .pick_radio label{display:flex;flex-direction:column;position:relative;width:100%;height:100%;padding:8px 8px 16px;background-color:#f7f7f7;font-size:14px;font-weight:500;line-height:20px;color:#999;text-align:left;vertical-align:top;word-break:break-all;cursor:pointer;}
.pick_list.type2 .pick_radio label:before{content:'';display:inline-block;position:absolute;right:16px;top:16px;width:20px;height:20px;background:url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' fill='white' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;}
.pick_list.type2 .pick_radio label .txt{min-height:60px;word-break:break-all;}
.pick_list.type2 .pick_radio input[type="radio"]:checked + label{background-color:rgba(255,0,0,.12);color:#111;}
.pick_list.type2 .pick_radio input[type="radio"]:checked + label:before{background-image:url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23111111'/%3E%3Ccircle cx='10' cy='10' r='3' fill='white'/%3E%3C/svg%3E%0A");}
.pick_list.type2 .thumb{overflow:hidden;display:block;width:100%;height:103px;margin-bottom:8px;}
.pick_list.type2 .thumb img{width:100%;height:100%;object-fit:cover;}
.pick_list.type2 .pick_radio input[type="radio"]:disabled + label:before{display:none;}

.pick_result_list{display:flex;flex-direction:column;gap:16px 0;}
.pick_result_list .pick_item{width:100%;}
.pick_result_list .pick_rate{display:flex;position:relative;}
.pick_result_list .thumb{width:80px;height:80px;margin:0;}
.pick_result_list .thumb img{width:100%;height:100%;object-fit:cover;}
.pick_result_list .info{display:flex;flex:1;position:relative;min-height:80px;padding:17px 24px;text-align:left;background-color:#f7f7f7;}
.pick_result_list .bar_rate{overflow:hidden;position:absolute;left:0;top:0;bottom:0;height:100%;background-color:rgba(219,219,219,.8);}
.pick_result_list .txt{display:flex;position:relative;align-items:center;font-size:16px;line-height:23px;}
.pick_result_list .txt_result{flex-shrink:0;position:relative;width:70px;margin-top:3px;margin-left:auto;text-align:right;font-family:Gotham, 'Noto Sans KR';font-weight:500;}
.pick_result_list .txt_result .percent{display:block;font-size:18px;line-height:17px;}
.pick_result_list .txt_result .count{display:block;margin-top:8px;font-size:14px;color:#666;line-height:13px;}
.pick_result_list .pick_item.on .bar_rate{background-color:rgba(255,0,0,.12);}
.pick_result_list .pick_item.on .percent,
.pick_result_list .pick_item.on .count{color:#B30010;}

/* 지도 모듈 */
.map_wrap{max-width:792px;margin:40px auto;}
.map_wrap .map_area .map_item{overflow:hidden;position:relative;width:100%;height:0;padding-top:62.5%;}
.map_wrap .map_area .map_inner{display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
.map_wrap .map_area .map_api{position:relative;width:100%;height:100%;}
.map_wrap .map_area .btn_ico.zoom{position:absolute;right:24px;top:24px;z-index:10;}
.map_wrap .map_area .caption{margin-top:12px;font-size:14px;font-weight:400;color:#666;line-height:24px;letter-spacing:0.08em;text-align:left;}
.map_wrap .map_info{margin-top:24px;letter-spacing:-0.01em;}
.map_wrap .map_info .name_box{margin-bottom:12px;}
.map_wrap .map_info .name_box .name{display:block;font-size:24px;font-weight:500;line-height:36px;}
.map_wrap .map_list > li{display:flex;}
.map_wrap .map_list > li{font-size:16px;font-weight:400;line-height:23px;}
.map_wrap .map_list > li ~ li{margin-top:12px;}
.map_wrap .map_list > li > em{width:85px;padding-right:24px;font-weight:400;color:#666;word-break:break-all;}
.map_wrap .map_list > li > span{flex:1;word-break:break-all;}
.map_wrap .map_exp{margin-top:20px;padding-top:20px;border-top:1px solid #dbdbdb;}
.map_wrap .map_exp .tit_box{margin-bottom:8px;font-size:16px;line-height:23px;}
.map_wrap .map_exp .tit_box .tit{font-weight:400;}
.map_wrap .map_exp .comment_txt.hide{max-height:84px;}
.map_wrap .map_exp .comment_txt .txt{font-size:16px;font-weight:400;color:#666;line-height:28px;}
.map_wrap .map_exp .btn_box{margin-top:4px;}
.is_pc .map_wrap .map_exp .btn_box .has_toggle{font-size:16px;}
.is_pc .map_wrap .map_exp .btn_box .has_toggle:after{width:16px;height:16px;}
.is_pc .map_wrap.horiz{display:flex;width:100%;align-items:flex-start;}
.is_pc .map_wrap.horiz .map_area{width:48.485%;}
.is_pc .map_wrap.horiz .map_item{padding-top:100%;}
.is_pc .map_wrap.horiz .map_info{width:51.515%;margin-top:0;padding-left:28px;}
.is_pc .map_wrap.horiz .map_area .btn_ico.zoom{right:12px;top:12px;}

/* 개인정보 수집 및 이용동의 */
.terms_wrap{max-width:792px;margin:80px auto 0;padding-top:80px;border-top:1px solid #dbdbdb;}
.terms_wrap .tit_wrap{margin-bottom:24px;}
.terms_wrap .tit_wrap .tit{font-size:16px;line-height:23px;}
.terms_wrap .terms_box{padding:31px 8px 31px 0;border: 1px solid #dbdbdb;}
.terms_wrap .terms_box .box_inner{max-height:200px;padding:0 23px 0 31px;font-size:14px;font-weight:400;line-height:20px;color:#111;}
.terms_wrap .terms_box .box_inner > *{word-break:break-all;}
.terms_wrap .btn_group{display:flex;margin-top:40px;}
.terms_wrap .btn_group .btn{width:100%;}
.terms_wrap .btn_group .btn ~ .btn{margin-left:16px;}

.popup_register .popup_head{border-bottom:0;}
.popup_register .popup_cont .stit{margin-bottom:32px;font-size:24px;font-weight:700;line-height:35px;text-align:center;}
.popup_register .bx_type01{margin-bottom:32px;}

/* photoViewer */
.photoViewer {position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; opacity: 0; overflow: hidden; background: rgba(0, 0, 0, 0.70);}
.photoViewer.active {z-index: 100; opacity: 1; overflow: visible;}
.photoViewer .pvSwiper {width: 100%;}
.photoViewer .pv_container {height: 100%;}
.photoViewer .pv_cont {display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 100%;}
.photoViewer .pv_container .swiper-wrapper {height: 100%; align-items: center;}
.photoViewer .pv_cont .swiper-slide{display: flex; justify-content: center;}
.photoViewer .pv_cont .swiper-slide .pv_img{display: flex; flex-direction: column; justify-content: center;}
.photoViewer .pv_cont .swiper-slide img{height: 840px;object-fit: contain;}
.photoViewer .pv_cont .swiper-slide .caption{margin-top: 12px;color: #fff; font-size: 14px; font-weight:400; line-height: 24px; letter-spacing:0.08em; text-align: left;}
.photoViewer .pv_next {right: 50%; margin-right: -512px;}
.photoViewer .pv_prev {left: 50%; margin-left: -512px;}
.photoViewer .pvSwiper ~ button[role="button"] {position: absolute; top: 50%; width: 48px;  opacity: 0.6; transform: translateY(calc(-50% - 18px));}
.photoViewer .pvSwiper ~ button[role="button"]:hover {opacity: 1;}
.photoViewer .pv_close {position: absolute; top: 46px; right: 46px; width: 48px; height:48px;}
.photoViewer .pv_close img{width:28px;height:28px;}

body.is_pc .photoViewer .pvSwiper { height:100%; max-height:840px; }
body.is_pc .photoViewer .pv_cont .swiper-slide .pv_img { padding:36px 0}
body.is_pc .photoViewer .pv_cont .swiper-slide .pv_img img { height:100%}

/* 바자화보 상세 > 하단 티커 */
.ticker {position: relative; padding: 100px 0; margin-bottom:var(--module-gap); overflow: hidden; background: #F7F7F7;}
.ticker .continuous {display: block;}
.marquee {overflow: hidden; height: 349px;}
.marquee + .marquee {margin-top: 24px;}
.marquee__track {overflow: hidden;}
.marquee .marquee__item {float: left;}
.marquee .marquee__img {position: relative; padding: 0 12px;}
.marquee .marquee__img img {height: 349px;}
.marquee .marquee__img .marquee__info {position: absolute; bottom: 0; left: 12px; right: 12px; height: 160px; padding: 76px 32px 0; text-align: left; background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.60) 100%);}
.marquee .marquee__img .subject {color: #fff; font-weight: 500; font-family:Gotham; font-size: 12px; line-height: 1;}
.marquee .marquee__img .desc_txt {color: #fff; font-weight: 500; font-size: 18px; line-height: 26px; text-overflow: ellipsis; overflow: hidden;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 52px;word-break:break-all;}
.bottom-article {display: none;}

/* 리스트 > 가로로 긴 이벤트 배너 모듈 */
.bnr_slide_wrap{margin-bottom:var(--module-gap);}
.bnr_slide_list{overflow:hidden;}
.bnr_slide_list .bnrbox{overflow:hidden;width:100%;}
.bnr_slide_list .bnrbox a{display:block;width:100%;height:100%;}
.bnr_slide_list .bnrbox .imgbox{overflow:hidden;position:relative;width:100%;height:0;padding-top:12.334%;}
.bnr_slide_list .bnrbox .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;transition:all .3s linear;}
.bnr_slide_list .bnrbox .imgbox .mo{display:none;}
.bnr_slide_list .control{margin-top:24px;}
.bnr_slide_list .swiper-pagination {display: flex; justify-content: center;}
.bnr_slide_list .swiper-pagination-bullet {width: 20px; height: 2px; margin: 0 3px; background: #DBDBDB; cursor: pointer;}
.bnr_slide_list .swiper-pagination-bullet-active {background: #111;}

/* swiper 컨트롤 */
.control {display: none;}
.swiper-container-initialized .control{display: block;}

/* 바자예술산책 - 전시정보 리스트 추가 */
.comm_ex_wrap{margin-bottom:180px;}
.comm_ex_list ul{display:flex;flex-wrap:wrap;gap:50px 0;margin:0 -20px 0;}
.comm_ex_list li{width:33.333%;padding:0 20px;}
.comm_ex_list .comm_ex_item a{display:block;}
.comm_ex_item {position: relative; width: 100%; max-width: 373px;}
.comm_ex_item .ex_img_fig{overflow:hidden;position:relative;width:100%;height:0;padding-top:133.333%;}
.comm_ex_item .ex_img_fig img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.comm_ex_item .ex_img_fig figcaption{position: absolute;top: 0;left: 0;z-index: -1;}
.comm_ex_item .ex_guide{padding: 24px;border: 1px solid #111;}
.comm_ex_item .ex_sbj{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;text-overflow: ellipsis;overflow: hidden;height: 48px;color: #111;font-weight: 500;font-size: 18px;line-height: 24px;word-break:break-all;}
.comm_ex_item .ex_range{display: flex;align-items: center;height: 22px;margin-top: 13px;}
.comm_ex_item .ex_date{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color: #111;font-family: Gotham;font-size: 14px;font-weight: 500;line-height: 20px;}
.comm_ex_item .flag{min-width:auto;font-family:'Noto Sans KR';}
.comm_ex_item .ex_range .flag{flex-shrink:0;height:22px;margin-left: 12px;padding:0 8px;font-size:12px;line-height:21px;}
.comm_ex_item .ex_loc_row{display: flex;margin-top: 13px;overflow:hidden;}
.comm_ex_item .ex_loc{position: relative;}
.comm_ex_item .ex_loc:after{content: '';position: absolute;top:50%;right: -13px;width: 2px;height: 12px;margin-top:1px;background: #111;opacity: 0.2;transform: translateY(-50%);}
.comm_ex_item .ex_loc_sub{color: #111;font-size: 14px;font-weight: 500;line-height: 20px;word-break:break-all;white-space: nowrap;}
.comm_ex_item .ex_place{position: relative;margin-left: 26px;overflow: hidden;text-overflow: ellipsis;}
.comm_ex_item .ex_top{display: flex;align-items: center;justify-content: space-between;position: absolute;top: 0;left: 0;z-index: 1;width: 100%;padding: 20px;pointer-events: none;}
.comm_ex_item .ex_top_flag{display: flex;}
.comm_ex_item .ex_top_flag .flag{height:33px;padding:0 14px;font-size:12px;line-height:28px;color:#fff;background-color:#111;border:2px solid #111;}
.comm_ex_item .ex_top_flag .flag.type2{background-color:#fff;color:#111;}
.comm_ex_item .ex_top_flag .flag ~ .flag{margin-left:8px;}
.comm_ex_item .btn_ico.scrap {pointer-events: all; background-image:url("../images/ico_scrap02_28.svg");}
.comm_ex_item .btn_ico.scrap.on{background-image:url("../images/ico_scrap02_on_28.svg");}


/************************* keyframes *************************/
@keyframes fadeIn{
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes slideProgress {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0);}
}

@keyframes marquee {
	from { transform: translateX(0); }
	to { transform: translateX(-50%); }
}


/************************* Media Query *************************/
@media (max-width:1024px){
	.follow_box{padding:24px 50px;}
}

@media (max-width:768px){
	.pc_br{display:none;}
	.mo_br{display:block;}

	/* 메인 슬라이드형 배너 모듈 */
	.kv_slide_wrap{margin-bottom:20px;}
	.kv_slide_wrap .cont_inner{padding:0;}
	.kv_swiper .imgbox{padding-top:160%;}
	.kv_swiper .imgbox img.pc{display:none;}
	.kv_swiper .imgbox img.mo{display:block;}
	.kv_swiper .txtbox{padding:0 24px;}
	.kv_swiper .txtbox .tit{font-size:24px;line-height:36px;}
	.kv_swiper .txtbox .txt{font-size:14px;line-height:22px;}
	.kv_swiper .btn_prev,
	.kv_swiper .btn_next{display:none;}
	.kv_swiper .swiper-pagination-bullet{width:24px;}

	/* 메인 풀이미지형 배너 모듈 */
	.kv_full{margin-bottom:20px;}
	.kv_full .txtbox{padding:70% 24px 30px;}
	.kv_full .txtbox .tit{font-size:24px;line-height:36px;}
	.kv_full .txtbox .txt{font-size:14px;line-height:20px;}
	.kv_full .imgbox{height:100vh;}
	.kv_full .imgbox:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:50%;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);}
	.kv_full .imgbox img.pc{display:none;}
	.kv_full .imgbox img.mo{display:block;}

	/* 메인 영상형 배너 모듈 */
	.kv_video{overflow:hidden;height:600px;margin-bottom:20px;}
	.kv_video .itembox{height:100%;padding:0;}
	.kv_video .itembox iframe{width:1080px;height:605px;left:50%;transform:translateX(-50%);overflow:hidden;}
	.kv_video .itembox iframe.pc{display:none;}
	.kv_video .itembox iframe.mo{display:block;}

	/* article 공통 */
	.atcbox .cate{font-size:10px;}
	.atcbox .txtbox{margin-top:12px;}
	.atcbox .txtbox .tit{height:40px;font-size:14px;line-height:20px;}

	/* A모듈, F모듈 공통 */
	.cate_atc_list.pc{display:none;}
	.cate_atc_list.mo{display:block;}
	.cate_atc_list.mo .itembox .cate{font-size:10px;}
	.cate_atc_list.mo .big_thumb{margin-bottom:24px;}
	.cate_atc_list.mo .big_thumb .imgbox{padding-top:133.334%;}
	.cate_atc_list.mo .big_thumb .txtbox{margin-top:16px;}
	.cate_atc_list.mo .big_thumb .txtbox .tit{height:52px;font-size:18px;line-height:26px;}
	.cate_atc_list.mo .sm_thumb{overflow:hidden;margin:0 -20px;padding:0 20px;}
	.cate_atc_list.mo .sm_thumb .swiper-slide{display:flex;flex-wrap:wrap;justify-content:space-between;row-gap:24px;}
	.cate_atc_list.mo .sm_thumb .swiper-slide .atcbox{width:calc(50% - 6px);}
	.cate_atc_list.mo .sm_thumb .txtbox .tit{height:40px;font-size:14px;line-height:20px;}

	/* swiper 컨트롤 */
	.control{margin-top:32px;text-align:center;}
	.control .swiper-pagination{font-size:0;}
	.control .swiper-pagination .swiper-pagination-bullet{display:inline-block;position:relative;width:24px;height:2px;margin:0 4px;cursor:pointer;background-color:#dbdbdb;}
	.control .swiper-pagination .swiper-pagination-bullet-active{background-color:#111;}
	.only .control{display:none;}

	/* B모듈 */
	.scroll_atc_wrap{padding:60px 0;}
	.scroll_atc_wrap .tit_wrap{margin-bottom:32px;}
	.scroll_atc_wrap .hashtag{margin-top:6px;font-size:14px;line-height:20px;}
	.scroll_atc_list li{width:87.165%;margin-right:12px;}
	.scroll_atc_list li:last-child{margin-right:0;}
	.scroll_atc_list li .imgbox{height:0;padding-top:62.672%;}
	.scroll_atc_list .control{display:none;}

	/* C모듈 */
	.issue_atc_wrap .tit_wrap .tit_area{justify-content:center;text-align:center;}
	.issue_atc_list{position:relative;margin:0;}
	.issue_atc_list .atcbox .imgbox{padding-top:133.565%;}
	.issue_atc_list ul{align-items:center;}
	.issue_atc_list .swiper-slide{position:relative;width:87.115%;padding:0;transform:scale(0.78);transition:all .3s ease-in-out;overflow:hidden;}
	.issue_atc_list .swiper-slide.swiper-slide-active,
	.issue_atc_list .swiper-slide.swiper-slide-duplicate-active{width:87.115%;transform:scale(1);}
	.issue_atc_list .swiper-slide img{display:block;}
	.issue_atc_list .atcbox .cate{margin-top:0;color:#fff;}
	.issue_atc_list .atcbox .txtbox{position:absolute;left:0;bottom:0;width:100%;margin-top:0;padding:0 20px 32px;}
	.issue_atc_list .atcbox .txtbox:before{content:'';position:absolute;left:0;bottom:0;width:100%;height:195px;background:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);}
	.issue_atc_list .atcbox .txtbox .tit{height:auto;max-height:46px;font-size:16px;line-height:23px;color:#fff;}

	/* E모듈 */
	.center_atc_list ul{grid-template-columns:calc(50% - 6px);grid-gap:24px 12px;}
	.center_atc_list .atcbox .imgbox{padding-top:100%;}
	.center_atc_list li:nth-child(2){order:3;}
	.center_atc_list li:nth-child(2) .atcbox .imgbox{padding-top:133.333%;}
	.center_atc_list li:nth-child(2) .atcbox .txtbox{padding:0 20px 32px;}
	.center_atc_list li:nth-child(2) .atcbox .txtbox .tit{max-height:52px;font-size:18px;line-height:26px;}
	.center_atc_list li:nth-child(4){order:4;}
	.center_atc_list li:nth-child(5){order:5;}
	.center_atc_list .atcbox .imgbox img.pc{display:none;}
	.center_atc_list .atcbox .imgbox img.mo{display:block;}

	/* G모듈 */
	.top3_atc_wrap .tit_wrap{margin-bottom:12px;}
	.top3_atc_list{overflow:hidden;margin:0 -20px;padding:0 20px;}
	.top3_atc_list li{overflow:hidden;width:87.165%;padding:0;}
	.top3_atc_list li .num{margin-bottom:8px;font-size:40px;line-height:52px;}
	.top3_atc_list li .imgbox{padding-top:100%;}
	.top3_atc_list li .imgbox img.pc{display:none;}
	.top3_atc_list li .imgbox img.mo{display:block;}
	.top3_atc_list li .txtbox .tit{height:46px;font-size:16px;line-height:23px;}

	/* I모듈 */
	.rect_atc_list{overflow:hidden;margin:0 -20px;padding:0 20px;}
	.rect_atc_list ul{column-gap:0;}
	.rect_atc_list li{width:100%;margin-right:20px;}
	.rect_atc_area{display:flex;flex-wrap:wrap;column-gap:11px;row-gap:24px;}
	.rect_atc_area .atcbox{width:calc(50% - 5.5px);}
	.rect_atc_area .atcbox .imgbox{padding-top:100%;}
	.rect_atc_area .atcbox:first-child .txtbox .tit{height:52px;font-size:18px;line-height:26px;}
	.rect_atc_area .atcbox .imgbox img.pc{display:none;}
	.rect_atc_area .atcbox .imgbox img.mo{display:block;}

	/* K모듈 */
	.zigzag_atc_list{margin:0 -20px;padding:0 20px;overflow:hidden;}
	.zigzag_atc_list ul {flex-direction: row;}
	.zigzag_atc_list li{margin-right:20px;}
	.zigzag_atc_list .atcbox_set{flex-wrap:wrap;gap:24px 0;margin:0 -6px;}
	.zigzag_atc_list .atcbox_set .atcbox{width:50%;padding:0 6px;}
	.zigzag_atc_list .atcbox_set .atcbox:nth-child(even){margin-top:0;}

	/* M모듈 */
	.mix_atc_wrap .tit_wrap{margin-bottom:18px;}
	.mix_atc_wrap .tit_wrap .tit{flex-shrink:inherit;}
	.mix_atc_wrap .tit_wrap .side{width:100%;margin:22px 0 0;}
	.mix_atc_wrap .tab_cate ul{overflow:hidden;overflow-x:auto;display:block;margin:0 -20px;padding:10px 20px;font-size:0;white-space:nowrap;}
	.mix_atc_wrap .tab_cate ul::-webkit-scrollbar{display:none;}
	.mix_atc_wrap .tab_cate li{margin-right:20px;}
	.mix_atc_wrap .tab_cate li a{padding-bottom:4px;font-size:14px;line-height:13px;}
	.mix_atc_list ul{gap:24px 12px;}
	.mix_atc_list li:nth-child(1){width:100%;}
	.mix_atc_list li:nth-child(2),
	.mix_atc_list li:nth-child(3),
	.mix_atc_list li:nth-child(4),
	.mix_atc_list li:nth-child(5){width:calc(50% - 6px);}
	.mix_atc_list li:nth-child(1) .imgbox{padding-top:62.687%}
	.mix_atc_list li:nth-child(2) .imgbox{padding-top:100%;}
	.mix_atc_list li:nth-child(1) .txtbox{margin-top:16px;}
	.mix_atc_list li:nth-child(1) .txtbox .tit{height:52px;font-size:18px;line-height:26px;}

	/* N모듈 */
	.even_atc_list{overflow:hidden;margin:0 -20px;padding:0 20px;}
	.even_atc_list ul{flex-wrap:nowrap;gap:0;}
	.even_atc_list li{width:87.165%;margin-right:12px;}

	/* 기사상세 > 이 기사도 흥미로우실 거예요 */
	.set_atc_list{overflow:hidden;margin:0 -20px;padding:0 20px;}
	.set_atc_list ul{column-gap:0;}
	.set_atc_list li{width:100%;margin-right:20px;}
	.set_atc_area{display:flex;flex-wrap:wrap;column-gap:11px;row-gap:24px;}
	.set_atc_area .atcbox{width:calc(50% - 5.5px);}
	.set_atc_area .atcbox:first-child{width:100%;}
	.set_atc_area .atcbox:first-child .imgbox{padding-top:62.585%;}
	.set_atc_area .atcbox:first-child .txtbox .tit{height:52px;font-size:18px;line-height:26px;}

	/* 팔로우 배너 */
	.follow_box{flex-direction:column;align-items:stretch;padding:48px 40px 40px;background:#f6f6f6;}
	.follow_box .logo{order:2;width:102px;margin:20px auto 0;}
	.follow_box .txt{margin:0;line-height:20px;}
	.follow_box .txt span{display:block;margin-bottom:3px;font-size:14px;font-weight:400;}
	.follow_box .txt strong{display:block;font-size:20px;font-weight:500;line-height:30px;}
	.follow_box .btnbox{width:100%;order:3;margin-top:28px;}
	.follow_box .btnbox .btn{width:100%;}
	.follow_box .btnbox .btn:after{background-size:16px auto;}

	/* 리스트 > 기타모듈 */
	.colslide_atc_list{margin:0 -20px;padding:0 20px;overflow:hidden;}
	.colslide_atc_list ul {flex-direction: row;}
	.colslide_atc_list li{margin-right:20px;}
	.colslide_atc_list .atcbox_set{flex-wrap:wrap;gap:24px 0;margin:0 -6px;}
	.colslide_atc_list .atcbox_set .atcbox{width:50%;padding:0 6px;}

	/* 바자화보 */
	.pic_atc_wrap{margin-bottom:80px;}
	.pic_atc_list .atcbox .txtbox:before{height:120px;}
	.pic_atc_list .atcbox .txtbox .tit{font-size:18px;line-height:26px;}
	/* 바자화보 목록 */
	.pic_atc_list .grid{display:block;margin:0;}
	.pic_atc_list .grid li{width:100%;margin-bottom:12px;padding:0;float:none;}
	.pic_atc_list .grid li:last-child{margin-bottom:0;}
	.pic_atc_list .grid li:nth-child(6n-2){float:none;}
	.pic_atc_list .grid .atcbox .txtbox{padding:0 24px 24px;}

	/* 검색결과 > 바자화보 목록 */
	.pic_atc_list ul:not(.grid){gap:12px 0;margin:0;}
	.pic_atc_list ul:not(.grid) li{width:100%;padding:0;}
	.pic_atc_list ul:not(.grid) .atcbox .txtbox .tit{height:52px;}

	/* 댓글 모듈 */
	.comment_wrap{margin-top:60px;padding-top:60px;}
	.comment_wrap .tit_wrap{margin-bottom:16px;}
	.comment_wrap .btn_more_wrap{margin-top:32px;}
	.comment_write_area ~ .comment_list_area{margin-top:32px;}
	.comment_write{padding:15px 5px 15px 15px;}
	.comment_write textarea{height:60px;padding:0 10px 0 0;}
	.comment_write .comment_bottom{gap:0 5px;margin:24px 10px 0 0;}
	.comment_write .comment_bottom .comment_btn .btn_s{padding:0 18px;}
	.comment_thumb .profile_img{width:28px;height:28px;margin-right:12px;background-size:28px auto;}
	.comment_info{margin-bottom:5px;}
	.comment_cont .comment_info .user_info > span{font-size:12px;}
	.comment_cont .comment_info .user_info > span ~ span{margin-left:6px;padding-left:6px;}
	.comment_list > ul > li{padding:24px 0 20px;}
	.photo_upload .btn_addfile{width:74px;height:74px;font-size:12px;line-height:17px;}
	.photo_upload .btn_addfile:before{margin-bottom:2px;}
	.photo_upload .thumb{width:74px;height:74px;}
	.comment_wrap .reply_area{padding-left:40px;}
	.comment_wrap .reply_area .comment_item:before{left:-40px;}
	.comment_wrap.reply{margin-bottom:40px;}

	/* 개인정보 수집 및 이용동의 */
	.terms_wrap{margin-top:60px;padding-top:60px;}
	.terms_wrap .tit_wrap{margin-bottom:16px;}
	.terms_wrap .terms_box{padding:19px 0 19px 0;}
	.terms_wrap .terms_box .box_inner{padding:0 19px;}
	.terms_wrap .btn_group{margin-top:16px;}

	.popup_register .popup_head{min-height:48px;}
	.popup_register .popup_cont .stit{font-size:22px;line-height:32px;}

	/* 투표 & 퀴즈 모듈 */
	.pick_wrap{margin:20px 0;padding:0;border:0;}
	.pick_wrap .pick_head .total{display:none;}
	.pick_wrap .pick_tit{margin-bottom:32px;}
	.pick_wrap .pick_tit .tit{font-size:16px;line-height:23px;}
	.pick_wrap .pick_count{display:flex;align-items:baseline;}
	.pick_wrap .btn_group{margin-top:32px;}
	.pick_wrap .btn_group .btn{width:100%;}
	.pick_wrap .btn_group .btn ~ .btn{margin-left:12px;}

	.pick_list.type1{gap:12px;}
	.pick_list.type1 .pick_item{width:100%;}
	.pick_list.type2{gap:24px 11px;}
	.pick_list.type2 .pick_item{width:calc(50% - 5.5px);}
	.pick_list.type2 .thumb{height:92px;}
	.pick_list.type2 .pick_radio label .txt{min-height:80px;}

	.pick_result_list{gap:12px 0;}
	.pick_result_list .txt{font-size:14px;line-height:20px;}
	.pick_result_list .thumb{width:72px;height:72px;}
	.pick_result_list .info{min-height:72px;padding:16px 16px 16px 18px;}
	.pick_result_list .txt_result{width:55px;margin-top:5px;}
	.pick_result_list .txt_result .percent{font-size:14px;line-height:13px;}
	.pick_result_list .txt_result .count{margin-top:6px;font-size:12px;line-height:11px;}

	/* 지도 모듈 */
	.map_wrap{margin:20px 0;}
	.map_wrap .map_area .btn_ico.zoom{right:12px;top:12px;}
	.map_wrap .map_area .caption{margin-top:8px;padding:0;font-size:14px;line-height:24px;letter-spacing:0.02em;}
	.map_wrap .map_info{margin-top:18px;}
	.map_wrap .map_info .name_box .name{font-size:18px;line-height:26px;}
	.map_wrap .map_list > li{font-size:14px;line-height:20px;}
	.map_wrap .map_list > li > em{width:76px;}
	.map_wrap .map_list > li ~ li{margin-top:8px;}
	.map_wrap .map_exp .tit_box{font-size:14px;line-height:20px;}
	.map_wrap .map_exp .comment_txt.hide{max-height:66px;}
	.map_wrap .map_exp .comment_txt .txt{font-size:14px;line-height:22px;}

	/* 서브메인 > 기타모듈 (금주의 인기 기사) */
	.article_slide_pc {height: 0; overflow: hidden; padding: 0; margin: 0;}
	.article_slide_mo {height: auto; background: #F7F7F7; padding: 60px 0; margin-bottom:var(--module-gap);}
	.article_slide_mo .date{margin-top: 6px; color: #666; font-weight: 500; font-size: 14px; line-height: 1; font-family:Gotham;}
	.article_slide_mo .article_slide{overflow:hidden;position:relative;margin-left:auto;margin-right:auto;padding:0;}
	.article_slide_mo .article_slide li {display: flex;flex-wrap:wrap; justify-content: space-between;}
	.article_slide_mo .article_slide li .atcbox{width: calc(50% - 6px); margin-bottom: 24px;}
	.article_slide_mo .article_slide li .txtbox{margin-top:12px;}
	.article_slide_mo .pagination{display:flex;justify-content: center;column-gap:8px;margin-top:8px;width: 100%;}
	.article_slide_mo .pagination .swiper-pagination-bullet{width: 24px;height: 2px;background:rgba(17,17,17,.2);}
	.article_slide_mo .pagination .swiper-pagination-bullet-active{background: #111;}
	.article_slide_mo .cont_inner {position: relative;}

	/* photoViewer */
	.photoViewer .pv_cont .swiper-slide{display: block; width: 100vw !important; height: 100%;}
	.photoViewer .pv_cont .swiper-slide img{width: 100%; height: auto;}
	.photoViewer .pv_cont .swiper-slide .caption{margin: 8px 0 0 20px; font-size: 14px; line-height: 24px; text-align: left;}
	.photoViewer .pv_next,
	.photoViewer .pv_prev{height:28px;background-position:center center;background-repeat:no-repeat;background-size:100% auto;}
	.photoViewer .pv_next img,
	.photoViewer .pv_prev img{display:none;}
	.photoViewer .pv_next {right: 20px; margin-right: 0; background-image:url('../images/photo_viewer_next_mo.png');}
	.photoViewer .pv_prev {left: 20px; margin-left: 0; background-image:url('../images/photo_viewer_prev_mo.png');}
	.photoViewer .pvSwiper ~ button[role="button"] {width: 24px; opacity: 0.6; transform: translateY(calc(-50% - 16px));}
	.photoViewer .pv_close {top: 68px; right: 20px; width: 20px; height:20px;}
	.photoViewer .pv_close img{width:100%;height:100%;}

	/* 화보 상세 > 하단 티커 */
	.ticker {padding: 60px 0;}
	.ticker .continuous {display: none;}
	.marquee {height: 183px;}
	.marquee + .marquee {margin-top: 14px;}
	.marquee .marquee__img {padding: 0 6px;}
	.marquee .marquee__item img {height: 183px;}
	.marquee .marquee__item .marquee__info {left: 6px; right: 6px; height: 92px; padding: 32px 6px 0; background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.60) 100%);}
	.marquee .marquee__item .subject {font-size: 10px;}
	.marquee .marquee__item .desc_txt {font-size: 14px; line-height: 20px; height: 40px;}

	.bottom-article {display: block;}
	.bottom-article .article__inner {overflow: hidden; height: 183px;}
	.bottom-article .article__inner + .article__inner {margin-top: 14px;}
	.bottom-article .article__track {width: 100%; padding-bottom: 30px; font-size: 0; overflow-x: auto; white-space: nowrap; padding: 0 14px 30px;}
	.bottom-article .article__item {display: inline-block; float: none;}
	.bottom-article .article__img {position: relative; padding: 0 6px;}
	.bottom-article .article__img img {height: 183px;}
	.bottom-article .article__img .article__info {position: absolute; bottom: 0; left: 6px; right: 6px; height: 92px; padding: 32px 12px 0; text-align: left; background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.60) 100%);}
	.bottom-article .article__img .subject {color: #fff; font-weight: 500; font-family:Gotham; font-size: 10px; line-height: 1;}
	.bottom-article .article__img .desc_txt {color: #fff; font-weight: 500; font-size: 14px; line-height: 20px; text-overflow: ellipsis; overflow: hidden;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 40px;word-break:break-all;}

	/* 리스트 > 가로로 긴 이벤트 배너 모듈 */
	.bnr_slide_list{margin:0 -20px;}
	.bnr_slide_list .bnrbox .imgbox{padding-top:39.4666%;}
	.bnr_slide_list .bnrbox .imgbox .pc{display:none;}
	.bnr_slide_list .bnrbox .imgbox .mo{display:block;}

	/* 바자예술산책 - 전시정보 리스트 추가 */
	.comm_ex_wrap{margin-bottom:80px;}
	.comm_ex_list ul{gap:24px 0;margin:0 -6px;}
	.comm_ex_list li{width:50%;padding:0 6px;}
	.comm_ex_item .ex_img_fig figcaption{position: absolute;top: 0;left: 0;z-index: -1;}
	.comm_ex_item .ex_guide{padding: 8px;}
	.comm_ex_item .ex_sbj{height: 32px;font-size: 12px;line-height: 16px;}
	.comm_ex_item .ex_range{display: block;height: 38px;margin-top: 8px;font-size: 0;}
	.comm_ex_item .ex_date{display: block;font-size: 10px;line-height: 1;}
	.comm_ex_item .ex_range .flag{height:20px;margin: 8px 0 0 0;padding:0 4px;font-size:10px;line-height:20px;}
	.comm_ex_item .ex_loc_row{margin-top: 8px;}
	.comm_ex_item .ex_loc:after{top: 50%;right: -6px;height: 8px;}
	.comm_ex_item .ex_loc_sub{font-size: 10px;line-height: 12px}
	.comm_ex_item .ex_place{margin-left: 10px;}
	.comm_ex_item .ex_top{padding: 8px;}
	.comm_ex_item .ex_top_flag{display: flex;}
	.comm_ex_item .ex_top_flag .flag{height:20px;padding:0 7px;font-size:10px;border-width:1px;line-height:18px;}
	.comm_ex_item .ex_top_flag .flag ~ .flag{margin-left:4px;}
	.comm_ex_item .btn_ico.scrap{width:16px;height:16px;background-image:url("../images/ico_scrap02_16.svg");background-size:16px auto;}
	.comm_ex_item .btn_ico.scrap.on{background-image:url("../images/ico_scrap02_on_16.svg");}
}

@media (max-width:360px){
	/* 댓글 모듈 */
	.comment_wrap .comment_write .comment_btn{gap:10px;}
	.comment_wrap .comment_write .comment_btn .btn_s{padding:0 15px;}
	.comment_util_box .btn_s{padding:0 15px;}
}

@media (max-width:320px){
	/* 댓글 모듈 */
	.comment_write .comment_bottom{flex-wrap:wrap;gap:5px 5px;}
	.comment_wrap .comment_write .comment_btn{width:100%;}
	.comment_wrap .comment_write .comment_btn .btn_s{width:100%;padding:0 10px;}
}