@charset "utf-8";

/* font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean);

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 400;
	src: url(../font/S-CoreDream-4Regular.woff) format("woff");
}
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 500;
	src: url(../font/S-CoreDream-5Medium.woff) format("woff");
}
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 700;
	src: url(../font/S-CoreDream-6Bold.woff) format("woff");
}
@font-face{
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	src: url(../font/Gotham-Medium.woff2) format("woff2"), url(../font/Gotham-Medium.woff) format("woff");
	unicode-range: U+000-5ff,U+06??
}
@font-face {
	font-family: Gotham-Light;
	font-style: normal;
	font-weight: 200;
	src: url(../font/Gotham-Light.woff) format("woff");
}

/* reset */
html, body {font-size:10px;}
body{font-family:'S-CoreDream', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;font-weight:500;color:#111;letter-spacing:-0.01em;line-height:1.4;-webkit-text-size-adjust:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;/*font-family:inherit;*/}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul, li{list-style:none}
table{width:100%;border-collapse:collapse;border-spacing:0;}
img{max-width:100%;border:0;vertical-align:top;}
i, em, address{font-style:normal;}
strong, b{font-weight:700;}
sup{font-size:10px;line-height:1;}
form, fieldset{display:block;border:0;}
iframe{border:0;}
caption, legend{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
input, textarea{opacity:1;-webkit-text-fill-color:inherit;}
input, textarea, select{margin:0;padding:0;font-family:inherit;font-size:16px;font-weight:400;color:#111;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:normal;-webkit-appearance:none;appearance:none;outline:none;}
textarea, select{outline:none;}
select::-ms-expand{display:none;}
select:disabled{pointer-events:none;}

button{overflow:visible;display:inline-block;margin:0;padding:0;border:0;border-radius:0;background:none;font-family:inherit;font-size:16px;font-weight:400;color:#111;line-height:inherit;vertical-align:top;text-decoration:none;cursor:pointer;touch-action:manipulation;}
button::-moz-focus-inner{padding:0;border:0;}
button span,
button:after{position:relative;}
button[disabled], a.disabled{cursor:default;pointer-events:none;}

/* link */
a{display:inline-block;color:inherit;text-decoration:none;word-break:break-all;cursor:pointer;}
a:link,
a:visited,
a:active,
a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

.underline{text-decoration:underline;}

.ellipsis{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;}
.blind{overflow:hidden;position:absolute;left:-9999em;width:0;height:0;margin:0;padding:0;text-indent:-9999em;}

/* float */
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.clear{clear:both;}

/* text align */
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.mo_br{display:none;}

/* common */
:root{
	/* --vh:100vh; */
	--point : #b30010;
}

/* 반응형 body scoll lock */
.lockbody { overflow : hidden; height: 100%;}
.non-oby { overscroll-behavior-y: none }

mark{background-color:rgba(255,0,0,.3);color:inherit;}


/************************* Form *************************/
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled{background-color:#f7f7f7;opacity:1;color:#999;cursor:default;-webkit-tap-highlight-color:transparent;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus{background-color:#f7f7f7;border-color:#333;}
input[type="file"]::-webkit-file-upload-button{cursor:pointer;}

input[disabled],
input[disabled] + label{cursor:default;pointer-events:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="search"]:focus::placeholder{color:transparent;}
input[type="text"]:focus::-ms-input-placeholder,
input[type="password"]:focus::-ms-input-placeholder,
input[type="tel"]:focus::-ms-input-placeholder,
input[type="search"]:focus::-ms-input-placeholder{color:transparent;}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="tel"]::-ms-clear,
input[type="tel"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal{display:none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}

::-webkit-input-placeholder{color:#999;font-size:16px;font-weight:500;}
::-moz-placeholder{color:#999;font-size:16px;font-weight:500;}
:-ms-input-placeholder{color:#999;font-size:16px;font-weight:500;}
:-moz-placeholder{color:#999;font-size:16px;font-weight:500;}


/************************* Layout *************************/
.wrap{position:relative;}

/* header */
.header {position: sticky; top: 0;}
.header .header_inner {display: flex; align-items: center; position: relative; height: 72px;}
.header .logo {position: absolute; top: 21px; left: 60px; width: 132px; margin-left: 32px;}
.header .btn_all_menu {position: absolute; top: 23px; left: 0; width: 28px; height: 28px; background-size: 100%; background-image: url(../images/all_menu.png);}
.header .header_side_menu {position: absolute; top: 0; right: 0; display: flex; align-items: center; height: 100%;}
.header .sm_item {margin-left: 24px;}
.header .btn_util .txt {color: #666; font-weight: 500; font-size: 14px; font-family: "Gotham"; line-height: 1; text-transform: uppercase;}
.header .btn_search {width: 24px; height: 24px; background-size: 100%; background-image: url(../images/ico_search.png);}
.header .gnb {width: 100%;}
.header .gnb_list {display: flex; justify-content: center; align-items: center; width: 100%;}
.header .gnb_item {margin: 0 16px;}
.header .gnb_btn {color: #111; font-weight: 500; font-size: 16px; line-height: 23px; letter-spacing: normal;}

/* container */
.cont_inner{max-width: 1280px; margin: 0 auto; padding: 0 40px;}

/* footer */
.footer {position: relative; background-color:#fff;}
.footer_top {padding: 21px 0; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;font-family:'Noto Sans KR', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;}
.footer_top .cont_inner {display: flex; flex-wrap: wrap; justify-content: space-between; align-items:center;}
.footer_link ul {display: flex; flex-wrap: wrap; gap:8px 32px;}
.footer_link li a {display: block; font-size: 16px; font-weight: 500; color: #666; line-height: 23px;}
.footer_link li.impt a {color: #111; font-weight: 700;}
.footer_sns ul {display: flex; column-gap: 20px;}
.footer_sns li a {display: flex; width: 28px; height: 28px; align-items: center; justify-content: center;}
.footer_bottom {padding: 40px 0 60px;}
.footer_bottom .cont_inner {display: flex;}
.footer_logo {width: 195px; height:50px;}
.footer_logo img {width: 100%;}
.footer_info {margin-left: 112px;}
.footer_info .addr_wrap em {display: block; margin-bottom:16px; font-size:20px; font-weight:500; color:#111; line-height:30px;}
.footer_info .addr_txt {font-size: 0;}
.footer_info .addr_txt span {display: inline-block; position: relative; margin-bottom: 8px; font-size: 14px; font-weight: 500; color: #666; line-height: 20px;}
.footer_info .addr_txt .addr,
.footer_info .addr_txt .num {margin-right: 17px;}
.footer_info .addr_txt .addr:after,
.footer_info .addr_txt .num:after {content: ''; display: inline-block; position: absolute; right: -9px; top: 5px; width: 1px; height: 11px; background-color: #dbdbdb;}
.footer_info .addr_txt .email {display: block;}
.footer_info .copyright {margin-top: 20px; font-size: 14px; font-weight: 500; color: #666; line-height: 20px;}
.family_wrap {width: 100%; background-color: #fff; border-top: 1px solid #dbdbdb; text-align: center;}
.family_wrap .btn_familysite {display: inline-flex; align-items: center; justify-content: center; height: 63px; font-family: Gotham; font-size: 16px; font-weight: 500;color: #666;}
.family_wrap .btn_familysite:after {content: ''; display: block; width: 16px; height: 16px; margin: 0 0 0 8px; background:url('../images/ico_arrow_down_16.svg') no-repeat center center / 100% auto;}
.family_wrap.open .btn_familysite:after {background-image: url('../images/ico_arrow_up_16.svg');}
.familysite {display: none; padding: 60px 0; background-color: #f7f7f7; text-align: left;}
.familysite .tab_menu.type02 {margin-bottom: 40px;}
.familysite .tab_menu.type02 li a {font-family: Gotham; font-weight: 500; font-size: 20px; line-height: 1;}
.familysite .tab_menu.type02 li.on a {font-weight: 500;}
.familysite_list.family {max-width: 79.667%;}
.familysite_list ul {display: flex; flex-wrap: wrap; gap: 24px;}
.familysite_list li {width: calc(20% - 20px);}
.familysite_list.family li {width: calc(25% - 18px);}
.familysite_list li a {display: block; font-family: Gotham, 'Noto Sans KR'; font-weight: 500; font-size: 16px; line-height: 1; color: #666;}

/************************* content *************************/
/* tab */
.tab_menu.type02 > ul{display:flex;flex-wrap:wrap;gap:8px 0;margin:0 -16px;}
.tab_menu.type02 > ul > li{position:relative;}
.tab_menu.type02 > ul > li:after{content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:#ccc;}
.tab_menu.type02 > ul > li:last-child:after{display:none;}
.tab_menu.type02 > ul > li > a{display:block;padding:0 16px;font-size:16px;font-weight:500;color:#999;line-height:23px;}
.tab_menu.type02 > ul > li.on > a{font-weight:700;color:#111;}

.tab_cont {display: none;}
.tab_cont.active {display: block;}


/************************* Media Query *************************/
@media (max-width:1200px){
	.footer_top .cont_inner{flex-direction:column;align-items:flex-start;}
	.footer_sns{margin-top:20px;}
}
@media screen and (max-width: 767px) {
    /* container */
    .cont_inner{padding: 0 20px;}

    /* footer */
    .footer_top{padding:19px 0;}
    .footer_link ul{gap:8px 17px;}
    .footer_link li{position:relative;}
    .footer_link li:after{content:'';position:absolute;right:-9px;top:4px;display:block;width:1px;height:11px;background-color:#dbdbdb;}
    .footer_link li:last-child:after{display:none;}
    .footer_link li a{font-size:12px;font-weight:400;line-height:17px;}
    .footer_bottom{padding:40px 0;}
    .footer_bottom .cont_inner{flex-direction:column;}
    .footer_logo{width:125px;height:32px;}
    .footer_sns ul{column-gap:16px;}
    .footer_sns li a{width:24px;height:24px;}
    .footer_info{margin-top:36px;margin-left:0;}
    .footer_info .addr_wrap em{margin-bottom:12px;font-size:12px;line-height:17px;}
    .footer_info .addr_txt span{margin-bottom:6px;font-size:12px;font-weight:400;line-height:17px;}
    .footer_info .addr_txt .addr,
    .footer_info .addr_txt .report,
    .footer_info .addr_txt .num{margin-right:0;}
    .footer_info .addr_txt .addr,
    .footer_info .addr_txt .report{display:block;}
    .footer_info .addr_txt .addr:after,
    .footer_info .addr_txt .num:after{display:none;}
    .footer_info .addr_txt .ceo{margin-right:14px;}
    .footer_info .addr_txt .ceo:after{content:'';display:inline-block;position:absolute;right:-8px;top:3px;width:1px;height:11px;background-color:#dbdbdb;}
    .footer_info .copyright{margin-top:12px;font-size:12px;font-weight:400;line-height:17px;}
    .family_wrap .btn_familysite{justify-content:center;width:100%;height:51px;font-size:14px;}
    .family_wrap .btn_familysite:after{width:12px;height:12px;}
    .familysite{padding:40px 0;}
    .familysite .tab_menu.type02{margin-bottom:32px;}
    .familysite .tab_menu.type02 li a{font-size:16px;}
    .familysite_list ul{gap:18px 12px;}
    .familysite_list li,
    .familysite_list.family li{width:calc(50% - 6px);}
    .familysite_list li a{font-size:14px;}
}