@charset "utf-8";

.container{padding-bottom:180px;}
.container .section{overflow:hidden;margin-top:120px;}

/* 상단 상세 영역 */
.detail_wrap{margin:80px 0 120px;padding-bottom:120px;border-bottom:20px solid #f7f7f7;}
.detail_wrap .cont_inner{max-width:1076px;}
.detail_header{margin-bottom:60px;}
.detail_header .tit{font-size:36px;line-height:48px;font-weight:700;text-align:center;}
.detail_view_area{display:flex;flex-wrap:wrap;width:100%;}
.detail_view_area .img_group{width:55.422%;}
.detail_view_area .img_box{position:relative;overflow:hidden;width:100%;height:0;padding-top:100%;}
.detail_view_area .img_box img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.detail_view_area .img_box .flag_area{position:absolute;left:20px;top:20px;}
.detail_view_area .info_group{flex:1;padding-left:60px;}
.detail_view_area .btn_link.map:after{content:'';display:inline-block;width:24px;height:24px;margin:0 0 0 4px;background:url('../images/ico_marker.svg') no-repeat center center / 100% auto;}

.dtl_info{font-size:18px;line-height:24px;color:#111;}
.dtl_info ~ .dtl_info{margin-top:40px;}
.dtl_info .tit{margin-bottom:16px;color:#666;}
.dtl_info .flag_area{line-height:1;}
.dtl_info .date_box{display:flex;flex-direction:column;}
.dtl_info .date_box .date{font-family:Gotham;font-weight:500;}
.dtl_info .date_box .flag_area{margin-top:8px;}
.dtl_info  .item_list li ~ li{margin-top:8px;}

.content_bottom{display:none;}

/* 이미지 출처 */
.desc_more{margin-top:16px;line-height:1;}
.desc_more .btn_view{display:inline-flex;align-items:center;position:relative;font-size:14px;font-weight:500;line-height:20px;color:#999;}
.desc_more .btn_view:after{content:'';display:inline-block;width:16px;height:16px;margin:0 0 0 8px;background:url('../images/ico_arrow_down_16.svg') no-repeat center center / 100% auto;}
.desc_more .desc{display:none;margin-top:12px;font-size:12px;font-weight:500;line-height:16px;color:#999;word-break:break-all;}
.desc_more .d_list li{list-style:decimal;margin-left:20px;}
.desc_more .d_list li ~ li{margin-top:8px;}
.desc_more .btn_view.on:after{background-image:url('../images/ico_arrow_up_16.svg');}
.desc_more .btn_view.on ~ .desc{display:block;}

/* 상세 슬라이드 */
.viewSwiper {position:relative; text-align:center; overflow:hidden; line-height:0}
.viewSwiper .swiper-scrollbar-drag { position: relative; left: 0;top: 0; width: 100%; height: 100%; border-radius: 0; background-color: #111}
.viewSwiper .swiper-scrollbar {position: relative; -ms-touch-action: none; left:inherit; bottom: inherit; width:100%; height:2px; margin-top:16px; border-radius: 0; background-color: #DBDBDB; }
.viewSwiper .swiper-scrollbar-disabled>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-disabled {display: none!important}
.viewSwiper .swiper-button-next,.swiper-button-prev { position: absolute; top:50%; transform: translateY(-50%); width:40px; height:40px; background: transparent url('../images/ic_arrow_right_40.svg') center center no-repeat; background-size:100% 100%; margin-top:-20px; cursor:pointer}
.viewSwiper .swiper-button-next {right:20px}
.viewSwiper .swiper-button-prev {transform: translateY(-50%) rotate(180deg);  left:20px}
.viewSwiper .swiper-button-disabled { opacity:0.4; cursor:default;}
.viewSwiper .swiper-slide  { height:623px; overflow:visible; }
.viewSwiper .swiper-slide img { object-fit:contain; height:100%;}

.detail_slide ~ .detail_txt{margin-top:60px;}
.detail_txt{font-family:'Noto Sans KR';font-size:16px;font-weight:400;line-height:28px;word-break:break-all;}
.detail_txt p{word-break:inherit;}

/* 관련기사 */
.row_list li ~ li{margin-top:24px;}
.row_list .atcbox a{display:flex;width:100%;height:100%;}
.row_list .atcbox .imgbox{overflow:hidden;position:relative;width:32%;height:0;padding-top:20%;}
.row_list .atcbox .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.row_list .atcbox .txtbox{display:flex;flex:1;justify-content:center;flex-direction:column;padding:0 5%;border:1px solid #111;border-left:0;}
.row_list .atcbox .txtbox .cate{display:block;margin-bottom:12px;font-family:Gotham;font-size:11px;font-weight:500;line-height:1;}
.row_list .atcbox .txtbox .tit{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;position:relative;font-size:20px;font-weight:500;line-height:28px;color:#111;word-break:break-all;letter-spacing:-0.01em;}

/* 리뷰 등록배너 */
.review_box{width:100%;height:140px;background:#221E1F url('../images/bg_review.png') no-repeat center center;}
.review_box .box_inner{display:flex;flex-wrap:wrap;align-items:center;width:100%;height:100%;padding:0 8.5%;}
.review_box p{font-size:20px;font-weight:500;color:#fff;line-height:28px;}
.review_box .btn_box{margin-left:auto;}
.review_box .btn{background-color:#00E4B2;border-color:#00E4B2;}
.review_regist .noti_box{margin-top:16px;}
.review_regist .noti_box .btn_link{padding-left:20px;font-size:16px;line-height:24px;color:#666;}
.review_regist .noti_box .btn_link:before{content:'';display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:16px;height:16px;background:url('../images/ico_notice_16.svg') no-repeat 0 0 / 100% auto;}

/* 에디터 코멘트 */
.editor_comment{margin-top:60px;padding:60px;background-color:#f7f7f7;font-family:'Noto Sans KR';font-size:16px;font-weight:400;line-height:28px;}
.editor_comment .editor_inner{display:flex;flex-wrap:wrap;}
.editor_comment .imgbox{overflow:hidden;position:relative;width:27.963%;height:0;margin-right:40px;padding-top:17.5%;}
.editor_comment .imgbox img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.editor_comment .txtbox{flex:1;word-break:break-all;}
.editor_comment .txtbox .tit{position:relative;margin-bottom:12px;font-family:Gotham;font-size:24px;font-weight:500;line-height:32px;}
.editor_comment .txtbox .tit:before{content: '';position:absolute;top:50%;left:0;z-index:1;width:100%;height:1px;background-color:#ccc;}
.editor_comment .txtbox .tit strong{display:inline-block;position:relative;padding-right:24px;z-index:2;background-color:#f7f7f7;font-weight:500;}
.editor_comment .txtbox p{word-break:inherit;}
.editor_comment .editor_by{margin-top:8px;color:#666;}
.editor_comment .editor_by .name{color:#111;}

/* 리스트상단 */
.list_top{display:flex;flex-wrap:wrap;}
.list_top .total{font-size:16px;line-height:23px;color:#666;}
.list_top .total .count{font-family:Gotham;font-size:18px;color:#111;}
.list_top .side{display:flex;margin-left:auto;}

/* 리뷰 & 댓글 모듈 */
.comment_wrap.review{margin-top:60px;padding-top:0;border-top:0;}
.comment_wrap.review .comment_list_area{padding-top:60px;border-top:1px solid #dbdbdb;}
.comment_wrap .list_top{margin-bottom:12px;}

.comment_wrap{width:100%;margin-top:80px;padding-top:80px;border-top:1px solid #dbdbdb;}
.comment_wrap .tit_wrap{margin-bottom:24px;}
.comment_wrap .tit_wrap .tit{font-size:16px;line-height:23px;}
.comment_wrap .tit_wrap .tit .num{font-family:Gotham;font-weight:500;color:#FF5081;line-height:22px;}
.comment_wrap .btn_more_wrap{max-width:996px;margin:80px auto 0;}
.comment_list_area ~ .comment_write_area{margin-top:60px;}
.comment_write{position:relative;padding:19px 8px 19px 0;background-color:#fff;border:1px solid #dbdbdb;}
.comment_write:focus-within {border-color:#111;}
.comment_write textarea{display:block;overflow:hidden;overflow-y:auto;position:relative;width:100%;height:60px;padding:0 11px 0 19px;background-color:transparent;border:none;font-family:'Noto Sans KR';font-size:14px;font-weight:400;line-height:20px;color:#111;word-break:break-all;-webkit-appearance:none;-moz-appearance:none;appearance:none;resize:none;}
.comment_write textarea::placeholder{color:#999;font-size:14px;font-weight:400;}
.comment_write .comment_bottom{overflow-y:hidden;display:flex;align-items:flex-end;justify-content:space-between;margin:24px 11px 0 20px;}
.comment_write .comment_bottom .comment_btn{display:flex;gap:12px;}
.comment_write .comment_bottom .limit{font-size:14px;font-weight:400;line-height:20px;color:#999;}
.comment_write .comment_bottom .limit .count{color:#111;}

.comment_list{max-width:996px;margin:0 auto;}
.comment_list > ul > li{padding:24px 0;border-bottom:1px solid #dbdbdb;}
.comment_list > ul > li:first-of-type{padding-top:0;}
.comment_item{position:relative;display:flex;flex-direction:row;}
.comment_thumb .profile_img{display:block;overflow:hidden;width:40px;height:40px;margin-right:16px;border-radius:50%;background:url('../images/img_profile.png') no-repeat center center / 40px auto;}
.comment_thumb .profile_img img{display:block;width:100%;height:100%;object-fit:cover;}
.comment_cont{min-width:0;flex:1;display:flex;flex-direction:column;}
.comment_info{position:relative;display:flex;flex-direction:row;margin-bottom:8px;line-height:20px;}
.comment_info .user_info{display:flex;flex-direction:row;align-items:center;min-width:0;}
.comment_info .user_info > span{display:block;position:relative;font-size:14px;}
.comment_info .user_info > span ~ span{margin-left:8px;padding-left:8px;}
.comment_info .user_info > span ~ span:before{content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:#dbdbdb;}
.comment_info .user_info .name{display:block;overflow:hidden;min-width:0;text-overflow:ellipsis;white-space:nowrap;}
.comment_info .user_info .date{display:block;white-space:nowrap;font-weight:400;color:#999;}
.comment_info .more_drop{margin-left:auto;}
.comment_box .btn_box{margin-top:12px;}
.comment_txt{font-family:'Noto Sans KR';}
.comment_txt .txt{position:relative;max-height:100%;font-size:14px;font-weight:400;line-height:20px;word-break:break-all;}
.comment_txt~ .comment_img{margin-top:16px;}
.comment_img{position:relative;width:80px;height:80px;}
.comment_img img{width:100%;height:100%;object-fit:cover;}
.comment_img .total{display:block;height:24px;padding:0 8px;position:absolute;right:0;bottom:0;background-color:rgba(0,0,0,.6);font-family:Gotham;font-size:12px;font-weight:500;line-height:26px;color:#fff;}
.comment_modify{display:none;}

.photo_upload{display:flex;flex-wrap:wrap;gap:12px;margin-top:12px;}
.photo_upload .btn_addfile{display:block;position:relative;width:80px;height:80px;background-color:#fff;border:1px dashed #dbdbdb;font-size:14px;line-height:20px;color:#111;}
.photo_upload .btn_addfile:before{content:'';display:block;width:24px;height:24px;margin:0 auto 4px;background:url("../images/ico_camera_24.svg") no-repeat center center;}
.photo_upload .btn_addfile:disabled{background-color:#f7f7f7;color:#999;}
.photo_upload .btn_addfile:disabled:before{background:url("../images/ico_camera_24_gray.svg");}
.photo_upload .thumb{display:block;position:relative;overflow:hidden;width:80px;height:80px;}
.photo_upload .thumb img{display:block;width:100%;height:100%;object-fit:cover;}
.photo_upload .thumb:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:40px;background:linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0) 100%);}
.photo_upload .thumb .btn_del{display:inline-block;position:absolute;right:0;top:0;width:24px;height:24px;background:url("../images/ico_close_16_white.svg") no-repeat top 2px right 2px;}

.more_drop{position:relative;}
.more_drop .layer_box{display:none;position:absolute;right:0;top:26px;z-index:2;background-color:#fff;border:1px solid #ccc;}
.more_drop.on .layer_box{display: block;}
.more_drop .layer_list{padding:4px 0;}
.more_drop .layer_list .btnm{display:inline-flex;align-items:center;width:100%;padding:8px 15px;font-size:14px;font-weight:400;color:#999;}
.more_drop .btnm.modify:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;background:url("../images/ico_modify_16.svg") no-repeat center center;}
.more_drop .btnm.del:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;;background:url("../images/ico_del_16.svg") no-repeat center center;}
.more_drop .btnm.cancel:before{content:'';display:inline-block;width:16px;height:16px;margin:2px 8px 0 0;;background:url("../images/ico_close_16_gray.svg") no-repeat center center;}

/* 전시장 근처 핫플 */
.ex_hplace{padding:120px 0;background-color:#f7f7f7;}


/************************* Media Query *************************/
@media screen and (max-width: 768px) {
    .container{padding-bottom:80px;}
    .container .section{margin-top:80px;}

    /* 상단 상세 영역 */
    .detail_wrap{margin:40px 0 80px;padding-bottom:80px;border-width:12px;}
    .detail_header{margin-bottom:24px;}
    .detail_header .tit{font-size:24px;line-height:32px;}
    .detail_view_area .img_group{width:100%;}
    .detail_view_area .img_box .flag_area{left:8px;top:8px;}
    .detail_view_area .info_group{width:100%;margin-top:32px;padding:0;}
    .detail_view_area .btn_link.map:after{width:20px;height:20px;}
    .detail_view_area .btn_wrap{display:none;}
    .detail_view_area ~ .sec_detail{margin-top:80px;}

    .desc_more{margin-top:12px;}
    .desc_more .desc{margin-top:8px;}
    .desc_more .btn_view{font-size:12px;line-height:16px;}
    .desc_more .btn_view:after{width:12px;height:12px;margin:0 0 0 4px;}

    .dtl_info{display:flex;flex-wrap:wrap;font-size:14px;line-height:20px;}
    .dtl_info ~ .dtl_info{margin-top:20px;}
    .dtl_info .tit{width:43px;margin:0 24px 0 0;}
    .dtl_info .cont{flex:1;}
    .dtl_info .date_box{flex-direction:row;flex-wrap:wrap;}
    .dtl_info .date_box .flag_area{margin:0 0 0 12px;}

    .content_bottom{display:block;position:fixed;left:0;bottom:0;width:100%;padding:16px 20px 32px;background-color:#fff;z-index:10;}
    .content_bottom .btn_wrap{margin:0;}

    .detail_slide ~ .detail_txt{margin-top:32px;}

    /* 전시상세 : 슬라이드 */
    .viewSwiper .swiper-slide  { width:100%; height:auto; max-height:447px; }
    .viewSwiper .swiper-slide img {width:100%; height:100%; display:block}
    .viewSwiper .swiper-button-next, .swiper-button-prev{width:24px;height:24px;margin-top:-12px;}
    .viewSwiper .swiper-button-prev{left:8px;}
    .viewSwiper .swiper-button-next{right:8px;}

    /* 관련기사 */
    .row_list li ~ li{margin-top:12px;}
    .row_list .atcbox .imgbox{width:49.851%;padding-top:31.048%;}
    .row_list .atcbox .txtbox .cate{margin-bottom:8px;font-size:10px;}
    .row_list .atcbox .txtbox .tit{font-size:14px;line-height:20px;}

    /* 리뷰 등록배너 */
    .review_box{height:auto;padding:16px 0;background-image:none;}
    .review_box .box_inner{padding:0 4.776%;}
    .review_box .txt_box{width:52%;padding-right:10px;}
    .review_box p{font-size:14px;line-height:20px;}
    .review_regist .noti_box{margin-top:12px;}
    .review_regist .noti_box .btn_link{font-size:14px;line-height:20px;}

    /* 에디터 코멘트 */
    .editor_comment{margin-top:32px;padding:20px 20px 32px;font-size:14px;line-height:20px;}
    .editor_comment .editor_inner{flex-direction:column;}
    .editor_comment .imgbox{width:100%;margin:0 0 20px 0;padding-top:62.375%;}
    .editor_comment .txtbox .tit{font-size:18px;line-height:24px;}
    .editor_comment .txtbox .tit strong{padding-right:12px;}

    /* 리뷰 & 댓글 모듈 */
    .comment_wrap.review{margin-top:32px;}
    .comment_wrap.review .comment_list_area{padding-top:32px;}

    .comment_wrap{margin-top:60px;padding-top:60px;}
    .comment_wrap .tit_wrap{margin-bottom:16px;}
    .comment_wrap .btn_more_wrap{margin-top:32px;}
    .comment_write_area ~ .comment_list_area{margin-top:32px;}
    .comment_write{padding:15px 0 15px 15px;}
    .comment_write textarea{height:60px;padding:0 15px 0 0;}
    .comment_write .comment_bottom{margin:24px 15px 0 0;}
    .comment_thumb .profile_img{width:28px;height:28px;margin-right:12px;background-size:28px auto;}
    .comment_info{margin-bottom:5px;}
    .comment_cont .comment_info .user_info > span{font-size:12px;}
    .comment_cont .comment_info .user_info > span ~ span{margin-left:8px;padding-left:8px;}
    .comment_info .user_info > span ~ span:before{margin-top:-1px;}
    .comment_list > ul > li{padding:24px 0 20px;}
    .photo_upload .btn_addfile{width:74px;height:74px;font-size:12px;line-height:17px;}
    .photo_upload .btn_addfile:before{margin-bottom:2px;}
    .photo_upload .thumb{width:74px;height:74px;}
}

@media screen and (max-width: 320px) {
    .dtl_info .date_box{flex-direction:column;}
    .dtl_info .date_box .flag_area{margin:4px 0 0 0;}

    /* 리뷰 등록배너 */
    .review_box .box_inner{padding:0 16px;}
    .review_box .txt_box{width:100%;margin-bottom:12px;padding-right:0;}
    .review_box .btn_box{margin-left:0;}

}