
.main_container {padding-bottom: 180px;}
.main_container .main_section {margin-top: 120px;}

@media (max-width: 768px) {
    .main_container {padding-bottom: 80px;}
    .main_container .main_section {margin-top: 80px;}
}