
.main-container {padding-bottom: 180px;}
.main-container .main-section {margin-top: 120px;}

.one-ban-swiper {overflow: hidden; position: relative;}
.one-ban-swiper .swiper-pagination {position: absolute; bottom: 12px; right: 12px; left: auto; width: auto; font-size: 0;}
.one-ban-swiper .swiper-pagination span {position: relative; color: #fff; font-family: Gotham; font-size: 16px;}
.one-ban-swiper .swiper-pagination span:first-child {margin-right: 18px;}
.one-ban-swiper .swiper-pagination span:first-child:after {content: ''; position: absolute; top: 50%; right: -10px; width: 2px; height: 12px; background: #fff; transform: translateY(-50%);}
.one-ban-swiper .pc-img {display: block;}
.one-ban-swiper .mo-img {display: none;}

@media (max-width: 767px) {
    .main-container {padding-bottom: 80px;}

    .one-ban-swiper .swiper-pagination {bottom: 24px; right: 0; left: 0; text-align: center;}
    .one-ban-swiper .swiper-pagination span {position: relative; color: #fff; font-family: Gotham; font-size: 16px;}
    .one-ban-swiper .swiper-pagination span:first-child {margin-right: 18px;}
    .one-ban-swiper .swiper-pagination span:first-child:after {content: ''; position: absolute; top: 50%; right: -10px; width: 2px; height: 12px; background: #fff; transform: translateY(-50%);}
    .one-ban-swiper .pc-img {display: none;}
    .one-ban-swiper .mo-img {display: block;}
}