@charset "utf-8";

/***********************************************************************
layout
***********************************************************************/
/* heading_wrap */
.heading_wrap {height: 300px; background: var(--point) url("../images/bg_heading.png") no-repeat center center / 1920px 300px;}
.heading_wrap .heading_inner {display: flex;justify-content: center;align-items: center;height: 100%;}
.heading_wrap .heading_inner .tit {font-size: 64px;font-weight: 500;font-family: ElleGaborStd;color: #fff;}

/* page_head */
.page_head {margin-bottom: 80px;text-align: center;}
.page_head .tit {font-size: 40px;font-weight: 700;}
.page_head .sub_txt {margin-top: 20px;font-size: 18px;line-height: 1.8;}

/* container */
.container .contents {padding: 80px 0 180px;}

/*고정 배너 영역*/
.banner_wrap{margin-top: 120px;overflow: hidden;}
.one_ban_swiper .pc_img{display:block;}
.one_ban_swiper .mo_img{display:none;}


/***********************************************************************
contents
***********************************************************************/
/* 에세이 목록 */
.essay_list_wrap {margin-top: 80px;}
.essay_list_wrap .total_cont {margin-bottom: 40px;}
.essay_list_wrap .total_cont .txt {font-size: 24px;line-height: 35px;font-weight: 400;}
.essay_list_wrap .total_cont .cnt {display: inline-block;margin: 0 8px;color: var(--point);font-family: ElleGaborStd;font-size: 26px;font-weight: 600;}
.essay_list {display: flex;flex-wrap: wrap;gap: 50px 24px;}
.essay_list > li {width: calc(100% / 3 - 16px);}


/* writer */
.writer_list > li {position: relative;}
.writer_list > li > a {display: flex;flex-direction: column;align-items: center;}
.writer_list .btn_ico.dibs {position: absolute;top: 188px;left: 50%;transform: translateX(-50%);margin-left: 74px;}
.writer_list .img_area {position: relative;width: 180px;height: 180px;}
.writer_list .img {overflow: hidden;position: relative;width: 100%;padding-top: 100%;background: url("../images/img_writer_default.png") no-repeat center center / contain;border-radius: 50%;}
.writer_list .img img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: contain;}
.writer_list .cont {margin-top: 16px;text-align: center;}
.writer_list .cont .nm {font-size: 20px;line-height: 28px;}
.writer_list .cont .desc {margin-top: 12px;line-height: 26px;font-weight: 400;}

.new_essay {background-color: #F7F1E5;}
.new_essay .cont_inner {padding-top: 60px;padding-bottom: 60px;}
.new_essay .tit {margin-bottom: 34px;font-size: 28px;font-weight: 700;line-height: 41px;}

.swiper_new_essay {overflow: hidden;position: relative;padding: 0 75px;margin: 0 -75px;}
.swiper_new_essay .swiper-button-next,
.swiper_new_essay .swiper-button-prev {top: 50%;transform: translateY(-50%);width: 48px;height: 48px;background: no-repeat center center / contain;cursor: pointer;}
.swiper_new_essay .swiper-button-next {right: 0;background-image: url("../images/ico_arrow_right_48_on.svg");}
.swiper_new_essay .swiper-button-prev {left: 0;background-image: url("../images/ico_arrow_left_48_off.svg");}
.swiper_new_essay .writer_list .btn_ico.dibs {top: calc(180px - 32px);}

.writer_list_wrap {padding-top: 80px;}
.writer_list_wrap .writer_list {display: flex;flex-wrap: wrap;gap: 48px 24px;}
.writer_list_wrap .writer_list > li {flex-shrink: 0;width: calc(100% / 2 - 12px);}
.writer_list_wrap .writer_list > li > a{padding: 40px 30px;}

.writer_view .page_head .tit {margin-top: 32px;font-size: 28px;line-height: 41px;}
.writer_view .page_head .writer_img {position: relative;width: 220px;height: 220px;margin: 0 auto;}
.writer_view .page_head .writer_img .img {overflow: hidden;position: relative;width: 100%;padding-top: 100%;background: url("../images/img_writer_default.png") no-repeat center center / contain;border-radius: 50%;}
.writer_view .page_head .writer_img img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: contain;}
.writer_view .page_head .writer_img .btn_ico.dibs {position: absolute;bottom: 0;right: 0;width: 40px;height: 40px;}



/************************* Media Query *************************/
@media (max-width:1370px){
	.swiper_new_essay {padding: 0;margin: 0;}
	.swiper_new_essay .swiper {padding: 0 70px;}
}
@media (max-width:1140px){
	.swiper_new_essay {padding: 0 40px;margin: 0 -40px;}
	.swiper_new_essay .swiper {padding: 0;}
	.swiper_new_essay .swiper-button-next,
	.swiper_new_essay .swiper-button-prev {display: none;}
}
@media (max-width:768px){
	/* heading_wrap */
	.heading_wrap {height: 150px;background-image: url("../images/bg_heading_mo.png");background-size: 100% auto;}
	.heading_wrap .heading_inner .tit {font-size: 32px;}

	/* page_head */
	.page_head {margin-bottom: 40px;}
	.page_head .tit {font-size: 22px;}
	.page_head .sub_txt {margin-top: 12px;font-size: 14px;}

	/* container */
	.container .contents {padding: 40px 0 80px;}

	.banner_wrap{margin-top: 60px;}
	.one_ban_swiper .pc_img{display:none;}
    .one_ban_swiper .mo_img{display:block;}

	/* 에세이 목록 */
	.essay_list {gap: 24px 12px;}
	.essay_list > li {width: calc(100% / 2 - 6px);}

	/* essay */
	.essay_list_wrap {margin-top: 40px;}
	.essay_list_wrap .total_cont {margin-bottom: 24px;}
	.essay_list_wrap .total_cont .txt {font-size: 16px;line-height: 23px;}
	.essay_list_wrap .total_cont .cnt {font-size: 18px;font-weight: 500;}

	/* writer */
	.writer_list .btn_ico.dibs {top:134px;margin-left: 56px;}
	.writer_list .img_area {width: 140px;height: 140px;}
	.writer_list .cont .nm {font-size: 16px;line-height: 22px;}
	.writer_list .cont .desc {overflow: hidden;display: -webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 8px;font-size: 14px;line-height: 24px;}

	.new_essay .cont_inner {padding-top: 40px;padding-bottom: 40px;}
	.new_essay .tit {margin-bottom: 32px;font-size: 20px;line-height: 29px;}

	.swiper_new_essay {padding: 0 20px;margin: 0 -20px;}
	.swiper_new_essay .writer_list .btn_ico.dibs {top: calc(118px - 28px);left: auto;right: 0;transform: inherit; margin-left: 0;}
	.swiper_new_essay .writer_list .img_area {width: 118px;height: 118px;}
	.swiper_new_essay .writer_list .cont .nm {font-size: 14px;}

	.writer_list_wrap {padding-top: 40px;}
	.writer_list_wrap .writer_list {gap: 20px;}
	.writer_list_wrap .writer_list > li {width: 100%;}
	.writer_list_wrap .writer_list > li > a {padding: 28px 28px 6px;}

	.writer_view .page_head .tit {margin-top: 16px;font-size: 22px;line-height: 32px;}
	.writer_view .page_head .writer_img {width: 180px;height: 180px;}
	.writer_view .page_head .writer_img .btn_ico.dibs {width: 32px;height: 32px;}
}
