@charset "utf-8";

/* common */
.main_container {padding-bottom: 180px;}
.desc {font-size: 18px;font-weight: 500;line-height: 1.8;}
h2 {font-size: 40px;font-weight: 700;}
h2 + .desc {margin-top: 20px;}

.section .cont_inner {position: relative;padding-top: 120px;padding-bottom: 120px;}

@media (max-width:768px){
	.main_container {padding-bottom: 80px;}
	.desc {font-size: 14px;}
	h2 {font-size: 22px;}
	.tit_wrap {margin-bottom: 32px;}
	.section .cont_inner {padding-top: 80px;padding-bottom: 80px;}
	.wide_m {margin-left: -20px;margin-right: -20px;}
}

/***********************************************************************
banner
***********************************************************************/
.main_banner .cont_inner{display: flex;justify-content: center;align-items: center;height: 800px;}
.main_banner .banner {position: relative;top: -70px;display: flex;flex-wrap: wrap;gap: 34px;align-items: flex-end;}
/* .main_banner .banner > span + span {margin-left: 34px;} */
.main_banner .banner .txt {display: inline-block;font-size: 64px;font-weight: 700;letter-spacing: -4px;}
.main_banner .banner .txt:nth-of-type(2) {order: 3;}
/* .main_banner .banner .txt + .txt {margin-left: 432px;} */
.main_banner .banner .slogan {order: 1;display: inline-flex;justify-content: center;align-items: center;width: 362px;height: 300px;background: no-repeat center center / contain;vertical-align: bottom;}
.main_banner .banner .slogan em {position: relative;top: 20px;font-size: 40px;font-weight: 500;font-family: ElleGaborStd;color: #fff;}
.main_banner .banner .slogan.relationship {background-image: url("../images/main/slogan_relationship.svg");}
.main_banner .banner .slogan.career {background-image: url("../images/main/slogan_career.svg");}
.main_banner .banner .slogan.green {background-image: url("../images/main/slogan_green.svg");}
.main_banner .banner .slogan.love {background-image: url("../images/main/slogan_love.svg");}
@media (max-width:1280px){
	.main_banner .banner {top: 0;flex-direction: column;gap: 0;align-items: flex-start;}
	.main_banner .banner .txt:nth-of-type(2) {order: 2;}
	.main_banner .banner .slogan {order: 3;margin: 40px auto 0;}
}
@media (max-width:768px){
	.main_banner .cont_inner {height: auto;}
	.main_banner .banner .txt {font-size: 36px;letter-spacing: -1px;}
	.main_banner .banner .slogan {width: 335px;height: 260px;}
}

/***********************************************************************
newsletter
***********************************************************************/
.section_newsletter {background-color: rgba(0,160,94,0.1);}
.section_newsletter .subscription_apply {position: relative;margin-top: 40px;}
.section_newsletter .subscription_apply::after {content: "";display: block;position: absolute;top: 50%;right: 0;transform: translateY(-50%);width: 407px;height: 407px;margin-top: -100px;background: url("../images/main/obj_newsletter.png") no-repeat 0 0 / contain;}
.section_newsletter .subscription_apply .input {display: flex;align-items: center;height: 52px;width: 486px;padding: 0 16px;background-color: #fff;font-weight: 500;}
.section_newsletter .subscription_apply .input label {flex-shrink: 0;color: var(--point);}
.section_newsletter .subscription_apply .input input {flex: 1;height: 100%;width: 100%;text-indent: 10px;border: none;font-weight: 500;}
.section_newsletter .subscription_apply .input + .input {margin-top: 16px;}
.section_newsletter .check_group {margin-top: 32px;display: flex;flex-wrap: wrap;gap: 20px;}
.section_newsletter .btn_subscription {margin-top: 40px;height: 52px;padding: 0 35px;font-weight: 500;color: #fff;background-color: var(--point);}
@media (max-width:1100px){
	.section_newsletter .subscription_apply {margin-top: 20px;padding-top: 375px;}
	.section_newsletter .subscription_apply::after {top: 0;right: auto;left: 50%;transform: translate(-50%, 0);width: 335px;height: 335px;margin-top: 0;}
	.section_newsletter .subscription_apply .input {width: 100%;}
}
@media (max-width:768px){
	.section_newsletter .btn_subscription {margin-top: 24px;}
	.section_newsletter .check_group {gap: 16px;}
}


/***********************************************************************
essay
***********************************************************************/
.section_essay {background-color: #F7F1E5;}
.section_essay .cont_inner {position: relative;display: flex;flex-direction: column;justify-content: center;min-height: 527px;}
.section_essay .cont_inner::after {content: "";display: block;position: absolute;top: 50%;right: 0;transform: translateY(-50%);width: 26.7412vw;height: 407px;background: url("../images/main/obj_essay.png") no-repeat center center / contain;
}
@media (max-width:768px){
	.section_essay .cont_inner {min-height: auto;padding-top: 40px;padding-bottom: 40px;}
	.section_essay .cont_inner::after {position: relative;top: auto;transform: inherit;margin-top: 24px;width: 100%;height: 335px;background-image: url("../images/main/obj_essay_mo.png");}
	.section_essay .cont_inner .desc {font-weight: 400;}
}

/* 최신 에세이 */
.swiper-essay {overflow: hidden;position: relative;}
.swiper-essay .swiper {padding-bottom: 48px;}
.swiper-essay .swiper .swiper-pagination {top: auto;bottom: 0;height: 2px;background-color: #DBDBDB;}
.swiper-essay .swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background-color: #111;}

/* 최신 에세이 목록 */
.essay-cate {position: relative;font-size: 14px;font-family: ElleGaborStd;font-weight: 500;}
.essay-cate::before {content: "";position: relative;top: -3px;display: inline-block;width: 20px;height: 20px;margin-right: 4px;mask: no-repeat center center / contain ;vertical-align: middle;}
.essay-cate.relationship::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.41577 4.5323C7.95244 3.9953 7.41379 3.6875 6.83913 3.6875C5.09878 3.6875 3.6875 6.50842 3.6875 9.99078C3.6875 13.4731 5.09878 16.2941 6.83913 16.2941C7.41379 16.2941 7.9508 15.9846 8.41577 15.4493C8.8791 15.9863 9.41774 16.2941 9.9924 16.2941C10.5671 16.2941 11.1041 15.9846 11.569 15.4493C12.0324 15.9863 12.571 16.2941 13.1457 16.2941C14.886 16.2941 16.2973 13.4715 16.2973 9.99078C16.2973 6.51006 14.8844 3.6875 13.144 3.6875C12.5694 3.6875 12.0324 3.99693 11.5674 4.5323C11.1041 3.9953 10.5654 3.6875 9.99077 3.6875C9.4161 3.6875 8.8791 3.99693 8.41413 4.5323' fill='%2300A05E'/%3E%3C/svg%3E");background-color: #00A05E;}
.essay-cate.career::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.55276 3.80005L3.79688 6.55477V13.4453L6.55276 16.2H13.441L16.1969 13.4453V6.55477L13.441 3.80005H6.55276Z' fill='%238274BD'/%3E%3C/svg%3E");background-color: #8274BD;}
.essay-cate.culture::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0749 6.50771C14.4004 6.14097 13.847 5.58759 13.4803 4.91306C11.9789 2.14617 8.00707 2.14617 6.50575 4.91306C6.13901 5.58759 5.58563 6.14097 4.9111 6.50771C2.14422 8.00904 2.14422 11.9809 4.9111 13.4823C5.58563 13.849 6.13901 14.4024 6.50575 15.0769C8.00707 17.8438 11.9789 17.8438 13.4803 15.0769C13.847 14.4024 14.4004 13.849 15.0749 13.4823C17.8418 11.9809 17.8418 8.00904 15.0749 6.50771Z' fill='%23FF7A30'/%3E%3C/svg%3E");background-color: #FF7A30;}
.essay-cate.body::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.73438 3.7373L6.51764 9.99966L3.73438 16.262H16.2574L13.4741 9.99966L16.2574 3.7373H3.73438Z' fill='%23ECAC96'/%3E%3C/svg%3E");background-color: #ECAC96;}
.essay-cate.society::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0008 3.72852L2 10.0012L10.0008 16.2723L18 10.0012L10.0008 3.72852Z' fill='%236783C7'/%3E%3C/svg%3E");background-color: #6783C7;}
.essay-cate.advice::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.32806 15.6573C9.27066 15.6573 11.6561 13.2716 11.6561 10.3286C11.6561 7.38572 9.27066 5 6.32806 5C3.38545 5 1 7.38572 1 10.3286C1 13.2716 3.38545 15.6573 6.32806 15.6573Z' fill='%23E8595F'/%3E%3Cpath d='M13.6718 15.6573C16.6144 15.6573 18.9999 13.2716 18.9999 10.3286C18.9999 7.38572 16.6144 5 13.6718 5C10.7292 5 8.34375 7.38572 8.34375 10.3286C8.34375 13.2716 10.7292 15.6573 13.6718 15.6573Z' fill='%23E8595F'/%3E%3C/svg%3E%0A");background-color: #E8595F;}
.essay-cate.travel::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8809 8.88579C15.8809 5.63592 13.2467 3 9.99515 3C6.74365 3 4.10938 5.63428 4.10938 8.88579V16.9916H15.8793V8.88579H15.8809Z' fill='%2300ADCD'/%3E%3C/svg%3E");background-color: #00ADCD;}
.essay-cate.money::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2815 15.2796V13.5277L16.899 12.8581L16.2294 11.2389L17.4672 10.0012L16.2294 8.76181L16.899 7.14424L15.2815 6.47461V4.72279H13.5297L12.86 3.10522L11.2425 3.77484L10.0031 2.53711L8.76538 3.77484L7.14782 3.10522L6.47656 4.72279H4.72638V6.47461L3.10718 7.14424L3.77843 8.76181L2.53906 10.0012L3.77843 11.2389L3.10718 12.8581L4.72638 13.5277V15.2796H6.47656L7.14782 16.8971L8.76538 16.2259L10.0031 17.4652L11.2425 16.2259L12.86 16.8971L13.5297 15.2796H15.2815Z' fill='%23E5B65A'/%3E%3C/svg%3E");background-color: #E5B65A;}
.essay-cate.green::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6331 6.78688C16.6331 4.69616 14.9369 3 12.8462 3C11.6052 3 10.5066 3.59922 9.81735 4.52261C9.12645 3.60086 8.02788 3 6.78687 3C4.69615 3 3 4.69616 3 6.78688C3 8.02789 3.59922 9.12646 4.52261 9.81737C3.59922 10.5066 3 11.6052 3 12.8462C3 14.9369 4.69615 16.6331 6.78687 16.6331C8.02788 16.6331 9.12481 16.0339 9.81572 15.1121C10.5066 16.0339 11.6052 16.6331 12.8446 16.6331C14.9353 16.6331 16.6314 14.9369 16.6314 12.8462C16.6314 11.6052 16.0322 10.5083 15.1105 9.81737C16.0322 9.12646 16.6314 8.02953 16.6314 6.78852' fill='%23008C80'/%3E%3C/svg%3E%0A");background-color: #008C80;}
.essay-cate.love::before {mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1342 6.82789C17.1342 4.63729 15.3595 2.86255 13.1689 2.86255C11.8689 2.86255 10.7196 3.4896 9.99598 4.45556C9.27233 3.4896 8.12301 2.86255 6.8247 2.86255C4.63411 2.86255 2.85938 4.63729 2.85938 6.82789C2.85938 7.25847 2.92977 7.67269 3.05747 8.06071C4.20352 11.9671 9.99598 17.1374 9.99598 17.1374C9.99598 17.1374 15.7901 11.9671 16.9361 8.06071C17.0638 7.67269 17.1342 7.25847 17.1342 6.82789Z' fill='%23FF80B7'/%3E%3C/svg%3E");background-color: #FF80B7;}

.essay-list > li {position: relative;}
.essay-list > li > a {position: relative;display: block;}
.essay-list .thumb {position: relative;padding-top: 100%;}
.essay-list .thumb img {position: absolute;top: 0;left: 0;object-fit: cover;width: 100%;height: 100%;}
.essay-list .cont {margin-top: 12px;}
.essay-list .cont > span {display: inline-block;}
.essay-list .cont .essay-cate::before {width: 16px;height: 16px;background-color: #111;}
.essay-list .cont .tit {height: 56px;margin-top: 8px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;white-space: inherit;font-size: 20px;font-weight: 700;}
.essay-list .cont .writer {margin-top: 24px;font-size: 14px;}
.essay-list .util {position: absolute;top: 16px;right: 16px;display: flex;gap: 6px;align-items: center;}
.essay-list .util .new {display: inline-block;width: 32px;height: 32px;background: url("../images/ico_new.svg") no-repeat 0 0 / contain;}

@media (max-width:768px){
	.essay-list .cont {margin-top: 8px;}
	.essay-list .cont .essay-cate {font-size: 11px;}
	.essay-list .cont .essay-cate::before {top: -2px;}
	.essay-list .cont .tit {height: 39px;margin-top: 4px;font-size: 14px;}
	.essay-list .cont .writer {margin-top: 12px;font-size: 12px;}
	.essay-list .util {top: 8px;right: 8px;gap: 4px;}
	.essay-list .util .new {width: 28px;height: 28px;}
}


/***********************************************************************
writer
***********************************************************************/
.section_writer .cont_inner {padding-top: 60px;padding-bottom: 60px;}
.writer_list_wrap {display: block;overflow-x: auto;}
.writer_list {display: flex;justify-content: space-between;column-gap: 4.18vw;}
.writer_list > li {flex-shrink: 0;width: 180px;}
.writer_list .img {overflow: hidden;position: relative;width: 100%;padding-top: 100%;background: url("../images/bg_writer.png") no-repeat center center / contain;border-radius: 50%;}
.writer_list .img img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: contain;}
.writer_list .cont {display: flex;align-items: center;gap: 12px;width: max-content;margin: 16px auto 0;}
.writer_list .cont .nm {font-size: 18px;}
@media (max-width:768px){
	.section_writer .cont_inner {padding-top: 40px;padding-bottom: 40px;}
	.writer_list_wrap::-webkit-scrollbar {display: none;}
	.writer_list {column-gap: 15px;width: max-content;padding: 0 20px;}
	.writer_list > li {width: 118px;}
	.writer_list .cont {gap: 3px;}
	.writer_list .cont .nm {font-size: 14px;}
}