/* eee */
:root{
	--point : #FF4100;
	--bg_gray : #F7F7F7;
}

/* eee list*/
.eee .subvisual {margin-bottom:80px;}
.eee .subvisual .imgbox:before {display:none;}
.hotplace_list_wrap {margin-bottom:180px;}
.hotplace_list_wrap .top_area {display:flex;justify-content:space-between;font-weight:500;font-size:14px;margin-bottom:40px;}
.hotplace_list_wrap .top_area .count {font-family:'Pretendard';font-weight:700;}/*2024-05-30 수정*/
.hotplace_list_wrap .top_area .count em {font-weight:700;color: var(--point);}
.hotplace_list_wrap .top_area .right_box {font-size:0;}
.hotplace_list_wrap .top_area a {margin:0 12px;position:relative;font-size:14px;}
.hotplace_list_wrap .top_area a::before {content:'';display:block;position:absolute;width:1px;height:12px;background-color:#c8c8c8;top:4px;left:-12px;}
.hotplace_list_wrap .top_area a:first-child::before {display:none;}
.hotplace_list_wrap .top_area a:first-child {margin-left:0px;}
.hotplace_list_wrap .top_area a:last-child {margin-right:0px;}
.hotplace_list_wrap .top_area a span {padding-right:20px;position:relative;line-height:20px;}
.hotplace_list_wrap .top_area a span.all {background:url(../images/ico_all.svg) no-repeat right 3px / 16px 16px;}
.hotplace_list_wrap .top_area a span.dibs {background:url(../images/ico_dibs_line.svg) no-repeat right 3px / 16px 16px;}
.hotplace_list_wrap .top_area a span.map {background:url(../images/ico_marker_s.svg) no-repeat right 3px / 16px 16px;}
.hotplace_list_wrap .top_area a span.detail {background:url(../images/ico_detail.svg) no-repeat right 3px / 16px 16px;}
.hotplace_list_wrap .top_area  .js-btn-dibs {display:none;}
.hotplace_list_wrap .top_area  .js-btn-dibs.on {display:block;}

/* .g_box + .hotplace_list {margin-top:120px;} 2024-05-27 삭제 */
.hotplace_list {}
.hotplace_list ul {display:flex;flex-wrap:wrap;gap:50px 24px;}
.hotplace_list ul li {width:calc(33.33% - 16px);border-radius:24px 24px 0 0 ;overflow:hidden;position:relative;}
.hotplace_list ul li > a {display:block;position:relative;width:100%;height:100%;}
.hotplace_list ul li .imgbox {position:relative;width:100%;height:0;padding-top:100%;}
.hotplace_list ul li .imgbox img {display:block;position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.hotplace_list ul li .imgbox .cate {position:absolute;top:0;left:0;line-height:40px;padding:0 16px;background-color:var(--point);color:#fff;border-radius:0 0 16px 0;font-weight:700;}
.hotplace_list ul li .txtbox {border:1px solid #C8C8C8;border-radius:0 0 24px 24px;padding:20px;padding-bottom:28px;height:140px;display:flex;flex-direction:column;justify-content: space-between;}
.hotplace_list ul li .txtbox dt {font-size:18px;line-height:24px;font-weight:700;}
.hotplace_list ul li .txtbox dd {margin:8px 0;font-size:12px;line-height:18px;color:#999;overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;}
.hotplace_list ul li .dibs {position:absolute;width:28px;height:28px;bottom:90px;right:20px;background:url(../images/ico_dibs_line.svg) no-repeat;}
.hotplace_list ul li .dibs.on {background:url(../images/ico_dibs_line_on.svg) no-repeat;}
.hotplace_list ul li > .tag_box {position:absolute;bottom:28px;left:20px;}/* 2024-05-30 추가 */
.hotplace_list ul li > .tag_box .tag {cursor: pointer;}/* 2024-05-30 추가 */
.eee .tag_box {display:flex;gap:4px;}
.eee .tag_box .tag {display:block;font-size:12px;line-height:24px;padding:0 8px;background-color:#C8C8C84D;color:#666;}

.g_box {background-color:var(--bg_gray);}
.g_box.filter {padding:32px;}
.filter .reset {display:block;text-align:right;}
.filter .reset a {font-size:14px;color:#999;line-height:20px; text-decoration:underline;}
.filter dl {display:flex;margin-top:16px;background-color:#fff;align-items:center;}
.filter dt {line-height:52px;flex:1 0 87px;max-width:87px;padding:0 19px;font-weight:700;}
.filter dl.word dd {color:var(--point);font-weight:700;}
.filter dl dd {display:flex;gap:8px;flex-wrap:wrap;padding:10px;padding-left:0;}
.filter dl .chip {display: inline-flex;gap: 4px;align-items: center;justify-content: center;height: 32px;padding: 0 12px;background-color: var(--point);color: #fff;font-size: 12px;;border-radius: 20px;}
.filter dl .chip .btn_del {width: 16px;height: 16px;background: url("../images/ico_close_20_be.svg") no-repeat center center / contain;}
/* .g_box.filter + .g_box.no_data {margin-top:40px;} 2024-05-27 삭제 */
.g_box.no_data {height:412px;display:flex;align-items:center;justify-content:center;font-size:24px;color:#666;}
.g_box.filter.open ~ .g_box.no_data {margin-top:40px;}/* 2024-05-27 추가 */
.g_box.filter.open ~ .hotplace_list {margin-top:120px;}/* 2024-05-27 추가 */

.eee .banner_wrap {margin-top:120px;}
.eee .banner_wrap .mo_img {display:none;}

/* eee 상세 */
.eee_veiw_wrap {padding-top:80px;margin-bottom:180px;}
.eee .eee_veiw {padding:0 102px;}
.eee .eee_veiw .tit {font-size:36px;line-height:48px;font-weight:700;margin-bottom:60px;text-align:center;}
.eee .eee_veiw .caption {font-size:14px;line-height:24px;letter-spacing:0.08em;color:#666;font-weight:400;text-align:left;}
.eee_veiw_wrap .g_box {margin-top:120px;}
.eee_veiw_wrap .tit_wrap {margin-top:120px;margin-bottom:48px;}
.eee_veiw_wrap .tit_wrap .tit {font-size:28px;line-height:32px;font-weight:700;}
.eee_veiw_wrap .g_box.edit_cmt {padding:60px;}

.eee .line20 {height:20px;background-color:var(--bg_gray);margin:120px 0;}

/* 상세 검색 설정 팝업 */
.popup_filter .popup_inner {max-width:792px;}
.popup_filter .popup_cont {overflow-y: hidden;margin: 0 !important;padding-right: 28px;}
.popup_filter .select_wrap {overflow-y: hidden;display: flex;flex-direction: column;margin: 40px -28px 0;height: 330px;max-height:330px;}
.popup_filter .tab_wrap {flex: 1;border-bottom: 1px solid #DBDBDB;overflow: hidden;}
.popup_filter .tab_wrap .tab_menu.type02{padding: 13px 12px;border-bottom: 1px solid #DBDBDB;}/* 2024-05-27 수정 */
.popup_filter .tab_wrap .tab_menu.type02 > ul {margin: 0;}
.popup_filter .tab_wrap .tab_menu.type02 > ul > li > a {font-size: 18px;}
.popup_filter .tab_wrap .tab_menu.type02 > ul > li.on > a {color: var(--point);}
.popup_filter .tab_wrap .tab_cont_wrap {height:calc(100% - 50px);}
.popup_filter .tab_wrap .tab_cont {height:100%;}
.popup_filter .tab_cont.on .info_area {display:block;}
.popup_filter .info_area {display:none; padding: 16px 28px;border-bottom:1px solid #DBDBDB;}
.popup_filter .info_area .txt {font-size: 12px;color: #666;padding-left:20px;position:relative;line-height:17px;}
.popup_filter .info_area .txt::before {content:'';display:inline-block;width:16px;height:16px;position:absolute;left:0;top:2px; background:url(../images/ico_info.svg);}
.popup_filter .region_wrap {display: flex; height:100%;}
.popup_filter .tab_cont.on .region_wrap {height:calc(100% - 50px);}
.popup_filter .region_wrap > div {overflow-y: auto;max-height: 100%;/*max-height: 208px;*/-webkit-overflow-scrolling:touch;}
.popup_filter .region_wrap .region_list > li {position: relative;padding: 0 12px 0 28px;line-height: 52px;color: #999;font-size: 16px;font-weight: 500;cursor: pointer;height:52px;}
.popup_filter .region_wrap .region_list > li::after {content: "";position: absolute;top: 50%;right: 12px;transform: translateY(-50%);width: 20px;height: 20px;background: no-repeat 0 0 / contain;}
.popup_filter .region_wrap .region_list > li.on {color: var(--point);}
.popup_filter .region_wrap .region_list > li .total {margin-left:4px;display:none;}
.popup_filter .tab_cont.on .region_wrap .region_list > li .total {display:inline-block;}
.popup_filter .tab_cont:not(.on) .region_wrap .region_do {width:100%;}
.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list {position:relative;min-height:100%;height:fit-content;font-size:0;}
.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list::before {content:'';display:block;width:1px;height:100%;background-color:#C8C8C8;position:absolute;left:33.33%;top:0px;}
.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list::after {content:'';display:block;width:1px;height:100%;background-color:#C8C8C8;position:absolute;right:33.33%;top:0px;}
.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list li {width:33.33%;display:inline-block;}
.popup_filter .tab_cont.on .region_wrap .region_do {flex: 1;max-width: 210px;background-color: #F7F7F7;}
.popup_filter .tab_cont.on .region_wrap .region_do .region_list > li.on::after {background-image: url("../images/ico_arrow_right_20.svg");}
.popup_filter .tab_cont.on .region_wrap .region_sigun {display:block;}
.popup_filter .region_wrap .region_sigun {display:none; position: relative;flex: 2;}
.popup_filter .region_wrap .region_sigun::before {content: "";position: absolute;top: 0;left: 50%;transform: translateX(-50%);width: 1px;height: 100%;background-color: #DBDBDB;}

.popup_filter .region_wrap .region_sigun .region_list {position: relative;flex-wrap: wrap;}
.popup_filter .region_wrap .region_sigun .region_list::before {content: "";position: absolute;top: 0;left: 50%;transform: translateX(-50%);width: 1px;height: 100%;background-color: #DBDBDB;}
.popup_filter .region_wrap .region_sigun .region_list > li {flex-basis: 50%;padding: 0 20px;}
.popup_filter .region_wrap .region_sigun .region_list > li::after {right: 20px;background-image: url("../images/ico_cate_checkbox.svg");}
.popup_filter .region_wrap .region_sigun .region_list > li.on::after {background-image: url("../images/ico_cate_checkbox_on.svg");}
.popup_filter .chip_wrap {margin-top: auto;max-height:175px;}
.popup_filter .chip_inner {display: flex;flex-wrap: wrap;gap: 8px;height:100%;overflow-y:auto;}
.popup_filter .chip_inner:has(.chip ) {padding: 16px 20px;}
.popup_filter .chip_inner .chip {display: inline-flex;gap: 4px;align-items: center;justify-content: center;height: 32px;padding: 0 16px;background-color: var(--point);color: #fff;font-size: 12px;;border-radius: 20px;}
.popup_filter .chip_inner .btn_del {width: 16px;height: 16px;background: url("../images/ico_close_20_be.svg") no-repeat center center / contain;}

.popup_filter .cate_list {display: flex;gap: 20px;padding: 28px;}
.popup_filter .cate_list > li {cursor: pointer;font-size: 16px;}
.popup_filter .cate_list > li.on {color:var(--point);}
.popup_filter .detail_cate {border-top: 1px solid #DBDBDB;}

.popup_filter .tab_cont[data-filter] .filter_depth2 {display: none;}
.popup_filter .tab_cont[data-filter] .filter_depth2.active {display: flex;}

.is_pc .popup_filter .region_wrap > div::-webkit-scrollbar, .is_pc .popup_filter .chip_inner::-webkit-scrollbar {width:28px;height: 100%;}
.is_pc .popup_filter .region_wrap > div::-webkit-scrollbar-track, .is_pc .popup_filter .chip_inner::-webkit-scrollbar-track{background-color:transparent;}
.is_pc .popup_filter .region_wrap > div::-webkit-scrollbar-thumb, .is_pc .popup_filter .chip_inner::-webkit-scrollbar-thumb{background-color:#D9D9D9;border-radius:30px;border: 10px solid #fff;}

.is_pc .popup_filter .tab_cont.on .region_wrap > div.region_do::-webkit-scrollbar-thumb{border-color: #F7F7F7;}



/************************* Media Query *************************/
@media (max-width:1199px){
	.hotplace_list ul li {width:calc(50% - 12px);}
}
@media (max-width:768px){
	.eee .subvisual {height:270px;margin-bottom:40px;}

	.hotplace_list_wrap {margin-bottom:80px;}
	.hotplace_list_wrap .top_area {flex-wrap:wrap;flex-direction:column-reverse;margin-bottom:24px;}
	.hotplace_list_wrap .top_area .right_box {margin-bottom:14px;height:22px;}
	.hotplace_list_wrap .top_area a span {padding-bottom:2px;}
	.hotplace_list_wrap .top_area a span.all {background:url(../images/ico_all.svg) no-repeat right 2px / 16px 16px;}
	.hotplace_list_wrap .top_area a span.dibs {background:url(../images/ico_dibs_line.svg) no-repeat right 2px / 16px 16px;}
	.hotplace_list_wrap .top_area a span.map {background:url(../images/ico_marker_s.svg) no-repeat right 2px / 16px 16px;}
	.hotplace_list_wrap .top_area a span.detail {background:url(../images/ico_detail.svg) no-repeat right 2px / 16px 16px;}

	.g_box + .hotplace_list {margin-top:32px;}/* 2024-05-27 수정 */
	.hotplace_list {}
	.hotplace_list ul {row-gap:24px;}
	.hotplace_list ul li {width:100%;}
	.hotplace_list ul li .imgbox .cate {font-size:14px;}
	.hotplace_list ul li .txtbox {padding:16px;padding-bottom:20px;height:130px;}
	.hotplace_list ul li .dibs {bottom:86px;right:18px;}
	.hotplace_list ul li > .tag_box {bottom:20px;left:16px;}/* 2024-05-30 추가 */

	.g_box.filter {padding:24px 16px;}
	.filter dl {margin-top:12px;font-size:14px;}
	.filter dt {flex:1 0 71px;max-width:71px;padding:0 16px;}

	.g_box.no_data {height:208px;font-size:14px;}
	.g_box.no_data p span {display:block;text-align:center;}
	.g_box.filter.open ~ .hotplace_list {margin-top:40px;}/* 2024-05-27 추가 */

	.eee .banner_wrap {margin-top:40px;}
	.eee .banner_wrap .pc_img {display:none;}
	.eee .banner_wrap .mo_img {display:block;}

	.eee_veiw_wrap {padding-top:40px;margin-bottom:80px;}
	.eee .eee_veiw {padding:0px;margin:0 -20px;}
	.eee .eee_veiw .tag_photobundle {margin:0;}
	.eee .eee_veiw .tit {font-size:24px;line-height:32px;margin-bottom:24px;}
	.eee .eee_veiw .caption {margin-top:8px;letter-spacing:0.02em;padding:0 20px;word-break:break-all;}
	.eee_veiw_wrap .tit_wrap {margin-top:80px;margin-bottom:24px;}
	.eee_veiw_wrap .tit_wrap .tit {font-size:20px;line-height:29px;}
	.eee_veiw_wrap .g_box {margin-top:32px;}

	.eee .line20 {height:12px;margin:80px 0;}

	/* .popup_filter .popup_inner {max-height:none;} */
	.popup_filter .popup_cont .inputbox.search {margin-top:-16px;}
	.popup_filter .select_wrap {margin-top:20px;height:calc(100% - 56px);max-height:calc(100% - 56px);}
	.popup_filter .tab_wrap {border-bottom:none;height:100%;}
	.popup_filter .tab_wrap .tab_menu.type02 {padding:14px 12px;}/* 2024-05-27 수정 */
	.popup_filter .tab_wrap .tab_menu.type02 > ul > li > a {font-size:16px;padding:0 12px;}
	.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list::before {left:50%;}
	.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list::after {display:none;}
	.popup_filter .tab_cont:not(.on) .region_wrap .region_do .region_list li {width:50%;}
	.popup_filter .tab_cont.on .region_wrap.tag {height:calc(100% - 67px);}
	.popup_filter .tab_cont.on .region_wrap .region_do {max-width:50%;}
	.popup_filter .region_wrap .region_sigun {flex:1;}
	.popup_filter .region_wrap .region_sigun::before {display:none;}
	.popup_filter .region_wrap .region_sigun .region_list::before {display:none;}
	.popup_filter .region_wrap .region_sigun .region_list > li {flex-basis:100%;}
	.popup_filter .chip_wrap:has(.chip ) {padding-top:16px}
	.popup_filter .chip_inner:has(.chip ) {padding-top:0px}
	.popup_filter .chip_wrap {max-height:100%;max-height:calc(100% - 172px); }

}
