
body.is_PC .container.customer #content { padding-top:60px}
.board_area {}
.gray_box.search { margin:0 0 86px}
.tab_menu.type03 ~ .search {margin-top:16px}
.gray_box.search .box_inner {padding:52px 0; }
.gray_box.search .box_inner .inputbox { width:49%; margin:0 auto}
.board_tot_num { font-size:18px; color:#666; font-size:16px; font-weight:500 }
.board_tot_num strong {display:inline-block; font-size:18px; margin:0 4px; font-family:"Gotham"; color:var(--point) }
.board_tot_num ~ .board_st01 { margin-top:26px }

.search_res { font-size:24px; line-height:1.4; font-weight:700; margin-bottom:24px }
.search_res strong {color:var(--point) }
.search_res span { font-family:"Gotham";color:var(--point); font-size:26px; font-weight:500 }

 .board_st01.faq_cont .b_tit a {white-space:normal; text-overflow:clip }

.board_st01 .b_cate { width:15%}
.board_st01 .b_tit a { white-space:normal; text-overflow:clip; overflow:visible}



@media (max-width:768px){
    .gray_box.search { margin:0 -20px 43px}
    .gray_box.search .box_inner {padding:32px 20px }
    .gray_box.search .box_inner .inputbox { width:100%; margin:0 auto}
    .search_res span { font-size:18px}
    .search_res { font-size:16px; }
    .inquiry_in.input_type02 li .radio_list li { width:45%}
    .inquiry_in.input_type02 .radio_list {justify-content: space-between;}
}

@media (max-width:320px){
    .inquiry_in.input_type02 li .radio_list li { width:44%}
}
