.pc {display: inline-block;}
.mo {display: none;}

.main-page .header {position: fixed; top: 0; left: 0; right: 0; max-width: none;}
.main-page .header_wrap {max-width: 1280px; margin: auto; position: relative;}
.main-page :not(.isMenuShow) + .header {background-color: transparent;}
.main-page :not(.isMenuShow) + .header.am-open {background-color: #fff;}
.main-page :not(.isMenuShow) + .header .logo path {fill: #fff;}
.main-page :not(.isMenuShow) + .header .gnb_menu a {color: #fff;}
.main-page :not(.isMenuShow) + .header .header_util_area .ctype2 {color: #fff;}
.main-page .section-link {font-size: 16px; line-height: 1.25; padding: 16px 52px 16px 24px; border: 1px solid rgba(255, 255, 255, 0.6); background-image: url(../../resources/images/main/main-page_button-arrow.svg); background-position: right 24px center; background-repeat: no-repeat;}
.main-page .section-link--dark {border-color: rgba(17, 17, 17, 0.6); background-image: url(../../resources/images/main/main-page_button-arrow-dark.svg);}

.main-page .header.dark .header_gnb li a {color: #111;}
.main-page .header.dark .header_top .logo {background: url(../images/logo_b.svg) 0/100%;}
.main-page .header.dark .header_wrap .header_util_area button {color: #111;}
.main-page .header.bg-white {background: #fff;}
.main-page .header.bg-white .header_gnb li a {color: #111;}
.main-page .header.bg-white .header_top .logo {background: url(../images/logo_b.svg) 0/100%;}
.main-page .header.bg-white .header_wrap .header_util_area button {color: #666;}
.main-page .footer {width: 100%;}

.container.mm {padding: 0;}
.mm .vs {height: 100vh; pointer-events: auto;}

.mm .section {display: flex; align-items: center; justify-content: center; height: 100vh; overflow: hidden; position: relative;}
/* .mm .section .fade-up {transition: 0.5s; opacity: 0; transform: translateY(10%);}
.mm .section .fade-up.active {opacity: 1; transform: translateY(0);} */
.mm .link-btn-wrap {display: flex; justify-content: center;}
.mm .link-btn {padding: 16px 24px; border: 1px solid rgba(255, 255, 255, 0.6);}
.mm .link-btn.gray {border: 1px solid rgba(17, 17, 17, 0.6);}
.mm .link-btn-txt {position: relative; padding-right: 28px; color: #fff; font-weight: 500; font-size: 16px; line-height: 23px;}
.mm .link-btn.gray .link-btn-txt {color: #111;}
.mm .link-btn-txt:after {content: ''; position: absolute; top: 50%; right: 0; width: 20px; height: 20px; background: url(../images/main/link-btn-arrow.png) 0/100% no-repeat; transform: translateY(-50%);}
.mm .link-btn.gray .link-btn-txt:after {background: url(../images/main/main-page_button-arrow-dark.svg) 0/100% no-repeat;}
.mm .txt-wrap {display: flex; align-items: center; flex-direction: column; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; text-align: center;}

.mm .m-img {display: none;}

.mm .visual-video {min-height: 100vh; min-width: min-content; width: 100%; object-fit: cover;}
/* .mm .visual .txt-wrap {display: flex; align-items: center; flex-direction: column; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; text-align: center;} */
.mm .visual .v-t1 {color: #fff; font-weight: 700; font-size: 28px; line-height: 1.2;}
.mm .visual .v-t2 {margin-top: 24px; color: #fff; font-weight: 700; font-size: 56px; line-height: 1.4;}
.mm .visual .v-t3 {margin-top: 40px; color: #fff; font-weight: 500; font-size: 18px; line-height: 1.5;}
.mm .visual .v-btn {margin-top: 80px;}
.mm .visual .v-bg {height: 100vh;}
.mm .visual .v-bg .pc {display: block; height: inherit;}
.mm .visual .v-bg img {object-fit: cover; max-width: none; width: 100%; height: 100%;}
/* .mm .visual.active .v-bg {opacity: 1;} */

.mm .visual.join-point {background-color: #111;}
.mm .visual.join-save {background: url(../images/main/bg-point-save.png) no-repeat 50% 50% / cover;}

.mm .media .m-in {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.mm .media .m-logo {text-align: center;}
.mm .media .m-t1 {margin-top: 47px; color: #fff; font-weight: 500; font-size: 28px; line-height: 29px;}
.mm .media .m-t2 {margin-top: 24px; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;}
.mm .media .link-btn-wrap {margin-top: 60px;}

.mm .media.m1 .m-t1 {font-family:Montserrat;color: #111;}/* 2024-03-19 폰트 수정 */
.mm .media.m1 .m-t2 {color: #666;}
.mm .media.m2 {background-color: #FF1493;}/* 2024-05-16 수정 */
.mm .media.m2 .m-t1 {font-family:Montserrat;}/* 2024-03-19 폰트 수정 */
.mm .media.m3 {background-color: #111;}
.mm .media.m3 .m-t1 {font-family:Montserrat;}/* 2024-03-19 폰트 수정 */
.mm .media.m4 {background-color: #969C98;}
.mm .media.m4 .m-t1 {font-family:Montserrat;}/* 2024-03-19 폰트 수정 */

.mm .w-bo .w-t1 {color: #111; font-weight: 700; font-size: 80px; line-height: 116px; text-align: center;}
.mm .w-bo .w-t2 {margin-top: 20px; color: #666; font-weight: 500; font-size: 20px; line-height: 29px; text-align: center;}

.mm .vertical .text-wrap {width: max-content;}
.mm .vertical .vt-in {display: flex; align-items: center; justify-content: space-between;}
.mm .vertical .vt-t1 {display: block; font-weight: 700; font-size: 20px; line-height: 29px;}
.mm .vertical .vt-t2 {display: block; margin-top: 24px; font-weight: 700; font-size: 36px; line-height: 52px;}
.mm .vertical .vt-t3 {display: block; margin-top: 20px;font-weight: 500; font-size: 18px; line-height: 28px;}
.mm .vertical .dark .vt-t1 {color: #111;} 
.mm .vertical .dark .vt-t2 {color: #111;}
.mm .vertical .dark .vt-t3 {color: #666;}
.mm .vertical .light .vt-t1 {color: #fff;} 
.mm .vertical .light .vt-t2 {color: #fff;}
.mm .vertical .light .vt-t3 {color: #fff;}
.mm .vertical .link-btn-wrap {justify-content: flex-start; margin-top: 60px;}
.mm .vertical .col-img {max-width: 830px;}
.mm .vertical.elle {background-color: #F2EFE8;}
.mm .vertical.elle .col-img {margin-left: 60px;}
.mm .vertical.close-up {background-color: #6930E6;}
.mm .vertical.close-up .col-img {margin-left: 60px;}
.mm .vertical.artwalk {background-color: #111;}
.mm .vertical.artwalk .col-img {margin-left: 15px;}
.mm .vertical.eee {background-color: #F7F7F7;}
.mm .vertical.eee .col-img {margin-left: 207px;}
 
.floating-menu {position: fixed; bottom: 80px; right: 80px; z-index: 50; transition: 0.5s; opacity: 0;}
.floating-menu.active {opacity: 1;}
.floating-menu .fm-inner {position: relative;}
.floating-menu .fm-section {display: none; position: absolute; right: 0; bottom: 80px; padding: 20px 0; background: #fff; border: 1px solid #DBDBDB;}
.floating-menu .fm-item {display: flex; align-items: center; width: 282px; height: 48px; padding-left: 32px;}
.floating-menu .fm-link {color: #999; font-weight: 500; font-size: 18px; white-space: nowrap;}
.floating-menu .fm-link:hover {color: #111; font-weight: 700;}
.floating-menu .btn-f {position: relative; width: 68px; height: 68px; background: #111; filter: drop-shadow(2px 7px 10px rgba(0, 0, 0, 0.16)); border-radius: 50%;}
.floating-menu .btn-f:before {content: ''; position: absolute; top: 50%; left: 50%; width: 24px; height: 24px; background: url(../images/main/fm-more-close.png) 0/100%; transform: translate(-50%, -50%) rotate(0deg); transition: 0.5s;}
.floating-menu .btn-f.active:before {transform: translate(-50%, -50%) rotate(315deg);}

@media screen and (max-width: 1024px) {
    .mm .vertical {padding-top: 72px;}
    .mm .vertical .vt-in {flex-direction: column;}
    .mm .vertical .text-wrap {text-align: center;}
    .mm .vertical .link-btn-wrap {justify-content: center; margin-top: 30px;}
    .mm .vertical .col-img {margin: 50px 0 0 !important; text-align: center;}
    .mm .vertical .col-img img {width: 70%;}
}

@media screen and (max-width: 899px) {
    .main-page .header_top .btn_menu:after {background-image: url(../images/main/ico-menu-mo.png);}
    .main-page .header_top .btn_menu:after {background-image: url(../images/main/ico-menu-mo.png);}
    .main-page .bg-white .header_top .btn_menu:after {background-image: url(../images/main/ico-menu-mo-b.png);}
    .main-page .header.dark .header_top .btn_menu.on:after {background-image: url(../images/ico_close_28.svg);}
}

@media screen and (max-width: 768px) {
    .pc {display: none !important;}
    .mo {display: inline-block;}

    .mm .link-btn {padding: 10px 16px 12px 20px;}
    .mm .link-btn-txt {font-size: 14px;}
    .mm .link-btn-txt:after {background-image: url(../images/main/link-btn-arrow-mo.svg); background-size: 16px;}
    .mm .link-btn.gray .link-btn-txt:after {background-image: url(../images/main/link-btn-arrow-dark-mo.svg);}

    .mm .txt-wrap {padding: 0 30px; z-index: 2;}

    .mm .m-img {display: block;}
    .mm .m-img .swiper-slide {width: auto;}
    .mm .v-bg {display: none;}

    .mm .visual .v-t1 {font-size: 18px; font-weight: 500;}
    .mm .visual .v-t2 {margin-top: 12px; font-size: 28px;line-height: 1.5;}
    .mm .visual .v-t3 {margin-top: 20px; font-size: 14px;line-height: 1.6;}
    .mm .visual .v-btn {margin-top: 40px;}
    .mm .visual .m-img {position: absolute; bottom: 0;}
    .mm .visual.join-point {background-image: url(../images/main/membership02-bg-mo.png); background-size: cover;}
    .mm .visual.join-point .m-img .swiper-wrapper {transition-timing-function: linear;}
    .mm .visual.join-point .m-img .swiper-slide img{width: 130px;}
    .mm .visual.join-save {background-image: url(../images/main/membership03-bg-mo.png);}

    .mm .media {padding-top: 48px;}
    .mm .media .m-in {flex-direction: column;}
    .mm .media .txt-wrap {position: relative; height: auto;}
    .mm .media .m-img {margin-top: 60px;}
    .mm .media .m-img .swiper-slide img {height: 212px;}
    .mm .media .m-t1 {margin-top: 30px; font-size: 18px; line-height: 1.4;}
    .mm .media .m-t2 {margin-top: 10px; font-size: 14px; line-height: 1.5;}
    .mm .media .link-btn-wrap {margin-top: 30px;}
    .mm .media.m1 .m-logo {width: 132px;}
    .mm .media.m2 .m-logo {width: 220px;}
    .mm .media.m3 .m-logo {width: 172px;}
    .mm .media.m3 .m-t1 {font-family:Montserrat;}/* 2024-03-19 폰트 수정 */
    .mm .media.m4 .m-logo {width: 211px;}

    .mm .w-bo .w-t1 {font-size: 36px; line-height: 1.5;}
    .mm .w-bo .w-t2 {margin-top: 10px; font-size: 16px; line-height: 1.4;}

    .mm .vertical {padding-top: 48px;}
    .mm .vertical .text-wrap {width: auto;}
    .mm .vertical .vt-t1 {font-size: 16px; line-height: 1.2;}
    .mm .vertical .vt-t2 {margin-top: 12px; font-size: 24px; line-height: 1.4; letter-spacing: -0.2px;}
    .mm .vertical .vt-t3 {margin-top: 10px; font-size: 14px; line-height: 1.5;}
    .mm .vertical .col-img {margin: 30px 0 0 !important;}
    .mm .vertical .col-img img {width: 100%;}

    .floating-menu {bottom: 20px; right: 20px;}
    .floating-menu .fm-inner {position: relative;}
    .floating-menu .fm-section {bottom: 64px; padding: 8px 0;}
    .floating-menu .fm-item {width: 161px; height: 36px; padding-left: 16px;}
    .floating-menu .fm-link {font-size: 14px;}
    .floating-menu .btn-f {width: 52px; height: 52px; filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));}
}