body.is_pc .container.membrship { padding-top:0} 
body.is_mobile .container.membrship { padding-top:40px} 

.membership_wrap {margin:120px auto 0}

.top_visual { position:relative; max-width:1920px;max-height:800px; width:100%; margin:0 auto; height:800px; }
.top_visual img { position:absolute; top:0; left:0; display:block; height:100%; object-fit:cover; }
body.is_pc .top_visual img.pc {display:block}
body.is_pc .top_visual img.mo {display:none}
body.is_mobile .top_visual img.mo {display:block}
body.is_mobile .top_visual img.pc {display:none}
.top_visual .txt_box {position:absolute; top:50%; left:50%; transform: translate(-50% ,-50%); color:#fff; max-width:680px; text-align:center}
.top_visual .txt_box .txt { font-size:48px; font-weight:400; line-height:1.6}
.top_visual .txt_box .txt strong { font-weight:700}
.top_visual .txt_box .txts { font-size:18px; font-weight:400; line-height:1.6; text-align:left; margin-top:32px}

/* 포인트 안내 */
.membership_wrap .heading_wrap ~ .body_cont02 {margin-top:120px}
.point_info_area { padding-top:120px}
.point_info_cont { margin-top:80px }/* 2024-04-12 수정 */

.point_info_area .coupon object {width:142px; height:72px}

.round_box { border:1px solid #DBDBDB; background:#fff; border-radius: 20px;}
.round_box + .round_box {margin-top:20px;}/* 2024-04-12 수정 */

.point_change_info { display:flex; justify-content: space-between; padding:60px 40px 60px}/* 2024-04-12 수정 */
.point_change_info .point_left {display:flex; align-items: center; column-gap: 64px;}
.point_change_info .point_left .p_logo object {display:block;}/* 2024-04-12 수정 */
.point_change_info .point_left .p_txt {font-size:18px;}/* 2024-04-12 수정 */
.bt_more {position:relative; width:44px; height:44px; border-radius:44px 44px; background-color:#F7F7F7; }
.bt_more::after {content:''; position:absolute; display:inline-block;top:50%; left:50%; transform:translate(-50%, -50%); margin:1px 0 0 2px; width:20px;height:20px; background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1V13' stroke='%23666666' stroke-width='1.5'/%3E%3Cpath d='M13 7L1 7' stroke='%23666666' stroke-width='1.5'/%3E%3C/svg%3E%0A"); background-repeat:no-repeat; background-position:center center; background-size: 20px auto; }
.bt_more.is-expanded::after { width:16px; height:2px; margin:0; background:#666;}

.round_box.cj .point_left {margin-top:-7px;}/* 2024-04-12 수정 */
.round_box .gray_box { margin:0 40px;background:#fff;}/* 2024-04-12 수정 */
.info_box_cont {padding:40px;margin-bottom:40px;background-color:#f7f7f7;border-radius: 20px;}/* 2024-04-12 수정 */
.info_box_cont dt { font-size:18px; font-weight:700; margin-bottom:16px }
.info_box_cont dd {position:relative; font-size:16px; font-weight:400; color:#666; padding-left:10px; margin-bottom:8px }
.info_box_cont dd::before{ content:''; position:absolute; width:3px; height:3px; background:#CCCCCC; left:0px; top:11px; }
.info_box_cont dd:last-child {margin-bottom:0}

.point_info_cont .tit_wrap { margin-bottom:24px;}
.point_info_cont .tit_wrap ~ .tit_wrap { margin-top:80px}/* 2024-04-12 수정 */

.desc_txt { font-size:18px; font-weight:500; color:#666; line-height:1.4; margin-top:12px}

.gray_box02 { background:#F0ECF5; border-radius:20px 20px }

.point_mobile_change { display:flex; flex-direction: row;justify-content: flex-start; align-items: flex-start; column-gap:60px; padding:46px 40px}
.point_mobile_change .coupon {}
.point_mobile_change .txt { margin-top:13px }
.point_mobile_change .txt dt { font-weight:500; font-size:18px; }
.point_mobile_change .txt dd { font-weight:500; font-size:16px; color:#666; line-height:1.4; margin-top:12px }

.about_point_list { margin-top:60px}  
.about_point_list ul {display:flex; flex-wrap:wrap; justify-content: space-between; }
.about_point_list li { width:49%; margin-bottom:2% }

.point_card { background:#fff; border-radius: 20px 20px; border:1px solid #DBDBDB; box-shadow: 0px 4px 10px 0px rgba(17, 17, 17, 0.1);}
.point_card .card_header {display:flex; align-items:center;border-bottom:1px solid #DBDBDB; margin:0 40px; /*padding:40px 0 24px;*/ height:99px; box-sizing:border-box}
.point_card .logo { display:flex; align-items: flex-end;}
.point_card .logo object {width:100%}
.point_card.hearst .logo {width:100px; height:34px}
.point_card.elle .logo {width:96px; height:32px}
.point_card.cosmopolitan .logo {width:142px; height:29px}
.point_card.bazaar .logo {width:124.06px; height:32.32px}
.point_card.esquire .logo {width:125px; height:26px}
.point_card.eee .logo {width:93px; height:28px}
.point_card.ellevoice .logo {width:164px; height:32px}/*2024-05-16 추가*/
.point_card.artwalk .logo {width:132px; height:30px}/*2024-05-16 추가*/
.point_card .card_body { padding-top:40px; margin:0 40px; height:209px }
.point_card .card_body dl dt { font-size:18px; font-weight:500; line-height:1.4}
.point_card .card_body dl dd { display:flex; flex-direction:row;align-items: center; justify-content: space-between; margin-top:24px;  }
.point_card .card_body dl dd .c_state { color:var(--point); font-size:18px; font-weight:500}
.point_card .card_body dl dd .c_point { color:var(--point); font-size:48px; font-weight:500; line-height:1.1; font-family:Montserrat;}/* 2024-03-19 폰트 수정 */
.point_card .card_body dl dd .c_point span { font-size:36px; display:inline-block; margin-left:4px}
.point_card .card_body dl dd .c_txt { font-family:'Noto Sans KR';color:var(--point); font-size:40px; font-weight:700; line-height:1.1; }
.point_card .card_btm {display:flex; align-items: center;justify-content: space-around;  background:#F7F7F7; border-radius:0 0 20px 20px; text-align:center; height:60px; box-sizing:border-box;} 
.point_card .card_btm .txt { font-size:16px; line-height:2.5}


.btm_info_box {}
.btm_info_box .info_tit ~ .info_tit { margin-top:24px}
.btm_info_box .btm_info_tit { background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23410C86'/%3E%3Cpath d='M7.21922 10.356H8.81522V12H7.21922V10.356ZM7.15922 4.02V3.6H8.86322V4.02L8.41922 9.348H7.61522L7.15922 4.02Z' fill='%23410C86'/%3E%3C/svg%3E%0A"); background-repeat:no-repeat; background-position:left 4px;font-size:16px; font-weight:500; line-height:1.4; color:var(--point); border-bottom:1px solid #DBDBDB; padding-bottom:16px; margin-bottom:24px; padding-left:24px} 

@media (max-width:1200px){
.top_visual .txt_box .txt { font-size:44px;}
.top_visual .txt_box .txts { margin-top:28px}
}

@media (max-width:768px){
    .membership_wrap { margin:60px 0 0 0}
    .heading_wrap .info_txt { font-size:14px; }
    .top_visual { max-width:none; max-height:none; width:100%; margin:0 auto; height:500px; }
    .top_visual img { position:absolute; top:0; left:0; display:block; width:100%; object-fit:cover; }
    .top_visual .txt_box { width:80%;}
    .top_visual .txt_box .txt { font-size:28px; font-weight:400; line-height:1.6}
    .top_visual .txt_box .txts { font-size:14px; text-align:center; margin-top:20px}

    .point_info_cont { margin-top:60px }/* 2024-04-12 수정 */
    .point_change_info {padding:24px 19px 24px; align-items: center;}/* 2024-04-12 수정 */
    .point_change_info .point_left { flex-direction: column; align-items: flex-start;}
    .round_box .gray_box { margin:0 20px;}/* 2024-04-12 수정 */
    .round_box.cj .point_left {margin-top:-5px;}/* 2024-04-12 수정 */
    .round_box.cj .point_left .p_logo {margin-left:-7px;}/* 2024-04-12 수정 */
    .round_box.payco .point_left .p_logo {margin-left:-16px;}/* 2024-04-12 수정 */
    .point_mobile_change {flex-direction: column; padding:24px 20px}
    .point_mobile_change .coupon object { width:80px; height:40px} 
    .point_mobile_change .txt dt { font-size:16px }
    .point_mobile_change .txt dd { font-size:14px }
    .about_point_list li {width:100%}
    
    .point_change_info { align-items: flex-end;}
    .point_change_info .p_logo object {width:103px; height:auto}
    .point_change_info .p_logo.t1 object {width:71.53%; height:auto}
    .point_info_area .coupon object {width:80px; height:40px}

    .info_box_cont {padding:20px;margin-bottom:20px;}/* 2024-04-12 수정 */
    .info_box_cont dt {font-size:16px}
    .info_box_cont dd {font-size:14px}

    .point_card .card_header { height:69px; margin:0 20px}
    .point_card.hearst .logo object {width:70%;}
    .point_card.elle .logo object {width:68.02%;}
    .point_card.cosmopolitan .logo object {width:72.54%}
    .point_card.bazaar .logo object {width:66.85%}
    .point_card.esquire .logo object {width:91.2%}
    .point_card.eee .logo object {width:67.74%}
    .point_card.ellevoice .logo object {width:70%}/*2024-05-16 추가*/
    .point_card.artwalk .logo object {width:70%;}/*2024-05-16 추가*/
    .point_card .card_body { padding-top:20px; margin:0 20px}
    .point_card .card_body dl dt { font-size:14px}
    .point_card .card_body dl dd .c_point { font-size:32px}
    .point_card .card_body dl dd .c_txt { font-size:24px}
    .point_card .card_body dl dd .c_point span {font-size:24px}
    .point_card .card_body dl dd .c_state {font-size:16px}
    .point_card .card_body dl dd {margin-top:20px;}
    .point_card .card_body {height:115px}
    .point_card .card_btm { height:52px }
    .point_card .card_btm .txt { font-size:14px; }
    
    .bt_more {position:relative; width:32px; height:32px; border-radius:32px 32px; background-color:#F7F7F7; }
    .bt_more::after {content:''; position:absolute; display:inline-block;top:50%; left:50%; transform:translate(-50%, -50%); margin:1px 0 0 1px; width:16px;height:16px; background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1V13' stroke='%23666666' stroke-width='1'/%3E%3Cpath d='M13 7L1 7' stroke='%23666666' stroke-width='1'/%3E%3C/svg%3E%0A"); background-repeat:no-repeat; background-position:center center; background-size: 16px auto; }

    .bt_more.is-expanded::after { width:12px; height:1px; margin:0; background:#666;}
    .desc_txt { font-size:14px}

    .about_point_list ul {flex-direction: row; row-gap:24px}

    .about_point_list {margin-top:32px}

    .btm_info_box .btm_info_tit {font-size:14px}
    .point_info_area {padding-top:60px;margin-top:60px;}/* 2024-04-12 수정 */
    .membership_wrap .heading_wrap ~ .body_cont02 { margin-top:60px}/* 2024-04-12 수정 */
    .point_info_area + .bc_space02 {margin-top:100px;}/* 2024-04-12 수정 */

    .point_info_cont .tit_wrap { margin-bottom:16px}
    .point_change_info .point_left .p_txt { margin-top:21px;font-size:16px;line-height:32px;}/* 2024-04-12 수정 */
}