.header .header_util_area .signup {display:none}
.body_cont_area { background:#fff; margin-top:-100px; padding-top:100px}
.body_cont_area .cont_inner {  margin:0 auto }


/* 마이페이지 > 상단 컨텐츠 */
.top_cont_area { margin:0 auto; background-image:url('../images/bg_mypage.png'); background-repeat:no-repeat; background-position:center top; background-size:cover;}
.top_cont_area .cont_inner {max-width:1280px; margin:0 auto; }
.top_profile_area {position:relative; padding-top:92px; padding-left:102px }
.top_profile_area .profile_pic {position:absolute; left:0;  width:80px; height:80px; border-radius:78px; box-sizing:border-box; border:2px solid #fff; overflow:hidden; background: #D9D9D9 url(../../resources/images/ico_profile.png) no-repeat 50% 100%;}
.top_profile_area .txt01{ font-size:36px; font-weight:400; line-height:52px; color:#fff}
.top_profile_area .txt02 { position:relative; font-size:18px; font-weight:500; line-height:26px; color:#fff; margin-top:4px}
.top_profile_area .txt02 .btn_ico.modify { position:relative; top:-1px; margin-left:4px; vertical-align:middle}


.mypage_point_info {position:relative;height:220px; background:#fff; margin-top:51px; padding:40px; box-sizing: border-box;}
.mypage_point_info ul {display:flex; flex-direction: row; flex-wrap:wrap; justify-content: space-between; align-items: stretch; height:100%}
.mypage_point_info ul li {position:relative; border-left:1px solid #DBDBDB; flex: 1; }
.mypage_point_info ul li:first-child {border-left:0}
.mypage_point_info ul li dl { margin-left:40px; display:flex;flex-direction:column;justify-content:space-between; height:100% }
.mypage_point_info ul li:first-child dl {margin-left:0}
.mypage_point_info ul li dl dt {position:relative;font-size:16px; font-weight:500; color:#666; }
.mypage_point_info ul li dl dt::after { content:''; position:absolute; top:5px; width:16px; height:16px; background:transparent url('../images/ico_arrow.svg') no-repeat center center / 100% auto; margin-left:4px}
.mypage_point_info ul li dl dt .tooltip { vertical-align:top; margin:5px 0 0 4px }
.mypage_point_info ul li dl dd .bctype1 { position:absolute; right:0; top:-5px}
.mypage_point_info ul li dl dd .bctype1 span { line-height:1.5}
.mypage_point_info ul li dl dd .tooltip { position:absolute; right:0; bottom:8px}
.mypage_point_info ul li dl dd {display:flex;flex-direction: row;justify-content: flex-start;align-items: center;font-family:'Gotham'; font-size:28px; font-weight:500; text-align:right; padding-right:40px; }
.mypage_point_info ul li dl dd strong { font-weight:500; font-size:40px;  line-height:1 }
.mypage_point_info ul li dl dd .c_point {color:var(--point); position:relative; top:-2px}
.mypage_point_info ul li dl dd .point {font-size:28px; margin-left:4px}
.mypage_point_info ul li dl dd .sep { display:inline-block; margin:0 8px}
.mypage_point_info ul li dl dd span {line-height:1}

/* 포인트 샵 */
.point_shop_wrap {margin:180px auto}
.point_shop_wrap .tit_wrap { margin-bottom:40px}
.pointShop {  display:flex; flex-direction:row;flex-wrap:nowrap; justify-content:flex-start; height:258px; overflow:hidden; position:relative;}
.pointShop .swiper-wrapper {}
.pointShop .swiper-slide { width:18.4%; height:258px; }
.pointShop .swiper-slide:first-child { margin-left:0}
.pointShop .swiper-slide .atcbox { width:100%}
.pointShop .swiper-slide .imgbox {display:block;width:221px; height:221px; border:1px solid #DBDBDB; box-sizing:border-box; text-align:center; padding:24px; box-sizing: border-box; overflow:hidden;}
.pointShop .swiper-slide .imgbox img { width:auto; height:auto; position:static; }
.pointShop .swiper-slide .imgbox img:hover { transform: scale(1.1);}
.pointShop .swiper-slide .price_p {display:block;font-size:18px; font-family:'Gotham'; font-weight:500; line-height:1; text-align:center; margin-top:20px  }
.pointShop .swiper-button-prev, .pointShop .swiper-button-next { width:48px; height:48px; top:50%;; background-color:rgba(0, 0, 0, 0.28); background-image: url("data:image/svg+xml,%3Csvg width='25' height='46' viewBox='0 0 25 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M1 1L23 23L1 45' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");  background-repeat:no-repeat; background-position:center center; background-size:10px auto; cursor:pointer}
.pointShop .swiper-button-prev {left:0; transform:translateY(-87%) rotate(-180deg);}
.pointShop .swiper-button-next {right:0; transform:translateY(-87%)}
.pointShop.mo { display:none}
.pointShop .swiper-button-prev:hover, .pointShop .swiper-button-next:hover {background-image: url("data:image/svg+xml,%3Csvg width='25' height='46' viewBox='0 0 25 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M1 1L23 23L1 45' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"); }



/* 모아보기 */
.moa_wrap { width:100%; margin:180px auto}
.moa_wrap .tit_wrap {margin-bottom:60px}
.moa_wrap .btn_txt {display:none}
.moa_wrap .tit_wrap .btn_txt {display:block}
.tag_wrap{margin-bottom:48px;}
.tag_wrap .btnbox{display:none;}
.tag_list{display:flex;flex-wrap:wrap;column-gap:8px;row-gap:12px;overflow:hidden;margin-bottom:48px;}
.tag_list li{display:inline-block;vertical-align:top;}
.tag_list li a{display:block;min-height:44px;padding:10px 20px;background-color:#fff;border:1px solid #ccc;font-size:14px;font-weight:400;line-height:20px;}
.tag_list li.on a{background-color:var(--point);border-color:var(--point);font-weight:500;color:#fff;}
.tag_atc_list ul{display:flex;flex-wrap:wrap;column-gap:24px;row-gap:50px;}
.tag_atc_list li{display:inline-block;width:calc(33.333% - 16px);vertical-align:top;}
.moa_list {  }
.moa_list ul{display:flex;  flex-wrap: nowrap; justify-content: space-between;}
.moa_list li { width:23.5%;}
.moa_list .atcbox{position:relative;width:100%;height:100%;}
.moa_list .atcbox .imgbox{/*padding-top:133.334%;*/}

body.is_pc .moa_list .atcbox .imgbox img.is_pc {display:block }
body.is_pc .moa_list .atcbox .imgbox img.is_mobile {display:none }

.myscrap_wrap {width:100%; margin:180px 0}
.myscrap_wrap .tit_wrap {margin-bottom:40px}
.myscrap_wrap .tit_wrap h2 strong { display:inline-block; color:var(--point); font-family:'Gotham'; font-size: 28px; font-weight:500; margin-left:8px;}
.myscrap_wrap .myscrap_list {}
.myscrap_wrap .myscrap_list ul {display:flex; flex-direction:column; }
.myscrap_wrap .myscrap_list ul li { display:flex; flex-wrap: nowrap;justify-content: space-between}
.myscrap_wrap .myscrap_list ul li.swiper-slide .atcbox {width:23.5%}
.myscrap_wrap .myscrap_list ul li + li { margin-top:50px}

.profile_edit { display:flex; align-items: flex-end; }
.profile_edit .profile_pic80 {overflow:hidden; background:#D9D9D9 url('../../resources/images/ico_profile.png') no-repeat 50% 100%; width:80px; height:80px; border-radius:80px 80px; border:1px solid #E0E0E0; box-sizing:border-box; margin-right:8px}
.profile_edit .profile_pic80 img {width:100%; height:100%; border-radius:8px; box-sizing:border-box; overflow:hidden; object-fit:cover;}
.profile_edit .btn_ico { margin-bottom:6px;}
.profile_edit .btn_ico ~ .btn_ico {margin-left:4px}
.profile_edit .btn_ico.del{width:24px;height:24px;background-size:22px auto;}

.tbl_btm_area { border-top:1px solid #DBDBDB; margin-top:34px; text-align:center; display:flex; flex-direction: column;align-items: flex-end }
.tbl_btm_area .btn_txt03 {}
.tbl_btm_area .btn_area {/*margin-top:80px;*/ width:100%}
.tbl_btm_area .btn_area .btn_b { max-width:384px; margin:0 auto}

.myscrap_area { margin-bottom:-4.17%}
.myscrap_area .tit_wrap { margin-bottom:40px}
.myscrap_area.no_scrap { background:#F7F7F7; padding:170px 0}
.img_list { display:flex; flex-direction: row; flex-wrap: wrap;}
.img_list .atcbox {width:23.5%; margin:0 0  4.17% 2%}
.img_list .atcbox:nth-child(4n+1), .myscrap_list02 .atcbox:first-child  {margin-left:0}
.myscrap_area.no_scrap .img_list {display:none}
.myscrap_area .rs_txt { display:none; font-size:24px; line-height:1.1; font-weight:500; color:#666; text-align:center}
.myscrap_area.no_scrap .rs_txt { display:block}
.today_news .tit_wrap { margin-bottom:40px}

.myscrap_area ~ .btn_more_wrap { margin-top:120px}

/* 포인트관리 */
.point_prd_info {position:relative; min-height:180px}
.point_prd_info .prd_img { position:absolute; left:0; top:0; z-index:1; width:180px; height:180px; overflow:hidden;background:gray}
.point_prd_info .prd_txt {}
.point_prd_info .prd_txt dl {padding-left:204px}
.point_prd_info .prd_txt dt {font-size:18px; font-weight:500; line-height:1.4; }
.point_prd_info .prd_txt dd {font-size:16px; line-height:1.4; color:#666; font-weight:400}
.point_prd_info .prd_txt dd.prd_tit {margin-top:16px; }
.point_prd_info .prd_txt dd.prd_detail { margin-top:32px; }
.point_prd_info .prd_txt dd.prd_detail ul {display:flex}
.point_prd_info .prd_txt dd.prd_detail ul li {margin-right:24px}
.point_prd_info .prd_txt dd.prd_detail li span {display:inline-block; margin-left:8px}
.point_prd_info .prd_txt dd.prd_detail li.order_state span {color:var(--point); font-weight:500}
.point_prd_info .prd_txt dd.prd_detail li.order_date span {color:#111}
.point_prd_info .prd_txt dd.prd_detail li.order_num span {color:#111}
.point_prd_info .prd_txt .btn_area { margin:16px 0 0 204px}
.point_prd_info .prd_txt .btn_area button { margin:0; width:auto}

.point_save_wrap { margin-top:80px}
.point_save_wrap .tit_wrap{margin-bottom:40px;}
.point_save_wrap .top_sort_wrap{margin-bottom:24px;}
.point_save_list { border-top:1px solid #111 }
.point_save_list li { padding:28px 24px; border-bottom:1px solid #DBDBDB}
.point_item {position:relative;}
.point_item dt {font-size:18px; font-weight:500; line-height:1.4;width:85%; white-space: nowrap; text-overflow: ellipsis; overflow:hidden}
.point_item dd.date { color:#666; font-size:16px; margin-top:16px;width:85%; }
.point_item dd.point { position:absolute; right:0; top:50%; transform:translateY(-50%); font-size:16px; font-weight:700; width:15%;text-align:right;color:#0078FF;}



/* 포인트 관리 */
.box_type02 { background:#fff; border:1px solid #DBDBDB}
.point_change_cont { display:flex; padding:0 40px; height:148px; align-items: center;    justify-content: space-around;}
.point_change_cont .p_logo {}
.point_change_cont .p_txt {font-size:18px; font-weight:500; }
.point_change_cont .p_change { display:flex}
.point_change_cont .p_change .unit {font-size:20px; line-height:52px; margin:0 0 0 14px}

.point_change_wrap .point_change_cont { margin-top:24px}

.point_inq_list { margin-top:32px;}
.popup_scroll {max-height:195px; overflow-y:auto; padding-right:10px;}
.is_pc .popup_scroll::-webkit-scrollbar{width:8px;height:8px;}
.is_pc .popup_scroll::-webkit-scrollbar-track{background-color:transparent;}
.is_pc .popup_scroll::-webkit-scrollbar-thumb{background-color:#dbdbdb;border-radius:4px;}
.is_pc .popup_scroll .popup_cont{margin:0 8px 0 0;}
.point_inq_list li {margin-top:20px}
.point_inq_list li:first-child {margin-top:0px}
.point_inq_list li dl { display:flex; justify-content: space-between;}
.point_inq_list li dt {font-size:16px; font-weight:500; line-height:23px; text-align:left; }
.point_inq_list li dd {font-size:20px; font-weight:500; line-height:23px; display:flex; color:#999 ;text-align:right; font-family:'Gotham'}
.point_inq_list li dd strong {color:var(--point); display:inline-block; margin-right:8px}
.point_inq_list li dd span { display:inline-block;margin-left:8px }
.point_inq_list li dd span em {font-size:16px; margin-left:4px}
.point_inq_list li dd strong em {font-size:16px; margin-left:4px}

/* 포인트 샵*/
.box_type02 { background:#fff; border:1px solid #DBDBDB}
.point_change_cont { display:flex; padding:0 40px; height:148px; align-items: center; justify-content:space-between}
.point_change_cont .point_left { display:flex;align-items: center; }
.point_change_cont .p_logo { height:auto; margin-right:64px}
.point_change_cont .p_logo object { width:100%; height:auto}
.point_change_cont .p_logo.ok  { width:144px;}
.point_change_cont .p_logo.cj  { width:121px;}
.point_change_cont .p_logo.hpoint  { width:97px;}
.point_change_cont .p_logo.payco  { width:97px;}
.point_change_cont .p_txt {font-size:18px; font-weight:500; flex-grow:2 }
.point_change_cont .p_txt span {display:inline-block; margin-left:5px}
.point_change_cont .p_change {display:inline-flex; flex-direction: column; /*width:504px;*/ margin-top:14px; justify-content:flex-end; flex-grow:0}
.point_change_cont .p_change .inputbox .inp { width:306px; }
.point_change_cont .p_change .unit {font-size:20px; line-height:52px; margin:0 0 0 14px; font-family:'Gotham'; font-weight:500}
.point_change_cont .p_change .btn { margin-left:40px}
.point_change_cont .p_change .p_change_box { display:flex;justify-content:flex-end; }

.point_change_wrap .point_change_cont { margin-top:24px}
.point_change_cont .p_change .in_tx { font-size:14px; font-weight:400; line-height:1.4; margin-top:8px;}

.list_head_area {display:flex; justify-content: space-between; align-items: center;}
.list_head_area .list_tot { font-size:24px; line-height:1.8;color:#666; font-weight:500 }
.list_head_area .list_tot strong { font-size:28px; line-height:1.8; font-family:"Gotham"; font-weight:500; color:var(--point); display:inline-block; margin-left:13px}

.pointshop_list_wrap .tit_wrap ~ .list_head_area { margin-top:40px; padding-top:24px; border-top:1px solid #111;} 

.list_sorting_area { display:flex;justify-content: space-between;align-items: center; margin-top:33px}
.list_sorting_area .option_filter {display:flex; align-items: center; }
.list_sorting_area .option_filter .stit02 { font-size:20px; line-height:1.4; font-weight:500; display:inline-block;margin-right:40px}
.list_sorting_area .option_filter02 { display:flex; }
.list_sorting_area .option_filter02 .selectbox { margin-left:10px; }


.point_product_list { border-top:1px solid #111; padding-top:40px; margin-top:35px}
.point_product_list ul {display:flex; flex-wrap:wrap; justify-content: space-between; row-gap:50px; column-gap:24px;}
.point_product_list ul li{ width: 23.4%}
.point_product_list ul li .atcbox {}
.point_product_list ul li .atcbox .imgbox {height:62.07%; border:1px solid #DBDBDB; box-sizing:border-box}
.point_product_list ul li .atcbox .txtbox {height:37.93%}
.point_product_list ul li .atcbox .txtbox .price_p {display:block;font-size:18px; font-family:'Gotham'; font-weight:500; line-height:1;  margin-top:6.13%}
.point_product_list ul li .atcbox .txtbox .tit {display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;position:relative;/*height:40%;*/font-size:18px;line-height:26px;color:#111;word-break:break-all;letter-spacing:-0.01em;}

/* select box */
.selectbox { position:relative; z-index:1;}
.selectbox .select_styled {font-size:14px; position:relative; padding-right:16px; cursor: pointer;}
.selectbox .select_styled::after {content:'';position:absolute; right:0; top:4px;display:inline-block;width:12px;height:12px;margin:0 0 0 8px;background:url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.08325 14.5L12.0833 8.5L6.08325 2.5' stroke='%23666666'/%3E%3C/svg%3E%0A") no-repeat center center / 100% auto; transform: rotate(90deg);}
.selectbox .select_styled.opened::after { transform: rotate(270deg);}
.selectbox .select_options { position:absolute; right:0; border:1px solid #ccc; padding:4px 0; background:#fff; display:none}
.selectbox .select_options li { padding:8px 16px; color:#999; font-size:14px; font-weight:400; line-height:1.6; cursor: pointer;}
.selectbox .select_options li:hover { color:#111; font-weight:700}
.selectbox .select_options li.selected { color:#111; font-weight:700}

/* 포인트샵 */
.point_prd_info02 {display:flex; flex-direction: row; justify-content: space-between; column-gap:8.42%;}
.point_prd_info02 .prd_img { position:relative; width:50.58%; height:50.58%; flex-shrink: 0;}
.point_prd_info02 .prd_img img {display:block}
.point_prd_info02 .prd_txt { }
.point_prd_info02 .prd_txt dl {padding:0;}
.point_prd_info02 .prd_txt dt {font-size:16px; color:var(--point); margin-bottom:20px}
.point_prd_info02 .prd_txt dd.prd_tit {font-size:24px; color:#111;font-weight:500; }
.point_prd_info02 .prd_txt dd.prd_price {font-size:36px; line-height:1; font-family:'Gotham'; font-weight:500; color:#111; margin-top:24px}
.point_prd_info02 .prd_txt dd.prd_price span {font-size:24px; }
.point_prd_info02 .prd_txt dd.prd_detail {margin-top:40px;padding-top:40px; border-top:1px solid #DBDBDB}
.point_prd_info02 .prd_txt dd.prd_detail ul {display:flex;flex-direction:row; flex-wrap:wrap; row-gap: 16px;}
.point_prd_info02 .prd_txt dd.prd_detail ul li {display:flex;  }
.point_prd_info02 .prd_txt dd.prd_detail ul li span {padding:0}
.point_prd_info02 .prd_txt dd.prd_detail ul li span.ptit {color:#666; font-weight:400; min-width:102px; margin-right:24px}
.point_prd_info02 .prd_txt dd.prd_detail ul li span.ptxt {color:#111; font-weight:400; line-height:1.6}
.point_prd_info02 .prd_txt .btn_area { margin:40px 0px 0}
.point_prd_info02 .prd_txt .btn_area button {width:100%; margin:0}

.prd_info_detail {}
.prd_info_detail li { margin-top:32px;}
.prd_info_detail li:first-child {margin-top:0}
.prd_info_detail li dt { font-size:16px; font-weight:500; margin-bottom:12px}
.prd_info_detail li dd { font-size:16px; font-weight:400}
.prd_info_detail .prd_detail_list li  { }
.prd_info_detail .prd_detail_list li { position:relative; font-size:16px; margin-top:8px; color:#111;  font-weight:400; line-height:1.4; margin-top:8px; padding-left:10px; text-indent:-1px;}
.prd_info_detail .prd_detail_list li:first-child { margin-top:0}
.prd_info_detail .prd_detail_list li:before { content:''; position:absolute; left:0; top:10px; width:3px; height:3px; border-radius: 3px 3px; background-color:#ccc}

/*.input_type02 .point_total { font-size:24px; font-family:"Gotham"; line-height:1; color:var(--point); font-weight:500}*/

.point_prd_info .prd_price {position:absolute; top:0; right:0; font-size:24px; font-weight:500; font-family:'Gotham'; }
.point_prd_info .prd_price span { font-size:20px; display:inline-block; margin-left:4px}


.input_type02 .info_tx {color:#666; padding-top:16px}
.input_type02 .info_tx:first-child {margin-top:-8px}

.inputbox.only50 { width:51%} 
.inputbox.only50 .inp {width:100%}
.inputbox .has_line + .inp.typed  {padding-right:72px;} 
.inputbox .has_line + .inp.typed + .del {right:48px}
.inputbox .inp_tx {font-size:12px; line-height:1.4; letter-spacing:-0.02em; margin-top:8px}
.inputbox.type02 {}
.inputbox.type02 .inp.typed:focus + .del, .inputbox.type02 .inp.typed:hover + .del, .inputbox.type02 .inp.typed + .del:hover, .inputbox.type02 .inp.typed + .del:focus {transform: translateY(none); top:26px} 


.inputbox .btn_txt { position:absolute; right:6px; top:6px}

.point_agree_area {padding-top:40px; border-top:1px solid #DBDBDB; margin-top:32px}
.point_agree_area dt {font-size:16px;}
.point_agree_area dd {font-size:16px; margin:24px 0 0 28px}
.point_agree_area dd em {color:#666}
.point_agree_area ~ .tbl_btm_area {border-top:0}

.important { font-size:12px; line-height:1.6; color:#FF0000; margin-top:8px; padding-left:28px}

.member_info .tit_wrap02 { margin-bottom:20px }

.pointshop_order .input_type02 li dl dd { padding-right:42.5%}
.inputbox.search .inp {width:331px}

@media (max-width:1023px){
	 /*포인트샵 */
     .point_change_cont { flex-direction: column; padding:24px 16px; height:auto}
     .point_change_cont .point_left {width:100%; justify-content: space-between;}
     .point_change_cont .p_change {width:100%;}
     .point_change_cont .p_txt {font-size:14px; white-space:nowrap; text-align:right}
     .point_change_cont .p_txt span {display:none}
     .point_change_cont .p_change .in_tx {margin-top:8px}
     .point_change_cont .p_change .p_change_box .inputbox {width:100%}
     .point_change_cont .p_change .inputbox .inp {width:100%}
     .point_change_cont .p_change .btn {min-width:auto; margin-left:19px; width:70px}
     .point_change_cont .btn span span {display:none}
     .point_change_cont .p_change .unit {margin:0 0 0 8px}

    .point_change_cont .p_logo.ok  { width:106px;}
    .point_change_cont .p_logo.cj  { width:84px;}
    .point_change_cont .p_logo.hpoint  { width:72px;}
    .point_change_cont .p_logo.payco  { width:65.62px;}
 
}

@media (max-width:899px){
    .point_prd_info {min-height:150px}
    .point_prd_info .prd_img {width:150px; height:150px}
    .point_prd_info .prd_txt dl { padding-left:170px;}
    .point_prd_info .prd_txt dd.prd_detail { margin-top:24px; }
    .point_prd_info .prd_txt dd.prd_detail ul {flex-direction: column;}
    .point_prd_info .prd_txt dd.prd_detail ul li {margin-top:8px; display:flex}
    .point_prd_info .prd_txt dd.prd_detail ul li:first-child {margin-top:0}
    .order_prd_cont .btn_area button {margin:0}

    .point_save_wrap .top_sort_wrap .date_wrap ~ .sort_filter{display:block;width:100%;margin-top:32px;}

    .list_head_area {flex-direction: column; align-items: flex-start;}

	.inputbox.search .inp {width:100%}
    .list_sorting_area .option_filter02 .selectbox { margin-left:10px; }
    .list_head_area .inputbox {width:100%; margin-top:16px}
 .pointshop_order .input_type02 li dl dd { padding-right:23.37%;}
}


@media (max-width:768px) {
    .container.mypage { padding-bottom:80px}
    .top_profile_area { padding-left:0; margin: 0 20px; text-align:center; background-size: auto; padding-top:49px}
    .top_profile_area .profile_pic { position:static; width:80px; height:80px; margin:0 auto }
    .top_profile_area .txt01 { font-size:24px; line-height:1.5; text-align:center; margin-top:16px}
    .top_profile_area .txt02 {font-size:14px; line-height:1.5; margin-top:8px;}
    .top_profile_area .btn_ico.modify { width:16px; height:16px;}
    .mypage_point_info ul li dl dt .tooltip { margin: 3px 0 0 4px;}
    .mypage_point_info {height:auto; padding:20px; margin-top:32px; }
    .mypage_point_info ul li { flex:none; display:inline-flex; width:50%; border:0; padding-bottom:16px }
    .mypage_point_info ul li:last-child { width:100%; border-top:1px solid #DBDBDB; padding-bottom:0px; padding-top:16px}
    .mypage_point_info ul li dl { margin-left:0}
    .mypage_point_info ul li dl dt { font-size:14px; line-height:1.5}
    .mypage_point_info ul li dl dt::after { width:12px; height:12px}
    .mypage_point_info ul li dl dd .c_point {color:var(--point); font-size:20px}
    .mypage_point_info ul li dl dd {justify-content: flex-start; margin-top:26px}
    .mypage_point_info ul li dl dd strong {font-size: 20px;}
    .mypage_point_info ul li dl dd span {font-size: 15px;}
    .mypage_point_info ul li dl dd .bctype1 { position:absolute; right:0; top:auto; bottom:-4px}
    .mypage_point_info ul li dl dd .bctype1 span {font-size:12px }
    .mypage_point_info ul li dl dd .sep { font-size: 15px;}
    .mypage_point_info ul li dl dd .point {font-size:16px; font-family:'Gotham'; font-weight:500}
	.mypage_point_info ul li dl dd .tooltip {bottom:5px}

    /* 포인트 샵 */
    .point_shop_wrap { margin: 80px auto}

    /* 컨텐츠 타이틀 영역 */
    .tit_wrap .tit { margin-right:50px; font-size:20px; line-height:29px}
    .tit_wrap.more .tit{padding-right:32px;}
    .tit_wrap .btn_txt {top:0;right:0px;width:29px;height:292px;}
    .tit_wrap .has_plus span {display:block;width:0;height:0;padding:0;font-size:0; overflow:hidden}
    .tit_wrap .has_plus:after {position:absolute; width:24px;height:24px; margin-top:2px;background-size:91.67% auto;}


    /* 모아보기 */
    .cont_scroll_wrap {position:relative;}
    .moa_wrap {margin:80px auto}
    .moa_wrap .moa_list ul{display:flex; flex-wrap:wrap; column-gap:12px; row-gap:24px;}
    .moa_wrap .moa_list li{width:calc(50% - 6px);vertical-align:top}
    .moa_wrap .tit_wrap .btn_txt { display:none}
    .moa_wrap .btn_txt { display:inline-block; left:50%; transform: translateX(-50%); margin-top:32px }

    /* 키워드 리스트 */
    .tag_wrap {position:relative;margin:0 -20px;}
    .tag_list{display:flex; flex-wrap:nowrap;overflow-x:auto;position:relative;margin-bottom:32px;padding:0 64px 0 20px;white-space:nowrap;font-size:0;}
    .tag_list::-webkit-scrollbar{display:none;}
    .tag_list li:last-child{padding-right:0;}
    .tag_list li a{min-height:36px; padding:6px 16px;white-space:nowrap;}
    .tag_wrap .btnbox{display:block;position:absolute;right:0;top:0;width:64px;height:36px;}
    .tag_wrap .btnbox .btn_ico{display:block;position:absolute;right:0;top:0;width:64px;height:100%;background:linear-gradient(to left, #fff 65%, #fff 0%, transparent);}
    .tag_wrap .btnbox .btn_ico:after{content:'';display:block;position:absolute;left:24px;top:50%;transform:translateY(-50%);width:20px;height:20px;background:url('../images/btn_more.svg') no-repeat 0 0 / 100% auto;}
    .tag_wrap .btnbox .btn_ico.on:after{transform:translateY(-50%) rotate(180deg);}
    .tag_wrap.on .tag_list{display:flex;flex-wrap:wrap;column-gap:8px;padding-right:64px;}
    .tag_wrap.on .tag_list li{padding-right:0;}
    .tag_wrap.on .btnbox:before{display:none;}
    .tag_atc_list ul{display:block;overflow:hidden;overflow-x:auto;white-space:nowrap;margin:0 -20px;padding:0 20px;font-size:0;}
    .tag_atc_list ul::-webkit-scrollbar{display:none;}
    .tag_atc_list li{width:65.377%;margin-right:12px;}
    .tag_atc_list li:last-child{margin-right:0;}

    /* 포인트 샵 */
    .pointShop.mo { height:auto; flex-wrap:wrap; }
    .pointShop.mo .swiper-wrapper {}
    .pointShop.mo .swiper-slide { display:flex; margin-left:0; width: 100%; height:auto; flex-wrap: wrap;  flex-direction: row; justify-content: space-between}
    .pointShop.mo .swiper-slide .atcbox {width:calc(50% - 6px); margin-bottom:24px; text-align:center}
    .pointShop.mo .swiper-slide .imgbox { width:100%; height:85.71%; padding: 7.41%; box-sizing:border-box}
    .pointShop.mo .atcbox .imgbox img { display:inline-block}
    .pointShop.mo .swiper-slide .price_p {font-size:14px; font-family:'Gotham'; font-weight:500; line-height:1; text-align:center; margin-top:14px }
    .pointShop.mo {display:flex}
    .pointShop.pc {display:none}

    /* 나의 스크랩 */
    body.is_mobile .myscrap_wrap {margin:80px auto}
    body.is_mobile .myscrap_list { height:auto; flex-wrap:wrap;  overflow:hidden }
    body.is_mobile .myscrap_wrap .myscrap_list ul {flex-direction: row;}
    body.is_mobile .myscrap_list .swiper-wrapper {}
    body.is_mobile .myscrap_list .swiper-slide { display:flex; margin-left:0; width: 100%; height:auto; flex-wrap: wrap;  flex-direction: row; justify-content: space-between}
    body.is_mobile .myscrap_wrap .myscrap_list ul li.swiper-slide .atcbox {width:calc(50% - 6px); margin-bottom:24px; text-align:center}
    body.is_mobile .myscrap_list .swiper-slide .atcbox { height:246px}
    body.is_mobile .myscrap_list .atcbox .txtbox { text-align:left}
    body.is_mobile .myscrap_list .atcbox .txtbox .tit { font-size:14px; font-weight:500; line-height:1.5;}
    body.is_mobile .myscrap_list .swiper-slide .imgbox { width:100%; height:65.85%; padding:0;}
    body.is_mobile .myscrap_list .atcbox .imgbox img { display:inline-block}
    body.is_mobile .myscrap_list .swiper-slide .price_p {font-size:14px; font-family:'Gotham'; font-weight:500; line-height:1; text-align:center; margin-top:14px }
    body.is_mobile .myscrap_wrap .myscrap_list ul li + li { margin-top:0 }

    .myscrap_wrap .tit_wrap h2 strong { font-size:22px}
    .myscrap_area .rs_txt { font-size:14px }
    .myscrap_area.no_scrap { padding:80px 0}
    .heading_wrap {margin-bottom:32px }

    .control{margin-top:32px;text-align:center; width:100%}
    .control .swiper-pagination{font-size:0;}
    .control .swiper-pagination .swiper-pagination-bullet{display:inline-block;position:relative;width:24px;height:2px;margin:0 4px;cursor:pointer;background-color:#dbdbdb;}
    .control .swiper-pagination .swiper-pagination-bullet-active{background-color:#111;}


    /* 회원정보 수정 */
    .container.main .content { padding-top:0 }


    .addr_search {}
    .addr_search .post_num { display:flex}
    .addr_search .post_num ~ .inputbox { margin-top:16px}


    .input_chk_type{}
    .input_chk_type .chk_all {position:static}
    .chk_list { margin-left:0px; display:flex; flex-wrap:wrap; margin-top:16px}
    .chk_list li { position:relative;width:50%; white-space:nowrap; margin-bottom:16px}
    .chk_list li .chk_in { vertical-align:middle; color:#111}
    .chk_list li .btn_ico { vertical-align:middle;}

    .btn_area.sns { width:auto}
    .btn_area.sns .btn {min-width: auto;}
    .btn_area.sns .btn span {font-size: 13px;}

    .btn.h36 { height:36px; font-size:14px; padding:0 20px}

    .img_list {vertical-align:top; display:flex;justify-content: space-between }
    .img_list .atcbox {width:48.21%; margin:0 0 7.16% 0}
    .img_list .atcbox:nth-child(2n+1), .img_list .atcbox:first-child  {margin-left:0}
    .myscrap_area ~ .btn_more_wrap { margin-top:40px}

    /* 포인트관리 */
    .point_prd_info {min-height:80px}
    .point_prd_info .prd_txt dl { padding-left:100px;}
    .point_prd_info .prd_txt dt {font-size:14px;  }
    .point_prd_info .prd_txt dd {font-size:14px;}
    .point_prd_info .prd_txt dd.prd_tit {margin-top:12px; }

    .point_prd_info .prd_img {width:80px; height:80px; }
    .point_prd_info .prd_img img {width:100%}
    .point_prd_info .prd_txt .btn_area {display:block; margin:32px 0 0}
    .point_prd_info .prd_txt .btn_area button {width:100%}

    .point_prd_area .input_type02 li dl {flex-direction: row;}
    .point_prd_area .input_type02 li dt {width:15%; margin-bottom:0; font-size:14px; color:#666}
    .point_prd_area .input_type02 li dd { font-size:14px;}

    .point_item dt {font-size:14px; font-weight:500; width:100%}
    .point_item dd.date { font-size:14px; width:70%}
    .point_item dd.point {top:auto; transform:none; bottom:0; font-size:14px; width:30%}

	.point_save_wrap .tit_wrap{margin-bottom:32px;}

	.point_inq_list li {margin-top:16px}
    .point_inq_list li dd {font-size:18px;}

    .pointshop_list_wrap .tit_wrap ~ .list_head_area {margin-top:32px}
    .list_head_area {flex-direction: column; align-items: flex-start; }

    .list_head_area .list_tot {font-size:14px }
    .list_head_area .list_tot strong{font-size:18px}
    .list_sorting_area  {position:relative;flex-direction: column;margin-top:20px} 
    .list_sorting_area .option_filter { flex-direction: column; align-items: flex-start;}
    .list_sorting_area .option_filter .stit02{text-align:left; margin-bottom:20px; font-size:14px}
    .list_sorting_area .option_filter02 {position:absolute; right:0px; top:5px; display:flex; }
    
    

    .bc_space02 {margin-top:60px}

    .point_product_list ul {display:flex; flex-wrap:wrap; justify-content: space-between; row-gap:24px; column-gap:12px;}
    .point_product_list ul li{ width:calc(50% - 6px);}
    .point_product_list ul li .atcbox .imgbox {height:48.36%}
    .point_product_list ul li .atcbox .txtbox { text-align:left; height:51.64%; display:flex; flex-direction: column; justify-content: space-between;}
    .point_product_list ul li .atcbox .txtbox .tit { font-size:14px; font-weight:500; line-height:1.5;height:40px}
    .point_product_list ul li .atcbox .txtbox .price_p {font-size:14px; font-family:'Gotham'; font-weight:500; line-height:1; }

    /* 포인트샵 */
    .point_prd_info02 {flex-direction:column}
    .point_prd_info02 .prd_img { width:100%; height:100%; margin-bottom:20px}
    .point_prd_info02 .prd_txt dd.prd_tit {font-size:18px}
    .point_prd_info02 .prd_txt dd.prd_price, .point_prd_info02 .prd_txt dd.prd_price span {font-size:20px}
    .point_prd_info02 .prd_txt dd.prd_detail {padding-top:24px; margin-top:24px}
    .point_prd_info02 .prd_txt dd.prd_detail ul li span {padding:0; font-size:14px}
    .prd_info_detail li dd,.prd_info_detail .prd_detail_list li {font-size:14px}

    
	.point_prd_info.type02 {min-height:162px; }
	.point_prd_info.type02 .prd_img {width:162px; height:162px}
	.point_prd_info .prd_txt dl { padding-left:100px}
    .point_prd_info.type02 .prd_txt dl { padding-left:174px}
	.point_prd_info .prd_price {position:relative; padding:24px 0 0 174px; font-size:16px }
    .point_prd_info .prd_price span {font-size:16px }

	.inputbox.only50 {width:100%}
    .btm_info_box { padding:20px; margin-top:40px }

    .point_agree_area dd {margin:16px 0 0}
    .important { padding-left:0}

    .point_inq_list li dd strong {margin-right:4px}
    .point_inq_list li dd span {margin-left:4px }
    .point_inq_list li dd strong em {font-size:14px;}
    .point_inq_list li dd span em { font-size:14px;}

    .mypage_point_info ul li dl dd .sep {margin:0 4px}
    .point_shop_wrap .tit_wrap, .myscrap_wrap .tit_wrap {margin-bottom:32px}
    .moa_wrap .tit_wrap {margin-bottom:40px}

    body.is_mobile .moa_list .atcbox .imgbox img.is_pc {display:none}
    body.is_mobile .moa_list .atcbox .imgbox img.is_mobile {display:block }

    .point_save_wrap .tit_wrap .tit { font-size:16px}
    .point_prd_info02 .prd_txt dd.prd_detail ul li span.ptit {min-width:80px;}
	 .body_cont01 .tit_wrap02:first-child { margin-bottom:20px}
    .inp_area .body_cont01 ~ .body_cont01 {margin-top:32px}

	.is_mobile .mypage_point_info .tooltip_layer.is-visible   {width:auto;}
	.pointshop_order .input_type02 li dl dd { padding-right:0;}
	
	.point_shop_wrap .tit_wrap .tit_area .tit span { display:block}
    .moa_wrap .tit_wrap .tit_area .side { display:none}
}

@media (max-width:375px){
    .point_change_cont .p_change .inputbox .inp {width:191px}
}

@media (max-width:320px){
    .point_change_cont .p_change .inputbox .inp { width:100%}
    .point_change_cont .p_change .btn { margin-left:5px}
    .point_change_cont .p_change .unit { margin-left:5px}
    
}
